$spui-DropdownTooltipWithSelect-font: $font-primary;
$spui-DropdownTooltipWithSelect-font-size: 12px;
$spui-DropdownTooltipWithSelect-font-weight: 600;
$spui-DropdownTooltipWithSelect-color: #606266;
$spui-DropdownTooltipWithSelect-colorOnHover: #36a5f2;
$spui-DropdownTooltipWithSelect-colorOnActive: $spui-DropdownTooltipWithSelect-colorOnHover;
$spui-DropdownTooltipWithSelect-row-spacing: 5px;
$spui-DropdownTooltipWithSelect-values-spacing: 3px;
$spui-DropdownTooltipWithSelect-arrow-size: 8px;

.spui-DropdownTooltipWithSelect {
    font-family: $spui-DropdownTooltipWithSelect-font;
    font-weight: $spui-DropdownTooltipWithSelect-font-weight;
    display: inline-flex;
    align-items: center;
    font-size: $spui-DropdownTooltipWithSelect-font-size;
    color: $spui-DropdownTooltipWithSelect-color;
    cursor: pointer;

    &:active {
        color: $spui-DropdownTooltipWithSelect-colorOnActive;
    }

    &__wrapper {
        display: inline-flex;
        align-items: center;
        flex-wrap: wrap;

        &:hover {
            color: $spui-DropdownTooltipWithSelect-colorOnHover;
        }
    }

    &__heading {
        min-height: 18px;
        flex-shrink: 0;
        margin-right: $spui-DropdownTooltipWithSelect-row-spacing;
    }

    &__value {
        border-bottom: 1px solid $spui-DropdownTooltipWithSelect-colorOnActive;
        margin-right: $spui-DropdownTooltipWithSelect-row-spacing;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 140px;
        white-space: nowrap;
        min-height: 18px;
    }

    &__arrow {
        font-size: $spui-DropdownTooltipWithSelect-arrow-size;
        display: inline-flex;
        margin-bottom: 2px;
    }

    &__val {
        white-space: nowrap;
        margin: $spui-DropdownTooltipWithSelect-values-spacing;

        &:hover {
            color: $spui-DropdownTooltipWithSelect-colorOnActive;
        }
    }

    &__multiple {
        display: flex;
        margin-bottom: 8px;
    }

    ::v-deep &__apply {
        margin-top: 14px;
        height: 28px;
    }
}
