<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Блок с видео на странице "О нас"</title>
</head>
<body>

    <h1 class="ds-title">Блок с видео, на странице "О нас"</h1>
    <div class="ds-wrapper">
        <div class="ds-divider">
            <div class="about-us__video">
                <div class="about-us__video-container">
                    <div class="about-us__video-player">
                        <iframe class="about-us__video-youtube" width="560" height="315" 
                            src="https://www.youtube.com/embed/_VPvNKzHyt0" 
                            frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" 
                            allowfullscreen>
                        </iframe> 
                    </div>
                    <div class="about-us__video-bg"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="ds-code-wrapper">
        <script type="text/plain" class="language-markup">
            <!-- Скопировать код элемента сюда -->
        </script>
    </div>



</body>
</html>