<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Окно входа/авторизации</title>
</head>
<body>

    <h1 class="ds-title">Окно входа/авторизации</h1>
    <div class="ds-wrapper" style="background: #4a89dc;">
        <div class="ds-divider" style="background: #4a89dc;">
            <!-- ФОрма компонент -->
            <div class="auth-form__wrap" style="margin: 0 auto;">
                <!-- Табы -->
                <div class="auth-form__tab-container">
                    <input class="auth-form__auth-tabs" type="checkbox" id="auth-tabs">
                    <label class="auth-form__left-tab" for="auth-tabs">Уже есть аккаунт</label>
                    <label class="auth-form__right-tab" for="auth-tabs">Новый аккаунт</label>
                </div>
                <!-- Форма -->
                <!-- Если поля заполнены неверно, присвоить класс .is-error элементу form -->
                <form class="auth-form__form auth-form__form-sign-in">
                    <div class="auth-form__heading">Вход на сайт</div>
                    <!-- Поле логин -->
                    <div class="ds-inputs-form input-login">
                        <input type="text" name="" id="" maxlength="20" minlength="6" required>
                    </div>
                    <!-- Предупреждение -->
                    <span class="auth-form__error-message">Неверный логин или пароль</span>
                    <!-- Поле пароль -->
                    <div class="input-password ds-inputs-form">
                        <input id="ds-inputs-form__input-password" class="ds-inputs-form__input" type="password" maxlength="20" minlength="6" required>
                        <input type="checkbox" name="" id="passEye">
                        <label class="passEye-label" for="passEye"></label>
                    </div>
                    <!-- Чекбокс -->
                    <div class="checkbox auth-form__checkbox">
                        <input class="checkbox__input" type="checkbox" id="chx-01" />
                        <label class="checkbox__label" for="chx-01">Запомнить меня</label>
                    </div>
                    <!-- Если все поля заполнены, добавить кнопке класс .ds-btn_hover -->
                    <button  class="ds-btn auth-form__btn-enter">
                        <div class="ds-btn__text">Вход</div>
                    </button>
                    <a class="auth-form__link link link_colored" href="#">Забыли пароль?</a>
                </form>
                <!-- Форма регистрации -->
                <form class="auth-form__form auth-form__form-sign-up">
                    Sign up
                </form>
            </div>
           
        </div>
    </div>

    <div class="ds-code-wrapper">
        <script type="text/plain" class="language-markup">
            <!-- Скопировать код элемента сюда -->
        </script>
    </div>



</body>
</html>





