<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Двойной ползунок</title>
</head>
<body>

    <h1 class="ds-title">Двойной ползунок</h1>
    <div class="ds-wrapper">
        <div class="ds-divider">
			<div class="input-range">
				<input class="input-range__left" type="range" value="80" min="0" max="100"/>
				<input class="input-range__right" type="range" value="10" min="0" max="100"/>
			</div>
        </div>
    </div>

    <div class="ds-code-wrapper">
        <script type="text/plain" class="language-markup">
			<div class="input-range">
				<input class="input-range__left" type="range" value="80" min="0" max="100"/>
				<input class="input-range__right" type="range" value="10" min="0" max="100"/>
			</div>
		</script>
    </div> 

</body>
</html>