<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap&subset=cyrillic" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>

<body>

    <table align="center" cellpadding="0" cellspacing="0" width="600"
        style="background: url('https://63pokupkifiles.fra1.cdn.digitaloceanspaces.com/email/rating/email_bg.jpg');background-position:  50% 0%;background-size: cover;background-color: #E1F4FF;font-weight: normal;border-collapse: collapse;margin-left: auto;margin-right: auto;padding: 0;font-family: Open Sans, sans-serif;color: #555559;font-size: 16px;line-height: 26px;width: 100%;max-width: 600px;">
        <tr>
            <td
                style="height: 100%;border-collapse: collapse;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #555559;font-family: Open Sans, sans-serif;font-size: 16px;line-height: 26px;">
                <!-- HEader -->
                <center width="600" style="max-width: 600px; width: 100%;">
                    <table
                        style="font-weight: normal;border-collapse: collapse;border: 0;margin: 0;padding: 0;font-family: Open Sans, sans-serif;">
                        <!-- logo -->
                        <tr>
                            <td align="center" style="height: 92px;padding-bottom: 10px;">
                                <img src="https://63pokupkifiles.fra1.cdn.digitaloceanspaces.com/email/rating/email_logo.png"
                                    alt="logo" border="0" width="200" height="70" style="display: block;" />
                            </td>
                        </tr>
                        <!-- img -->
                        <tr>
                            <td align="center">
                                <img src="https://63pokupkifiles.fra1.cdn.digitaloceanspaces.com/email/rating/email_header_img.png"
                                    alt="Ваш уровень" border="0" width="360" height="180" style="display: block;" />
                            </td>
                        </tr>
                        <!-- Heading -->
                        <tr>
                            <td align="center">
                                <h1 style="margin: 0;font-family: Open Sans, sans-serif;font-size: 32px;color: #0085FF;line-height: 36px; text-transform: uppercase;">1 уровень</h1>
                            </td>
                        </tr>
                        <!-- TExt -->
                        <tr>
                            <td
                                style="margin: 0;padding: 3px 50px 0 50px;-webkit-text-size-adjust: none;color: #555559;font-family: Open Sans, sans-serif;font-size: 15px;font-weight: 600;text-align: center;line-height: 26px;">
                                Поздравляем! Сумма Ваших покупок достигла 3 000 руб и Вы перешли на следующий уровень
                                доступа. Вы уже не новичок, а продвинутый пользователь 63pokupki.ru
                            </td>
                        </tr>
                        <!-- TExt -->
                        <tr>
                            <td style="padding: 18px 50px 10px 50px;font-family: Open Sans, sans-serif;text-align: center;font-size: 16px;">
                                <b>
                                    С этого момента Вам больше не нужно вносить предоплату до отправки заявки
                                    поставщику.
                                </b>
                            </td>
                        </tr>
                    </table>

                    <hr size="10" style="height: 10px;border-radius: 0;border: none; background: #B2E3FF;">

                    <!-- Star level -->
                    <table align="left"
                        style="font-weight: normal;border-collapse: collapse;border: 1px solid #629ad6;border: 0;margin: 0 0 15px 55px;padding: 0;font-family: Open Sans, sans-serif;">
                        <!-- Stars -->
                        <tr>
                            <td class="zero" align="center"
                                style="width: 70px;font-family: Open Sans, sans-serif;font-size: 51px;font-weight: 600;color: #4C5866;">0</td>
                            <td class="arrow_right" align="center" style="width: 38px;"><img
                                    src="https://63pokupkifiles.fra1.cdn.digitaloceanspaces.com/email/rating/email_left-arrow.png"
                                    alt="arrow" border="0" width="30" height="30" style="display: block;"></td>
                            <td class="star1" align="center" style="width: 90px;padding: 0 0 0 20px;"><img
                                    src="https://63pokupkifiles.fra1.cdn.digitaloceanspaces.com/email/rating/email_star_1.png"
                                    alt="star" border="0" width="82" height="82" style="display: block;"></td>
                            <td class="arrow_right" align="center" style="width: 38px;padding: 0 2px;"><img
                                    src="https://63pokupkifiles.fra1.cdn.digitaloceanspaces.com/email/rating/email_left-arrow.png"
                                    alt="arrow" border="0" width="30" height="30" style="display: block;"></td>
                            <td class="star2" align="center" style="width: 90px;"><img
                                    src="https://63pokupkifiles.fra1.cdn.digitaloceanspaces.com/email/rating/email_star_2.png"
                                    alt="star" border="0" width="82" height="82" style="display: block;"></td>
                            <td class="arrow_right" align="center" style="width: 38px;padding: 0 5px;"><img
                                    src="https://63pokupkifiles.fra1.cdn.digitaloceanspaces.com/email/rating/email_left-arrow.png"
                                    alt="arrow" border="0" width="30" height="30" style="display: block;"></td>
                            <td class="star3" align="center" style="width: 90px;"><img
                                    src="https://63pokupkifiles.fra1.cdn.digitaloceanspaces.com/email/rating/email_star_3.png"
                                    alt="star" border="0" width="82" height="82" style="display: block;"></td>
                        </tr>
                    </table>
                    <table>
                        <!-- Levels -->
                        <tr align="center" style="padding: 0 auto;line-height: 20px;">
                            <td
                                style="width: 128px;height: 28px;margin: 0 14px; font-size: 18px;white-space: nowrap;border-radius: 15px;background: transparent;white-space: nowrap;font-weight: 600;color:#4C5866">
                                <span style="padding: 0 15px;white-space: nowrap;font-family: Open Sans, sans-serif;">0 уровень</span>
                            </td>
                            <td
                                style="width: 128px;height: 28px;margin: 0 14px; font-size: 18px;white-space: nowrap;border-radius: 15px;background:#0085FF;white-space: nowrap;font-weight: 600;color:#ffffff">
                                <span style="padding: 0 15px;white-space: nowrap;font-family: Open Sans, sans-serif;">1 уровень</span>
                            </td>
                            <td
                                style="width: 128px;height: 28px;margin: 0 14px; font-size: 18px;white-space: nowrap;border-radius: 15px;background: transparent;white-space: nowrap;font-weight: 600;color:#4C5866">
                                <span style="padding: 0 15px;white-space: nowrap;font-family: Open Sans, sans-serif;">2 уровень</span>
                            </td>
                            <td
                                style="width: 128px;height: 28px;margin: 0 14px; font-size: 18px;white-space: nowrap;border-radius: 15px;background: transparent;white-space: nowrap;font-weight: 600;color:#4C5866">
                                <span style="padding: 0 15px;white-space: nowrap;font-family: Open Sans, sans-serif;">3 уровень</span>
                            </td>
                        </tr>

                        <!-- Description header -->
                        <tr align="center" style="font-family: Open Sans, sans-serif;font-size: 12px;line-height: 16px;font-weight: 600;">
                            <td style="padding: 5px 0 0 0;text-align: center;">Оплачено <br> до 3 000 руб.</td>
                            <td style="padding: 5px 0 0 0;text-align: center;color: #0085FF;">Оплачено от <br> 3 000 до 9
                                999 руб.</td>
                            <td style="padding: 5px 0 0 0;text-align: center;">Оплачено от <br> 10 000 до 49 999 руб.
                            </td>
                            <td style="padding: 5px 0 0 0;text-align: center;">Оплачено <br> более 50 000 руб.</td>
                        </tr>
                        <!-- PErcent -->
                        <tr align="center" style="font-family: Open Sans, sans-serif;font-size: 20px;font-weight: 700;">
                            <td style="padding: 7px 0 0 0;color: #4C5866;">90%</td>
                            <td style="padding: 7px 0 0 0;color: #0085FF;">95%</td>
                            <td style="padding: 7px 0 0 0;color: #4C5866;">99%</td>
                            <td style="padding: 7px 0 0 0;color: #4C5866;">100%</td>
                        </tr>
                        <!-- Description footer -->
                        <tr align="center" style="font-size: 12px;font-weight: 600;font-family: Open Sans, sans-serif;line-height: 1;">
                            <td style="padding: 0 10px;white-space: nowrap;color: #4C5866;">доступных товаров</td>
                            <td style="padding: 0 10px;white-space: nowrap;color: #0085FF;">доступных товаров</td>
                            <td style="padding: 0 10px;white-space: nowrap;color: #4C5866;">доступных товаров</td>
                            <td style="padding: 0 10px;white-space: nowrap;color: #4C5866;">доступных товаров</td>
                        </tr>
                    </table>
                    <hr size="10" style="height: 10px;margin: 20px 0;border-radius: 0;border: none; background: #B2E3FF;">
                    <table
                        style="font-weight: normal;border-collapse: collapse;border: 1px solid #629ad6;border: 0;margin: 0;padding: 0;font-family: Open Sans, sans-serif;">
                        <tr>
                            <td
                                style="padding: 0 65px;text-align: center;font-size: 15px;font-weight: 600;color: #4C5866;">
                                Но самое приятное – это доступ к новым закупкам! Дальше – еще интереснее! Для достижения
                                2 уровня Вы должны оплатить заказы на сумму 10 000 рублей.</td>
                        </tr>
                        <!-- Banner -->
                        <tr>
                            <td align="center" style="padding: 20px 0 26px 0;">
                                <a href="https://63pokupki.ru/forum/phpBB3/viewtopic.php?t=740128"
                                    style="width: 550px;height: 115px;border-radius: 15px;font-weight: 600;color: #ffffff;line-height: 30px;-webkit-text-size-adjust:none;display: block;text-decoration: none; background-color: #FF2D39; cursor: pointer;"
                                    target="_blank">
                                    <img src="https://63pokupkifiles.fra1.cdn.digitaloceanspaces.com/email/rating/email_banner.jpg"
                                        alt="banner" width="550" height="117"
                                        style="display:block;background-color: violet;">
                                </a>
                            </td>
                        </tr>
                        <tr align="center" style="height: 50px;">
                            <td bgcolor="#0085FF"
                                style="width: 600px;font-family: Open Sans, sans-serif;font-size: 25px;font-weight: 600;color: #ffffff;text-align: center;">
                                Вперед за выгодными покупками!
                            </td>
                        </tr>
                    </table>
                </center>
            </td>
        </tr>
    </table>

</body>

<div class="ds-code-wrapper">
    <script type="text/plain" class="language-markup">
        <!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap&subset=cyrillic" rel="stylesheet">
</head>

<body style="overflow-x:auto; ">

    <table align="center" cellpadding="0" cellspacing="0"
        style="background: url('https://63pokupkifiles.fra1.cdn.digitaloceanspaces.com/email/rating/email_bg.jpg');background-position:  50% 0%;background-size: cover;background-color: #E1F4FF;font-weight: normal;border-collapse: collapse;margin-left: auto;margin-right: auto;padding: 0;font-family: Open Sans, sans-serif;color: #555559;font-size: 16px;line-height: 26px;width: 600px;max-width: 600px;">
        <tr>
            <td
                style="height: 100%;border-collapse: collapse;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #555559;font-family: Open Sans, sans-serif;font-size: 16px;line-height: 26px;">
                <!-- HEader -->
                <center style="max-width: 600px; width: 100%;">
                    <table
                        style="font-weight: normal;border-collapse: collapse;border: 0;margin: 0;padding: 0;font-family: Open Sans, sans-serif;">
                        <!-- logo -->
                        <tr>
                            <td align="center" style="height: 92px;padding-bottom: 10px;">
                                <img src="https://63pokupkifiles.fra1.cdn.digitaloceanspaces.com/email/rating/email_logo.png"
                                    alt="logo" border="0" width="200" height="70" style="display: block;" />
                            </td>
                        </tr>
                        <!-- img -->
                        <tr>
                            <td align="center">
                                <img src="https://63pokupkifiles.fra1.cdn.digitaloceanspaces.com/email/rating/email_header_img.png"
                                    alt="Ваш уровень" border="0" width="360" height="180" style="display: block;" />
                            </td>
                        </tr>
                        <!-- Heading -->
                        <tr>
                            <td align="center">
                                <h1 style="margin: 0;font-family: Open Sans, sans-serif;font-size: 32px;color: #0085FF;line-height: 36px; text-transform: uppercase;">1 уровень</h1>
                            </td>
                        </tr>
                        <!-- TExt -->
                        <tr>
                            <td
                                style="margin: 0;padding: 3px 50px 0 50px;-webkit-text-size-adjust: none;color: #555559;font-family: Open Sans, sans-serif;font-size: 15px;font-weight: 600;text-align: center;line-height: 26px;">
                                Поздравляем! Сумма Ваших покупок достигла 3 000 руб и Вы перешли на следующий уровень
                                доступа. Вы уже не новичок, а продвинутый пользователь 63pokupki.ru
                            </td>
                        </tr>
                        <!-- TExt -->
                        <tr>
                            <td style="padding: 18px 50px 10px 50px;font-family: Open Sans, sans-serif;text-align: center;font-size: 16px;">
                                <b>
                                    С этого момента Вам больше не нужно вносить предоплату до отправки заявки
                                    поставщику.
                                </b>
                            </td>
                        </tr>
                    </table>

                    <hr size="10" style="height: 10px;border-radius: 0;border: none; background: #B2E3FF;">

                    <!-- Star level -->
                    <table align="left"
                        style="font-weight: normal;border-collapse: collapse;border: 1px solid #629ad6;border: 0;margin: 0 0 15px 55px;padding: 0;font-family: Open Sans, sans-serif;">
                        <!-- Stars -->
                        <tr>
                            <td class="zero" align="center"
                                style="width: 70px;font-family: Open Sans, sans-serif;font-size: 51px;font-weight: 600;color: #4C5866;">0</td>
                            <td class="arrow_right" align="center" style="width: 38px;"><img
                                    src="https://63pokupkifiles.fra1.cdn.digitaloceanspaces.com/email/rating/email_left-arrow.png"
                                    alt="arrow" border="0" width="30" height="30" style="display: block;"></td>
                            <td class="star1" align="center" style="width: 90px;padding: 0 0 0 20px;"><img
                                    src="https://63pokupkifiles.fra1.cdn.digitaloceanspaces.com/email/rating/email_star_1.png"
                                    alt="star" border="0" width="82" height="82" style="display: block;"></td>
                            <td class="arrow_right" align="center" style="width: 38px;padding: 0 12px;"><img
                                    src="https://63pokupkifiles.fra1.cdn.digitaloceanspaces.com/email/rating/email_left-arrow.png"
                                    alt="arrow" border="0" width="30" height="30" style="display: block;"></td>
                            <td class="star2" align="center" style="width: 90px;"><img
                                    src="https://63pokupkifiles.fra1.cdn.digitaloceanspaces.com/email/rating/email_star_2.png"
                                    alt="star" border="0" width="82" height="82" style="display: block;"></td>
                            <td class="arrow_right" align="center" style="width: 38px;padding: 0 12px;"><img
                                    src="https://63pokupkifiles.fra1.cdn.digitaloceanspaces.com/email/rating/email_left-arrow.png"
                                    alt="arrow" border="0" width="30" height="30" style="display: block;"></td>
                            <td class="star3" align="center" style="width: 90px;"><img
                                    src="https://63pokupkifiles.fra1.cdn.digitaloceanspaces.com/email/rating/email_star_3.png"
                                    alt="star" border="0" width="82" height="82" style="display: block;"></td>
                        </tr>
                    </table>
                    <table>
                        <!-- Levels -->
                        <tr align="center" style="padding: 0 auto;line-height: 20px;">
                            <td
                                style="width: 128px;height: 28px;margin: 0 14px; font-size: 18px;white-space: nowrap;border-radius: 15px;background: transparent;white-space: nowrap;font-weight: 600;color:#4C5866">
                                <span style="padding: 0 15px;white-space: nowrap;">0 уровень</span>
                            </td>
                            <td
                                style="width: 128px;height: 28px;margin: 0 14px; font-size: 18px;white-space: nowrap;border-radius: 15px;background:#0085FF;white-space: nowrap;font-weight: 600;color:#ffffff">
                                <span style="padding: 0 15px;white-space: nowrap;">1 уровень</span>
                            </td>
                            <td
                                style="width: 128px;height: 28px;margin: 0 14px; font-size: 18px;white-space: nowrap;border-radius: 15px;background: transparent;white-space: nowrap;font-weight: 600;color:#4C5866">
                                <span style="padding: 0 15px;white-space: nowrap;">2 уровень</span>
                            </td>
                            <td
                                style="width: 128px;height: 28px;margin: 0 14px; font-size: 18px;white-space: nowrap;border-radius: 15px;background: transparent;white-space: nowrap;font-weight: 600;color:#4C5866">
                                <span style="padding: 0 15px;white-space: nowrap;">3 уровень</span>
                            </td>
                        </tr>

                        <!-- Description header -->
                        <tr align="center" style="font-family: Open Sans, sans-serif;font-size: 12px;line-height: 16px;font-weight: 600;">
                            <td style="padding: 5px 0 0 0;text-align: center;">Оплачено <br> до 3 000 руб.</td>
                            <td style="padding: 5px 0 0 0;text-align: center;color: #0085FF;">Оплачено от <br> 3 000 до 9
                                999 руб.</td>
                            <td style="padding: 5px 0 0 0;text-align: center;">Оплачено от <br> 10 000 до 49 999 руб.
                            </td>
                            <td style="padding: 5px 0 0 0;text-align: center;">Оплачено <br> более 50 000 руб.</td>
                        </tr>
                        <!-- PErcent -->
                        <tr align="center" style="font-family: Open Sans, sans-serif;font-size: 20px;font-weight: 700;">
                            <td style="padding: 7px 0 0 0;color: #4C5866;">90%</td>
                            <td style="padding: 7px 0 0 0;color: #0085FF;">95%</td>
                            <td style="padding: 7px 0 0 0;color: #4C5866;">99%</td>
                            <td style="padding: 7px 0 0 0;color: #4C5866;">100%</td>
                        </tr>
                        <!-- Description footer -->
                        <tr align="center" style="font-size: 12px;font-weight: 600;font-family: Open Sans, sans-serif;line-height: 1;">
                            <td style="padding: 0 10px;white-space: nowrap;color: #4C5866;">доступных товаров</td>
                            <td style="padding: 0 10px;white-space: nowrap;color: #0085FF;">доступных товаров</td>
                            <td style="padding: 0 10px;white-space: nowrap;color: #4C5866;">доступных товаров</td>
                            <td style="padding: 0 10px;white-space: nowrap;color: #4C5866;">доступных товаров</td>
                        </tr>
                    </table>
                    <hr size="10" style="height: 10px;margin: 20px 0;border-radius: 0;border: none; background: #B2E3FF;">
                    <table
                        style="font-weight: normal;border-collapse: collapse;border: 1px solid #629ad6;border: 0;margin: 0;padding: 0;font-family: Open Sans, sans-serif;">
                        <tr>
                            <td
                                style="padding: 0 65px;text-align: center;font-size: 15px;font-weight: 600;color: #4C5866;">
                                Но самое приятное – это доступ к новым закупкам! Дальше – еще интереснее! Для достижения
                                2 уровня Вы должны оплатить заказы на сумму 10 000 рублей.</td>
                        </tr>
                        <!-- Banner -->
                        <tr>
                            <td align="center" style="padding: 20px 0 26px 0;">
                                <a href="https://63pokupki.ru/forum/phpBB3/viewtopic.php?t=740128"
                                    style="width: 550px;height: 115px;border-radius: 15px;font-weight: 600;color: #ffffff;line-height: 30px;-webkit-text-size-adjust:none;display: block;text-decoration: none; background-color: #FF2D39; cursor: pointer;"
                                    target="_blank">
                                    <img src="https://63pokupkifiles.fra1.cdn.digitaloceanspaces.com/email/rating/email_banner.jpg"
                                        alt="banner" width="550" height="117"
                                        style="display:block;background-color: violet;">
                                </a>
                            </td>
                        </tr>
                        <tr align="center" style="height: 50px;">
                            <td bgcolor="#0085FF"
                                style="width: 600px;font-family: Open Sans, sans-serif;font-size: 25px;font-weight: 600;color: #ffffff;text-align: center;">
                                Вперед за выгодными покупками!
                            </td>
                        </tr>
                    </table>
                </center>
            </td>
        </tr>
    </table>

</body>
    </script>
</div>