<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Подтверждение пароля</title>
</head>
<body>

    <h1 class="ds-title">Подтверждение пароля</h1>
    <div class="ds-wrapper">
        <div class="ds-divider">

            <body style="padding: 0;margin: 0;min-width: 600px;">
                <!-- Основная таблица -->
                <table style="
                max-width: 600px;
                min-width: 600px;
                border-spacing: 0;
                border-collapse: collapse;
                border-spacing: 0;
                border: none;
                background-color: #ffffff;
                font-family: Helvetica, sans-serif;
                color: #1E2023;
                margin: 0 auto;">
                    <tr>
                        <td>
                            <!-- Вертикальный отступ -->
                            <table style="
                                height: 30px;
                                min-width: 600px;
                                border-spacing: 0;
                                border-collapse: collapse;
                                border-spacing: 0;
                                border: none;
                            ">
                                <tr>
                                    <td width="30" class="margin"></td>

                                    <td>

                                    </td>
                                    <td width="30" class="margin"></td>

                                </tr>

                            </table>

                            <!-- Header -->
                            <table style="
                                height: 100px;
                                min-width: 600px;
                                border-spacing: 0;
                                border-collapse: collapse;
                                border-spacing: 0;
                                border: none;
                            ">
                                <tr>
                                    <td width="30" class="margin"></td>
                                    <td align="left" style="
                                        max-width: 300px;
                                        white-space: normal;
                                        font-size: 30px;
                                        color: #0085FF;">
                                            <span id="name" style="
                                                display: inline-block;
                                                max-width: 500px;
                                                font-weight: 600;
                                                white-space: nowrap;
                                                text-overflow: ellipsis;
                                                overflow: hidden;
                                            ">
                                            <%=USERNAME%>,
                                            </span>
                                    </td>
                                    <!-- Logo -->
                                    <td width="200">
                                        <a href="http://63pokupki.ru" target="_blank" rel="noopener noreferrer">
                                            <img src="https://63pokupkifiles.fra1.cdn.digitaloceanspaces.com/LOGO/logo.png" alt="Логотип 63 покупки">
                                        </a>
                                    </td>

                                </tr>
                                <tr>
                                    <td width="30" class="margin"></td>
                                    <td align="left" style="
                                    font-size: 30px;
                                    color: #0085FF;">
                                        <span id="name">здравствуйте!
                                        </span>
                                    </td>
                                    <td width="245">
                                    </td>
                                </tr>
                            </table>
                            <!-- Table body -->
                            <table style="
                                height: 120px;
                                min-width: 600px;
                                border-spacing: 0;
                                border-collapse: collapse;
                                border-spacing: 0;
                                border: none;
                            ">
                                <tr>
                                    <td width="30" class="margin"></td>
                                    <td style="font-family: Open Sans; font-size: 15px; color: #1E2023;">
                                        Ваш код подтверждения для смены пароля
                                    </td>
                                </tr>
                                <tr>
                                    <td width="30" class="margin"></td>
                                    <td style="font-family: Open Sans; font-weight: 600; font-size: 22px; color: #0085FF;">
                                        <%=CODE_NUMBER%>
                                    </td>
                                </tr>

                            </table>
                            <!-- Вертикальный отступ -->
                            <table style="
                                height: 50px;
                                min-width: 600px;
                                border-spacing: 0;
                                border-collapse: collapse;
                                border-spacing: 0;
                                border: none;
                            ">
                                <tr>
                                    <td width="30" class="margin"></td>

                                    <td style="border-bottom: 1px solid #36A6F2;">

                                    </td>
                                    <td width="30" class="margin"></td>

                                </tr>

                            </table>

                            <!-- Футер -->
                            <table style="
                                height: 70px;
                                min-width: 600px;
                                border-spacing: 0;
                                border-collapse: collapse;
                                border-spacing: 0;
                                border: none;
                            ">
                                <tr>
                                    <td width="30" class="margin"></td>

                                    <td style="font-family: Open Sans; font-size: 15px; color: #1E2023;">
                                        Так же рекомендуем посмотреть
                                    </td>
                                </tr>
                            </table>

                            <!-- banner -->
                            <table style="
                                height: 110px;
                                min-width: 600px;
                                border-spacing: 0;
                                border-collapse: collapse;
                                border-spacing: 0;
                                border: none;
                            ">
                                <tr>
                                    <td align="center" >
                                        <a href="https://63pokupki.ru/purchases?tags=15" target="_blank" rel="noopener noreferrer">
                                            <img src="https://63pokupkifiles.fra1.cdn.digitaloceanspaces.com/email/for_beginners/email-for-beginners-banner.png" alt="">
                                        </a>
                                    </td>
                                </tr>
                            </table>
                            <!-- Вертикальный отступ -->
                            <table style="
                                height: 50px;
                                min-width: 600px;
                                border-spacing: 0;
                                border-collapse: collapse;
                                border-spacing: 0;
                                border: none;
                            ">
                                <tr>
                                    <td width="30" class="margin"></td>

                                    <td>

                                    </td>
                                    <td width="30" class="margin"></td>

                                </tr>

                            </table>


                        </td>

                    </tr>
                </table>
            </body>


        </div>
    </div>

    <div class="ds-code-wrapper">
        <script type="text/plain" class="language-markup">
            <!-- Скопировать код элемента сюда -->
            <!DOCTYPE html>
            <html lang="en">
            <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <meta http-equiv="X-UA-Compatible" content="ie=edge">
                <title>Подтверждение пароля</title>
            </head>
            <body style="padding: 0;margin: 0;min-width: 600px;">
                <!-- Основная таблица -->
                <table style="
                max-width: 600px;
                min-width: 600px;
                border-spacing: 0;
                border-collapse: collapse;
                border-spacing: 0;
                border: none;
                background-color: #ffffff;
                font-family: Helvetica, sans-serif;
                color: #1E2023;
                margin: 0 auto;">
                    <tr>
                        <td>
                            <!-- Header -->
                            <table style="
                                height: 100px;
                                min-width: 600px;
                                border-spacing: 0;
                                border-collapse: collapse;
                                border-spacing: 0;
                                border: none;
                            ">
                                <tr>
                                    <td width="30" class="margin"></td>
                                    <td align="left" style="
                                        max-width: 300px;
                                        white-space: normal;
                                        font-size: 30px;
                                        color: #0085FF;">
                                            <span id="name" style="
                                                display: inline-block;
                                                max-width: 500px;
                                                font-weight: 600;
                                                white-space: nowrap;
                                                text-overflow: ellipsis;
                                                overflow: hidden;
                                            ">
                                            <%=USERNAME%>,
                                            </span>
                                    </td>
                                    <td width="245">
                                        <a href="http://63pokupki.ru" target="_blank" rel="noopener noreferrer">
                                            <img src="https://63pokupkifiles.fra1.cdn.digitaloceanspaces.com/LOGO/logo.png" alt="Логотип 63 покупки">
                                        </a>
                                    </td>

                                </tr>
                                <tr>
                                    <td width="30" class="margin"></td>
                                    <td align="left" style="
                                    font-size: 30px;
                                    color: #0085FF;">
                                        <span id="name">здравствуйте!
                                        </span>
                                    </td>
                                    <td width="245">
                                    </td>
                                </tr>
                            </table>
                            <!-- Table body -->
                            <table style="
                                height: 120px;
                                min-width: 600px;
                                border-spacing: 0;
                                border-collapse: collapse;
                                border-spacing: 0;
                                border: none;
                            ">
                                <tr>
                                    <td width="30" class="margin"></td>
                                    <td style="font-family: Open Sans; font-size: 15px; color: #1E2023;">
                                        Ваш код подтверждения для смены пароля
                                    </td>
                                </tr>
                                <tr>
                                    <td width="30" class="margin"></td>
                                    <td style="font-family: Open Sans; font-weight: 600; font-size: 22px; color: #0085FF;">
                                        <%=CODE_NUMBER%>
                                    </td>
                                </tr>

                            </table>
                            <!-- Вертикальный отступ -->
                            <table style="
                                height: 50px;
                                min-width: 600px;
                                border-spacing: 0;
                                border-collapse: collapse;
                                border-spacing: 0;
                                border: none;
                            ">
                                <tr>
                                    <td width="30" class="margin"></td>

                                    <td style="border-bottom: 1px solid #36A6F2;">

                                    </td>
                                    <td width="30" class="margin"></td>

                                </tr>

                            </table>

                            <!-- Футер -->
                            <table style="
                                height: 70px;
                                min-width: 600px;
                                border-spacing: 0;
                                border-collapse: collapse;
                                border-spacing: 0;
                                border: none;
                            ">
                                <tr>
                                    <td width="30" class="margin"></td>

                                    <td style="font-family: Open Sans; font-size: 15px; color: #1E2023;">
                                        Так же рекомендуем посмотреть
                                    </td>
                                </tr>
                            </table>

                            <!-- banner -->
                            <table style="
                                height: 110px;
                                min-width: 600px;
                                border-spacing: 0;
                                border-collapse: collapse;
                                border-spacing: 0;
                                border: none;
                            ">
                                <tr>
                                    <td align="center" >
                                        <a href="https://63pokupki.ru/purchases?tags=15" target="_blank" rel="noopener noreferrer">
                                            <img src="https://63pokupkifiles.fra1.cdn.digitaloceanspaces.com/email/for_beginners/email-for-beginners-banner.png" alt="">
                                        </a>
                                    </td>
                                </tr>
                            </table>
                            <!-- Вертикальный отступ -->
                            <table style="
                                height: 50px;
                                min-width: 600px;
                                border-spacing: 0;
                                border-collapse: collapse;
                                border-spacing: 0;
                                border: none;
                            ">
                                <tr>
                                    <td width="30" class="margin"></td>

                                    <td>

                                    </td>
                                    <td width="30" class="margin"></td>

                                </tr>

                            </table>


                        </td>

                    </tr>
                </table>
            </body>
            </html>
        </script>
    </div>



</body>
</html>