<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body style="overflow-x:auto;">

    <table align="center" cellpadding="0" cellspacing="0"
        style="font-weight: normal;border-collapse: collapse;margin-left: auto;margin-right: auto;padding: 0;font-family: Arial, sans-serif;color: #555559;background-color: #E1F4FF;font-size: 16px;line-height: 26px;width: 600px;">
        <tr>
            <td
                style="height: 100%;border-collapse: collapse;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 26px;">
                <!-- HEader -->
                <center style="max-width: 600px; width: 100%;">
                    <table
                        style="font-weight: normal;border-collapse: collapse;border: 0;margin: 0;padding: 0;font-family: Arial, sans-serif;">
                        <!-- logo -->
                        <tr>
                            <td align="center">
                                <img src="" 
                                     alt="logo" border="0" width="100" height="30" style="display: block;"/>
                            </td>
                        </tr>
                        <!-- img -->
                        <tr>
                            <td align="center">
                                <img src="" 
                                    alt="Ваш уровень" border="0" width="360" height="180" style="display: block;"/>
                            </td>
                        </tr>
                        <!-- Heading -->
                        <tr>
                            <td align="center">
                                <h1 style="font-size: 32px;color: #0085FF;line-height: 63px;">1 уровень</h1>
                            </td>
                        </tr>
                        <!-- TExt -->
                        <tr>
                            <td style="margin: 0;padding: 0 40px;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 15px;text-align: center;line-height: 26px;">
                                Поздравляем! Сумма Ваших покупок достигла 3 000 руб и Вы перешли на следующий уровень доступа. Вы уже не новичок, а продвинутый пользователь 63pokupki.ru
                            </td>
                        </tr>
                        <!-- TExt -->
                        <tr>
                            <td style="padding: 0 40px;text-align: center;font-size: 17px;">
                                <b>
                                    С этого момента Вам больше не нужно вносить предоплату до отправки заявки поставщику.
                                </b>
                            </td>
                        </tr>    
                    </table>

                    <hr size="10" color="#B2E3FF">

                    <!-- Star level -->
                    <table
                        style="font-weight: normal;border-collapse: collapse;border: 1px solid #629ad6;border: 0;margin: 0;padding: 0;font-family: Arial, sans-serif;">
                        <!-- Stars -->
                        <tr>
                            <td>

                            </td>
                            <td><img src="" alt="star" border="0" width="85" height="85" style="display: block;"></td>
                            <td><img src="" alt="star" border="0" width="85" height="85" style="display: block;"></td>
                            <td><img src="" alt="star" border="0" width="85" height="85" style="display: block;"></td>
                            <td><img src="" alt="star" border="0" width="85" height="85" style="display: block;"></td>
                            <td><img src="" alt="star" border="0" width="85" height="85" style="display: block;"></td>
                            <td><img src="" alt="star" border="0" width="85" height="85" style="display: block;"></td>
                        </tr>
                        <!-- Levels -->
                        <tr>
                            <td>0 уровень</td>
                            <td>1 уровень</td>
                            <td>2 уровень</td>
                            <td>3 уровень</td>
                        </tr>
                        <!-- Description header -->
                        <tr>
                            <td>

                            </td>
                        </tr>
                        <!-- PErcent -->
                        <tr>
                            <td>

                            </td>
                        </tr>
                        <!-- Description footer -->
                        <tr>
                            <td>

                            </td>
                        </tr>  
    
    
                    </table>
                    <hr size="10" color="#B2E3FF">
                    <table
                        style="font-weight: normal;border-collapse: collapse;border: 1px solid #629ad6;border: 0;margin: 0;padding: 0;font-family: Arial, sans-serif;">
                    <tr>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#0085FF" style="width: 600px;">ghghfhfgh</td>
                    </tr>
                    </table>

                </center>
            </td>
        </tr>
    </table>

</body>