<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Основные цвета для Сани</title>
</head>
<body>

    <h1 class="ds-title">Основные цвета для Сани</h1>
    <div class="ds-wrapper">
        <div class="ds-divider">
            <div class="color-container">
                <div class="color-block">
                    <div class="color-block__txt"></div>
                </div>
                <div class="color-block">
                    <div class="color-block__txt"></div>
                </div>
                <div class="color-block">
                    <div class="color-block__txt"></div>
                </div>
                <div class="color-block">
                    <div class="color-block__txt"></div>
                </div>
                <div class="color-block">
                    <div class="color-block__txt"></div>
                </div>
                <div class="color-block">
                    <div class="color-block__txt"></div>
                </div>
                <div class="color-block">
                    <div class="color-block__txt"></div>
                </div>
                <div class="color-block">
                    <div class="color-block__txt"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="ds-code-wrapper">
        <script type="text/plain" class="language-markup">
            <!-- Скопировать код элемента сюда -->
        </script>
    </div>



</body>
</html>