$ButtonFontSize: 12px;
$ButtonFontSizeIcon: 14px;
$ButtonFontWeight: 600;
$ButtonBorderRadius: 24px;
$ButtonPadding: 0 12px 1px 12px;
$ButtonHeight: 32px;
$ButtonMinWidth: 128px;
$ButtonColorPrimary: #36a6f2;
$ButtonColorClick: #0080f6;
$ButtonColorOutlined: transparent;
$ButtonFontFamily: $font-primary;

@keyframes ButtonIsLoading {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(100%);
    }
}

%ButtonIsLoadingAnimation {
    position: relative;
    overflow: hidden;

    &::after {
        animation: ButtonIsLoading 1s infinite;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transform: translateX(-100%);
        z-index: 1;
        background: linear-gradient(90deg, transparent, hsla(0, 0%, 100%, 0.3), transparent);
    }
}

/** Состояния */
%spui-Button_primary {
    border: 1px solid $ButtonColorPrimary;
    background-color: $ButtonColorPrimary;
    color: #fff;
}

%spui-Button_outline {
    border: 1px solid $ButtonColorPrimary;
    background-color: $ButtonColorOutlined;
    color: $ButtonColorPrimary;
}

%spui-Button_active {
    border: 1px solid $ButtonColorClick;
    background-color: $ButtonColorClick;
    color: #fff;
}

%spui-Button_loading {
    @extend %ButtonIsLoadingAnimation;

    cursor: unset;
}

%spui-Button_disabled {
    background-color: transparentize($ButtonColorPrimary, 0.5);
    color: #fff;
    border: 1px solid transparent;
    cursor: unset;
}

/** Базовые стили */
.spui-Button {
    @extend %reset-button;

    font-size: $ButtonFontSize;
    border-radius: $ButtonBorderRadius;
    padding: $ButtonPadding;
    font-family: $ButtonFontFamily;
    display: flex;
    align-items: center;
    justify-content: center;
    height: $ButtonHeight;
    min-width: $ButtonMinWidth;
    font-weight: $ButtonFontWeight;
    transition: background-color 0.25s ease;

    &:hover {
        transition: background-color 0.25s ease;
    }

    &.is-loading {
        @extend %spui-Button_loading;
        @extend %spui-Button_active;
    }

    &.is-disabled {
        @extend %spui-Button_disabled;
    }

    .ds-icon {
        font-size: $ButtonFontSizeIcon;
    }
}

.spui-Button_primary {
    @extend %spui-Button_primary;

    &:active {
        @extend %spui-Button_active;
    }
}

.spui-Button_outlined {
    @extend %spui-Button_outline;

    &:hover {
        @extend %spui-Button_primary;
    }

    &:active {
        @extend %spui-Button_active;
    }
}

.spui-Button_block {
    width: 100%;
}

.spui-Button_icon-right {
    .spui-Button__icon {
        margin-left: 5px;
    }
}

.spui-Button_icon-left {
    .spui-Button__icon {
        margin-right: 5px;
    }
}
