

.cart__filtering {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 30px;
    height: 56px;
    box-shadow: 0 2px 16px rgba(105, 153, 247, 0.18);
    margin-bottom: 32px;

    // Чекбоксы
    .checkbox {
        margin: 0 25px 0 0;
    }

    .checkbox__label {
        font-size: 14px;
        font-weight: 600;
        color: $color-primary;
    }
    .checkbox__label-all {
        color: $color-text-heading;
    }
    // Поиск
    .search {
        max-width: 168px;
        margin: 0 0 0 20px;
        input {
            height: 24px;
        }
    }
    .search__button {
        right: 10px;
        img {
            max-width: 20px;
        }
    }
    .search__bar {
        padding-left: 15px;
        padding-right: 40px;
    }
    .tooltip {
        min-width: 240px;
    }
}
