.cart {
    
    p {
        margin: 0;
    }

    &__txt {
        font-size: 14px;
        color: $color-text-heading;
    }
    &__txt_small {
        font-size: 11px;
    }
    &__txt_middle {
        font-size: 12px;
    }

    &__txt_grey {
        color: $color-text-light-grey;
    }

    &__num-goods-in-purchase {
        display: flex;
        justify-content: space-between;
        span {
            font-weight: 600;
        }
    }

}

