.cart {

    &__order-payment {    
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        max-width: 352px;
        padding: 0 0 15px 0;
        box-shadow: 0px 2px 16px rgba(105, 153, 247, 0.18);
     
        &-attantion {
            width: 100%;
            min-height: 40px;
            padding: 2px 30px;
            background: linear-gradient(266deg, rgba(255,114,165,1) 0%, rgba(255,96,86,1) 100%);
            font-size: 12px;
            font-weight: 600;
            color: #ffffff;
            position: relative;
            p {
                max-width: 250px;
                margin: 0;
                text-align: left;            
            }
            .icon-question-mark {
                position: absolute;
                top: 11%;
                right: 44px;
                font-size: 30px;            
            }
            .icon-rectangle {
                position: absolute;
                right: 30px;
                top: 40%;
                font-size: 8px;
                transform: rotate(270deg);
            }
        }
    
        .hr {
            width: calc(100% - 30px);
            margin: 15px 0;
            border-top: 1px solid #B9E0FA;
        }
        
        .dots {
            position: relative;
            &::after {
                content: "";
                display: block;
                height: 20px;
                left: 0;
                width: 100%;
                border-bottom: 2px dotted #ccc;
                bottom: 5px;
                position: absolute;
            }
            span {                
                background: $background-color-primary;
                z-index: 5;
            }
            &_pl {
                padding: 0 0 0 5px;
            }
            &_pr {
                padding: 0 5px 0 0;
            }
        }
                
    }

    &__row-jcsb {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        margin: 5px 0;
    }

    &__num-goods-in-purchase {
        display: flex;
        justify-content: space-between;
        margin: 0 0 5px 0;
    }

    &__total-price-purchase {
        margin: 0 0 0 40px;
    }
    &__sum-wrapper {
        width: 100%;
        padding: 0 33px 0 33px;
    }
    &__sum {
        margin: 0;
        padding: 0 33px 0 33px;
        font-size: 16px;
        font-weight: 600;
    }

    &__pickup-address {
        position: relative;
        .icon-rectangle {
            position: absolute;
            top: 4px;
            right: -15px;
            transform: rotate(270deg);
            font-size: 8px;
            -webkit-transform: rotate(270deg);
            -moz-transform: rotate(270deg);
            -ms-transform: rotate(270deg);
            -o-transform: rotate(270deg);
}
    }

    &__collapse-block {
        padding: 0 0 10px 0;
        box-shadow: none;
        .arrow {
            height: 21px;
            top: 0px;
            right: 100px;
        }
        .icon-arrow-down {
            font-size: 8px;
            color: $color-text-heading;
        }
        .collapse-block__content {
            margin: 0;
        }
        .collapse-block-css__toggle-btn {            
            top: 2px;
            right: 200px;
            
            // Тогл кнопка для Товаров в закупке
            &.btn-num-goods {
                top: -3px;
                right: 115px;
            }       

        }
    }


    &__btn-place-order {
        width: 100%;
        max-width: 288px;
        height: 40px;
        margin: 15px auto;
        .ds-btn__text {
            font-size: 14px;
            font-weight: 600;
        }
        &.ds-btn_disabled {
            background: rgba(54, 166, 242, 0.5);
            border: none;
            .ds-btn__text {
                color: #ffffff;
            }
        }
    }

    &__order-payment-promo-code {
        margin: 0 0 14px 0;
    }

    &__order-number {
        margin: 0;
        font-size: 14px;
        font-weight: 600;
        text-decoration: underline;
    }
}


