
.cart {
    &__purchase {
        padding: 22px;
        position: relative;

        .rating-star-org {
            margin: 0 15px 0 10px;
        }

        .stock-brief__org {
            margin: 0;
        }

        .rating-star-org__value {
            font-size: 14px;
            font-weight: 600;
            color: #000000;
        }

        .ds-purchase-status__txt {
            font-size: 14px;
        }
        .collapse-block-css__header {
            z-index: 1;
        }
        .collapse-block-css__header-content {
            display: flex;
            width: 100%;
        }
        .collapse-block-css__header-content-item {
            &:nth-of-type(1) {
                width: 35%
            }

            &:nth-of-type(2) {
                width: 28%;
            }

            .cart__pickup-address {
                margin-top: 10px;
                margin-bottom: 5px;
                display: block;
            }
        }

        .collapse-block-css__toggle-btn {
            top: 5px;
            right: 15px;
            cursor: pointer;
        }

        .org-profile__name {
            margin-bottom: 0;
        }


        &-heading-terms,
        &-heading-comments {
            font-size: 12px;
            font-weight: 600;
            color: $color-text-heading;
            text-decoration: underline;
        }
        .tooltip {
            top: -3px;
        }
    }

    &__header-status-purchase {
        display: flex;
        align-items: center;
        margin: 0 0 15px 0;
    }
    &__purhase-heading {
        max-width: 360px;
        margin: 0 0 0 50px;
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
    }
    &__purchase-heading-terms {
        margin: 0 20px 0 0;
    }

    &__purchase-content-header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 40px;
        font-size: 11px;
        color: $color-text-heading;
        border-top: 1px solid #b9e0fa;

        .first {
            margin-left: 125px;
            margin-right: -125px;
        }
    }
    &__purchase-col-50 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
    }
    &__purchase-col-16 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 16.5%;
    }

}

