
.cart__order-payment {    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 352px;
    box-shadow: 0px 2px 16px rgba(105, 153, 247, 0.18);

    p {
        margin: 0;
    }

    &-attantion {
        width: 100%;
        min-height: 40px;
        padding: 2px 30px;
        background: linear-gradient(266deg, rgba(255,114,165,1) 0%, rgba(255,96,86,1) 100%);
        font-size: 12px;
        font-weight: 600;
        color: #ffffff;
        p {
            max-width: 250px;
            text-align: left;
        }
    }

    .cart__btn-place-order {
        width: 100%;
        max-width: 288px;
        height: 40px;
        .ds-btn__text {
            font-size: 14px;
            font-weight: 600;
        }
        &.ds-btn_disabled {
            background: rgba(54, 166, 242, 0.5);
            border: none;
            .ds-btn__text {
                color: #ffffff;
            }
        }
    }
    .hr {
        width: calc(100% - 30px);
        margin: 10px 0;
        border-top: 1px solid #B9E0FA;
    }

    .cart__collapse-block {
        padding: 10px 30px;
        .arrow {
            top: 0px;
            right: 135px;
        }
        .icon-arrow-down {
            font-size: 8px;
            color: $color-text-heading;
        }
        .collapse-block__content {
            margin: 0;
        }
    }
    .cart__total-price-purchase {
        margin: 0 0 0 40px;
    }

}


