.cart {
    &__item-card {
        display: flex;
        flex-direction: column;
        padding: 10px;
        border-top: 1px solid #b9e0fa;
        &:hover {
            background: #ebf6fe;
            .btn-sum__sum-num {
                background: #ebf6fe;
            }
        }
    }
    &__item-card-top {
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }
    &__item-card-icons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 20px;
        margin: 0 10px 0 0;
    }
    &__item-image {
        margin: 0 25px 0 0;        
        img {
            max-height: 80px;
        }
    }
    &__item-status {
        display: flex;
        flex-direction: column;
        font-size: 11px;
        color: $color-text-heading;
        margin: 0 0 10px 0;
    }
    &__item-title {
        max-width: 190px;
        font-size: 12px;
        line-height: 16px;
        color: $color-text-heading;
    }
    &__item-card-quantity {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btn-sum__sum-num {
        padding: 1px 0 0 0;
        font-size: 14px;
    }
    .btn-sum__plus,
    .btn-sum__minus {
        width: 16px;
        height: 16px;
        min-width: 16px;
        background: #fff;
        border: 1px solid #90c5e8;
        &:before,
        &:after {
            width: 8px;
            background: #90c5e8;
        }
    }
    .btn-sum__minus {
        &:before,
        &:after {
            width: 5px;
        }
    }
    &__item-card-price {
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
            font-size: 12px;
            color: $color-text-heading;
        }
        span {
            font-size: 11px;
            color: $color-text-light-grey;
        }
    }

    &__purchase-col-50 {
        justify-content: flex-start;
    }

    // Ряды
    .stock-rows {
        align-items: center;
    }
    .stock-rows-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .stock-rows__numeration {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        padding: 0 3px 0 5px;
    }
    .stock-rows__numeration-label,
    .stock-rows__num {
        margin-bottom: 0;
    }

    .cart__item-status-new,
    .cart__item-status-give-out {
        display: none;
        position: relative;
        padding: 0 0 0 20px;
        &.is-active {
            display: flex;
        }
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 16px;
            height: 16px;
            border-radius: 50%;            
        }
    }
    .cart__item-status-new {
        &:after {
            background: #00C533;
        }
    }
    .cart__item-status-give-out {
        &:after {
            background: #CC6BF9;
        }
    }
    .icon-close {
        width: 12px;
        height: 12px;
        margin: 10px 0 10px 0;        
        &:after,
        &:before {
            background-color: $color-inactive;
        }
    }
    
    .icon-order-history {
        text-decoration: none;
    }

}


