<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Onboarding</title>
</head>

<body>
    <div class="onboarding-template__content">
        <div class="onboarding-template__heading">
            Привет!
        </div>
        <div class="onboarding-template__heading">
            Это наша новая страница закупки.
        </div>
        <p class="onboarding-template__accent">Что изменилось:</p>
        <ol class="onboarding-template__list">
            <li>Товары и описание закупки <b>теперь на одной странице</b></li>
            <li>Теперь <b>нет отдельного списка заказов</b> других участников. Такие товары отмечены синим значком и отображаются в начале каталога</li>
            <li><b>Ряды можно смотреть прямо в карточке товара</b>
                и делать сортировку по заполненности рядов</b></li>
        </ol>
        <p class="text-bold">Хотите подробнее?</p>
    </div>
    <!--  -->
    <div class="onboarding-template__content">
        <div class="onboarding-template__heading">
            Теперь вы знаете самое необходимое!
        </div>
        <p>Краткий видеообзор по новой странице закупки можно посмотреть <a target="_blank" href="#" class="link"></a>здесь.</p>
        <p>Бежим заказывать!</p>
    </div>
</body>

</html>