<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Карточка товара в корзине</title>
</head>
<body>

    <h1 class="ds-title">Карточка товара в корзине</h1>
    <div class="ds-wrapper">
        <div class="cart">
            <div class="cart__item-card">
            <div class="cart__item-card-icons"></div>
                <div class="cart__item-card-description"></div>
                <div class="cart__item-card-quantity"></div>
                <div class="cart__item-card-price"></div>

            </div>
        </div>
    </div>

    <div class="ds-code-wrapper">
        <script type="text/plain" class="language-markup">
            <!-- Скопировать код элемента сюда -->
        </script>
    </div>



</body>
</html>