<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Карточка закупки в корзине</title>
</head>
<body>

    <h1 class="ds-title">Карточка закупки в корзине</h1>
    <div class="ds-wrapper">
        <div class="ds-divider">
            <div class="cart__purchase collapse-block-css">
                <input class="toggle-chx" type="checkbox" name="" id="toggle-chx">
                <label class="collapse-block-css__toggle-btn" for="toggle-chx">
                    <i class="ds-icon icon-arrow-down"></i>
                </label>
                <!-- <i class="ds-icon icon-arrow-down"></i> -->
                <div class="collapse-block-css__header">
                    <div class="collapse-block-css__header-content">
                        <!-- Левый блок -->
                        <div class="cart__purchase-header-content-l">
                            <div class="cart__header-status-purchase">
                                <!-- Контейнер статусов -->
                                <div class="ds-purchase-status-container">
                                    <!-- Сбор -->
                                    <div class="ds-purchase-status  is-active">
                                        <div class="ds-purchase-status__container ds-purchase-status__assembling">
                                            <i class="ds-icon icon-box ds-purchase-status__assembling-icon"></i>
                                            <span class="ds-purchase-status__txt ds-purchase-status__assembling-txt">Сбор c</span>
                                            <span class="ds-purchase-status__date ds-purchase-status__assembling-date">13.02.2020</span>
                                        </div>
                                    </div>
                                    <!-- Скоро стоп -->
                                    <div class="ds-purchase-status ">
                                        <div class="ds-purchase-status__container ds-purchase-status__stop">
                                            <i class="ds-icon icon-box ds-purchase-status__stop-icon"></i>
                                            <span class="ds-purchase-status__txt ds-purchase-status__stop-txt">Скоро стоп c</span>
                                            <span class="ds-purchase-status__date ds-purchase-status__stop-date">13.02.2020</span>
                                        </div>
                                    </div>
                                    <!-- Фиксирую -->
                                    <div class="ds-purchase-status ">
                                        <div class="ds-purchase-status__container ds-purchase-status__fix">
                                            <i class="ds-icon icon-box ds-purchase-status__fix-icon"></i>
                                            <span class="ds-purchase-status__txt ds-purchase-status__fix-txt">Фиксирую c</span>
                                            <span class="ds-purchase-status__date ds-purchase-status__fix-date">13.02.2020</span>
                                        </div>
                                    </div>
                                    <!-- Сортировка -->
                                    <div class="ds-purchase-status ">
                                        <div class="ds-purchase-status__container ds-purchase-status__sorting">
                                            <i class="ds-icon icon-sort ds-purchase-status__sorting-icon"></i>
                                            <span class="ds-purchase-status__txt ds-purchase-status__sorting-txt">Сортировка c</span>
                                            <span class="ds-purchase-status__date ds-purchase-status__sorting-date">13.02.2020</span>
                                        </div>
                                    </div>
                                    <!-- Не состоялась -->
                                    <div class="ds-purchase-status ">
                                        <div class="ds-purchase-status__container ds-purchase-status__fail">
                                            <i class="ds-icon icon-stop ds-purchase-status__fail-icon"></i>
                                            <span class="ds-purchase-status__txt ds-purchase-status__fail-txt">Не состоялась c</span>
                                            <span class="ds-purchase-status__date ds-purchase-status__fail-date">13.02.2020</span>
                                        </div>
                                    </div>
                                    <!-- Сдано на доставку в пункты -->
                                    <div class="ds-purchase-status ">
                                        <div class="ds-purchase-status__container ds-purchase-status__delivery">
                                            <i class="ds-icon icon-boxes ds-purchase-status__delivery-icon"></i>
                                            <span class="ds-purchase-status__txt ds-purchase-status__delivery-txt">Сдано на доставку в
                                                пункты c</span>
                                            <span class="ds-purchase-status__date ds-purchase-status__delivery-date">13.02.2020</span>
                                        </div>
                                    </div>
                                    <!-- Ожидание груза -->
                                    <div class="ds-purchase-status">
                                        <div class="ds-purchase-status__container ds-purchase-status__waiting-cargo">
                                            <i class="ds-icon icon-car ds-purchase-status__waiting-cargo-icon"></i>
                                            <span class="ds-purchase-status__txt ds-purchase-status__waiting-cargo-txt">Ожидание груза
                                                c</span>
                                            <span class="ds-purchase-status__date ds-purchase-status__waiting-cargo-date">13.02.2020</span>
                                        </div>
                                    </div>
                                    <!-- Ожидание счёта -->
                                    <div class="ds-purchase-status ">
                                        <div class="ds-purchase-status__container ds-purchase-status__waiting-acc">
                                            <i class="ds-icon icon-sandglass ds-purchase-status__waiting-acc-icon"></i>
                                            <span class="ds-purchase-status__txt ds-purchase-status__waiting-acc-txt">Ожидание счёта
                                                c</span>
                                            <span class="ds-purchase-status__date ds-purchase-status__waiting-acc-date">13.02.2020</span>
                                        </div>
                                    </div>
                                    <!-- Оплата -->
                                    <div class="ds-purchase-status ">
                                        <div class="ds-purchase-status__container ds-purchase-status__payment">
                                            <i class="ds-icon icon-ruble ds-purchase-status__payment-icon"></i>
                                            <span class="ds-purchase-status__txt ds-purchase-status__payment-txt">Оплата c</span>
                                            <span class="ds-purchase-status__date ds-purchase-status__payment-date">13.02.2020</span>
                                        </div>
                                    </div>
                                    <!-- Заказ в пункте выдачи -->
                                    <div class="ds-purchase-status ">
                                        <div class="ds-purchase-status__container ds-purchase-status__in-point">
                                            <i class="ds-icon icon-map-mark ds-purchase-status__in-point-icon"></i>
                                            <span class="ds-purchase-status__txt ds-purchase-status__in-point-txt">Заказ в пункте выдачи
                                                c</span>
                                            <span class="ds-purchase-status__date ds-purchase-status__in-point-date">13.02.2020</span>
                                        </div>
                                    </div>
                                    <!-- Дозаказ -->
                                    <div class="ds-purchase-status">
                                        <div class="ds-purchase-status__container ds-purchase-status__add-order">
                                            <i class="ds-icon icon-purchase-status-add-order ds-purchase-status__add-order-icon"></i>
                                            <span class="ds-purchase-status__txt ds-purchase-status__add-order-txt">Дозаказ
                                                c</span>
                                            <span class="ds-purchase-status__date ds-purchase-status__add-order-date">13.02.2020</span>
                                        </div>
                                    </div>
                                    <!-- НА редактировании -->
                                    <div class="ds-purchase-status">
                                        <div class="ds-purchase-status__container ds-purchase-status__edit">
                                            <i class="ds-icon icon-purchase-status-edit ds-purchase-status__edit-icon"></i>
                                            <span class="ds-purchase-status__txt ds-purchase-status__edit-txt">На редактировании
                                                c</span>
                                            <span class="ds-purchase-status__date ds-purchase-status__edit-date">13.02.2020</span>
                                        </div>
                                    </div>

                                </div>
                                <!-- Рейтинг -->
                                <div class="rating-star-org">
                                    <i class="rating-star-org__icon ds-icon icon-star"></i>
                                    <div class="rating-star-org__value">4.9</div>
                                </div>
                                <!-- Избранное -->
                                <div class="favorite favorite__cart stock-brief__favorite">
                                    <i class="like__icon ds-icon icon-heart"></i>
                                    <div class="favorite__text">
                                        <button class="link favorite__action">В избранное</button>
                                        <span class="favorite__already">960 уже добавили
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- Ограничиваем 83мя символами -->
                            <div class="cart__purhase-heading">
                                Название закупки в 150 NIKE символов очень длинные и забавные названия, а так же ко...
                            </div>
                        </div>
                        <!-- Правый блок -->
                        <div class="collapse-block-css__header-content-r">
                            <div class="org-profile stock-brief__org">
                                <div class="org-profile__image-wrapper">
                                    <a href="/forum/phpBB3/memberlist.php?mode=viewprofile&amp;u=362663">
                                        <img class="org-profile__image" src="https://63pokupki.ru/forum/phpBB3/download/file.php?avatar=362663_1544302862.png" alt="Августина">
                                    </a>
                                    <i class="ds-icon icon-star rating-star org-profile__rating has-tooltip">
                                        <span class="rating-star__num">5.0</span>
                                        <span class="tooltip tooltip_top  tooltip_ta-c">Рейтинг орг-а</span>
                                    </i>
                                </div>
                                <div class="org-profile__text">
                                    <a href="/forum/phpBB3/memberlist.php?mode=viewprofile&amp;u=362663" class="link org-profile__name">
                                        Августина
                                    </a>
                                    <span class="org-profile__status">Организатор СП от администрации сайта</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="collapse-block-css__content">
                    TExt
                </div>
            </div>
        </div>
    </div>

    <div class="ds-code-wrapper">
        <script type="text/plain" class="language-markup">
            <!-- Скопировать код элемента сюда -->
        </script>
    </div>



</body>
</html>