
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Оформление заказа</title>
</head>
<body>

    <h1 class="ds-title">Оформление заказа</h1>
    <div class="ds-wrapper">
        <div class="ds-divider">
            <div class="cart__order-payment">
                <div class="cart__order-payment-attantion">
                   <p>Кнопка оплаты появится после выставления счёта поставщиком</p>
                </div>
                <button class="cart__btn-place-order ds-btn ds-btn_hover">
                    <div class="ds-btn__text">Оформить заказ</div>
                </button>
                <button class="cart__btn-place-order ds-btn ds-btn_hover ds-btn_disabled">
                    <div class="ds-btn__text">Оплатить заказ</div>
                </button>
                <p class="cart__txt">У меня есть <a class="link link_hover" href="#">промокод</a></p>
                <div class="cart__txt cart__txt_grey cart__txt_small">
                    <a class="cart__txt_grey cart__txt_small" href="#" target="_blank" rel="noopener noreferrer">Скачать договор</a>
                    и/или
                    <a class="cart__txt_grey cart__txt_small" href="#" target="_blank" rel="noopener noreferrer">отчёт агента</a>
                </div>
                <div class="hr"></div>
                <p class="cart__order-number cart__txt">№ заказа: <span>19935726</span></p>
                <div class="hr"></div>
                <p class="cart__txt">Самовывоз из офиса:</p>
                <a class="cart__pickup-address link link_hover" href="#">г. Самара, ул. Вилоновская, 38А</a>
                <p class="cart__txt"></p>
                <div class="hr"></div>
                <div class="cart__collapse-block collapse-block">
                    <div class="collapse-block__header">
                        <button class="arrow arrow-down arrow_inverse arrow_transp">
                            <i class="ds-icon icon-arrow-down"></i>
                        </button>
                        <p class="cart__num-goods-in-purchase cart__txt"><span>Товаров в закупке (<span>3</span>)</span> <span class="cart__total-price-purchase">1980 ₽</span></p>
                    </div>
                    <div class="collapse-block__content">
                        <!-- Здесь какой-то контент -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ds-code-wrapper">
        <script type="text/plain" class="language-markup">
            <!-- Скопировать код элемента сюда -->
        </script>
    </div>



</body>
</html>