/* Внутренние стили дизайн системы - они не должны включаться в конечную сборку! */

body {
    background: #eef2f4;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5 {
    margin-block-start: 2em;
    margin-block-end: 2em;
}

.ds-title {
    width: 100%;
    text-align: center;
    color: #343b4c;
}

.ds-wrapper {
    max-width: 1300px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
}

.ds-text {
    max-width: 1300px;
    margin: 20px auto;
}

.ds-code-wrapper {
    max-width: 1300px;
    margin: 40px auto;
    border-radius: 10px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.5);
}

.ds-divider {
    margin: 20px;
}

.ds-wrapper > svg {
    width: 50px;
    height: 50px;
    margin: 0 20px 20px 0;
}

.ds-сontent-list {
    li {
        margin-bottom: 5px;
        font-size: 16px;
    }
}

.ds-hl {
    font-weight: 600;
    background: rgb(255, 229, 85);
    padding: 2px 7px;
}

.no-padding {
    padding: 0;
}

.ds-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// переопределение кнопки "Copy" в примерах кода
.code-toolbar > .toolbar button {
    color: black !important;
    font-weight: bold !important;
    padding: 0.5em 0.6em !important;
    background: rgb(235, 234, 234) !important;
    cursor: pointer !important;
}

pre[class*=language-] {
    padding: 2rem !important;
    font-size: 1rem !important;
    background: #171717 !important;
    border-radius: 10px !important;
}
