// Итоговый общий файл стилей дизайн системы

@import '~styles/utils/utils';
@import '~styles/fonts/fonts';
@import "~styles/elements/ds-elements";

body {
    font-size: 14px;
}

*,
*:after,
*:before {
    box-sizing: border-box;
    font-family: $font-primary;
}

