@import "~styles/utils";

// ----------------

// полужирный шрифт
.semi-bold {
    font-weight: 600;
}

// жирный шрифт
.bold {
    font-weight: 700;
}

// обычный шрифт
.normal {
    font-weight: normal;
}

// отображение ссылки
.link {
    cursor: pointer;
    color: $color-text-base;
    text-decoration: none;

    &:hover,
    &_hover {
        color: $color-primary;
        text-decoration: underline;
    }

    &_colored {
        color: $color-primary;
    }
}

// input типа поиск
.search {
    position: relative;
    width: 100%;

    &__bar {
        background: #ffffff;
        border: 1.5px solid #36a6f2;
        border-radius: 48px;
        padding-left: 20px;
        padding-right: 145px;
        height: 40px;
        width: 100%;

        &:focus {
            outline: unset;
        }

        &::placeholder {
            color: #a2a3a5;
            font-size: 12px;
        }
    }

    &__button {
        position: absolute;
        top: 50%;
        right: 15px;
        border-radius: 50%;
        transform: translateY(-50%);
        &:active {
            transform: translateY(-50%) scale(0.8);
        }
    }

    &__category {
        top: 50%;
        right: 55px;
        transform: translateY(-50%);
        position: absolute;
    }
}

// выпадающая плашка с выбором категорий поиска
.search-category {
    cursor: pointer;
    position: relative;
    color: $color-text-base;
    font-size: 12px;

    &__list {
        display: none;
        background-color: $background-color-primary;
        box-shadow: 0px 0px 16px rgba(105, 153, 247, 0.35);
        border-radius: 8px;
        cursor: initial;
    }

    &__list-item {
        cursor: pointer;
        padding-bottom: 2px;
        margin-bottom: 6px;
        &:first-child {
            border-bottom: 1px solid #36a6f275;
        }
        &:last-child {
            margin-bottom: unset;
        }
    }

    &:before {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        left: -13px;
        top: calc(50% + 3px);
        transform: translateY(-50%);
        display: block;
        border: 4px solid transparent;
        border-top: 4px solid $color-text-base;
        z-index: 2;
    }
}

// состояние .search-category
.search-category:hover,
.search-category_expanded {
    .search-category__current {
        display: none;
    }

    .search-category__list {
        display: block;
        position: relative;
        right: -10px;
        top: -13px;
        padding: 5px 10px 5px 20px;
        transform: translateY(50%);
    }

    &:before {
        left: 17px;
    }
}

// базовая кнопка, сброс стилей
.btn {
    cursor: pointer;
    background-color: transparent;
    border: unset;
    padding: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    -moz-appearance: none;
    -webkit-appearance: none;
    &:focus {
        outline: unset;
    }
}

.categories-menu {
    display: block;
    background: $background-color-primary;
    padding: 30px;
    font-size: 14px;
    font-weight: normal;
    color: $color-text-base;
    position: relative;

    &__column {
        padding-right: 20px;
        position: relative;
        min-height: 350px;
        display: inline-block;
    }
    &__column_sub {
        display: none;
    }
    &__heading-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__heading {
        text-transform: uppercase;
        margin-right: 50px;
    }
    &__all {
        font-size: 12px;
    }
    &__list {
        margin-top: 20px;
    }
    &__item {
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: unset;
        }
    }
    &__item:hover {
        .categories-menu__column_sub {
            visibility: visible;
            opacity: 1;
            z-index: 2;
            transition: opacity $transition-medium, visibility $transition-medium;
        }
    }

    // состояния

    // треугольник сверху
    &_has-triangle {
        &:before {
            position: absolute;
            content: "";
            width: 0;
            height: 0;
            left: 20px;
            top: -20px;
            border: 10px solid transparent;
            border-bottom: 10px solid $background-color-primary;
        }
    }

    // если имеет подкатегории
    &_has-subcategories {
        display: block;
        width: 100%;
        max-width: 600px;
        .categories-menu__column {
            border-right: 1px solid #e3e3e3;
        }
        .categories-menu__column_sub {
            display: block;
            border-right: unset;
            visibility: hidden;
            opacity: 0;
            z-index: 0;
            position: absolute;
            top: 0;
            right: -20px;
            width: 125%;
            transform: translate(100%, 0%);
            transition: opacity $transition-medium, visibility $transition-medium;
        }
    }
}

// меню с категориями
.categories-bar {
    background: #d7edfc;
    border-radius: 24px;
    height: 50px;
    font-size: 14px;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 32px;
    position: relative;

    // при клике на кнопку раскрывает подменю с категориями
    &__button:focus ~ .categories-bar__menu {
        visibility: visible;
        overflow: visible;
        max-height: initial;
        opacity: 1;
        padding: 30px;
        transition: opacity $transition-medium, visibility $transition-medium;
    }

    &__button {
        margin-right: 50px;
        flex-shrink: 0;
    }

    &__list {
        display: flex;
        align-items: center;
        flex-shrink: 1;
        width: calc(100% - 170px);
    }
    &__item {
        margin-right: 30px;
    }

    &__item:last-child {
        margin-right: unset;
    }

    &__menu {
        visibility: hidden;
        opacity: 0;
        max-height: 0;
        padding: 0;
        overflow: hidden;
        position: absolute;
        left: 12px;
        bottom: 0;
        z-index: 10;
        transform: translateY(100%);
        box-shadow: 0px 1px 16px rgba(105, 153, 247, 0.35);
        transition: opacity $transition-medium, visibility $transition-medium;
    }
}

// кнопка с категориями
.menu-btn {
    &__icon {
        margin-right: 10px;
    }

    &__text {
        color: $color-primary;
        font-size: 14px;
    }

    &:active {
        .menu-btn__icon {
            @include volume-click();
        }
    }
}

// иконка бургера
.burger {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    width: 20px;
    height: 17px;
    cursor: pointer;

    &__line {
        width: 100%;
        height: 3px;
        background: $color-primary;
        border-radius: 5px;
    }
}

// блок шапки, содержит touch и desctop блоки
.header {
    width: 100%;
    background-color: white;

    .header-touch {
        display: block;
    }

    .sidebar-menu-touch {
        display: block;
    }

    .header-desctop {
        display: none;
    }

    @media screen and (min-width: 1024px) {
        .header-desctop {
            display: block;
        }

        .header-touch {
            display: none;
        }

        .sidebar-menu-touch {
            display: none;
        }
    }
}

.header-touch {
    padding: 10px 15px;
    position: relative;
    border-bottom: 1px solid rgba(49, 140, 202, 0.25);

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        width: 100px;
    }
}

.outlined-links {
    &__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: unset;
        }
    }
    &__link {
        display: inline-block;
        border: 1px solid $color-primary;
        border-radius: 24px;
        padding: 6px 10px;
        min-width: 128px;
        text-align: center;
    }
}

.sidebar_slide-left {
}

.sidebar_slide-right {
}

.sidebar-menu-touch {
    background: $background-color-primary;
    width: 300px;
    font-size: 14px;
    border-right: 1px solid rgba(49, 140, 202, 0.25); //удалить
    padding: 0 15px;

    &__categories-menu {
        padding: 0;
        .categories-menu__column {
            padding-right: unset;
            display: block;
        }
        .categories-menu__heading-wrapper {
            padding: 8px 0px 8px 15px;
            border-bottom: 1px solid rgba(49,140,202,.25);
        }        
        
    }

    &__section {
        padding: 15px 0;
        border-bottom: 1px solid rgba(49, 140, 202, 0.25);
    }
}

.sidebar {
}

// дестоп шапка сайта
.header-desctop {
    // в макете нет структуры, отступы заданы жестко :(
    padding-top: 10px;

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 35px;
        margin-bottom: 20px;
    }

    &__col {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    &__links-eq {
        margin-left: 60px;
        font-size: 13px;

        a {
            &:nth-child(1) {
                margin-right: 27px;
            }
            &:nth-child(2) {
                margin-right: 46px;
            }
        }
    }

    &__links-diff {
        font-size: 12px;
        width: 228px;
    }

    &__logo {
        width: 200px;
        height: 68px;
        flex-shrink: 0.3;
    }

    &__search {
        max-width: 530px;
        margin-left: 60px;
    }

    &__icon {
        margin-right: 15px;

        &:first-child {
            margin-left: 20px;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__icons {
        display: flex;
    }

    .caption-icon .icon-heart {
        &:before {
            color: #ff4e4e;
        }
    }

    .caption-icon:hover .icon-heart {
        &:before {
            color: #ff4e4e;
            content: "\e906";
        }
    }
}

.logo {
    &__link {
        width: 100%;
        height: 100%;
    }
    &__img {
        width: 100%;
        height: auto;
    }
}

// блок иконки с подписью снизу
.caption-icon {
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-decoration-color: unset;
    color: $color-text-base;

    &__icon {
        font-size: 22px;
        margin-bottom: 3px;
        text-decoration: none;
        text-decoration-color: unset;
    }

    &__text {
        font-size: 10px;
        color: inherit;
        text-decoration: none;
        text-decoration-color: unset;
        max-width: 60px;
        overflow: hidden;
        white-space: nowrap;
    }

    &:hover {
        color: #36a6f2;
    }

    &:active {
        .caption-icon__icon {
            @include volume-click();
        }
    }
}

// иконка с календарем и пометкой о количестве событий
.icon-calendar {
    position: relative;

    &__notification-count {
        font-family: "Open Sans", sans-serif !important;
        position: absolute;
        display: block;
        padding: 3px;
        font-size: 10px;
        background-color: #ff4e4e;
        border-radius: 13px;
        color: white;
        font-weight: bold;
        white-space: nowrap;
        right: 10px;
        bottom: -2px;
        transform: translate(100%, 0);
        min-width: 15px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            color: white;
        }
    }
}

// блок информации о техподдержке - номер телефона, время работы, икнока помощи
.support-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;

    &__tel {
        text-decoration: none;
        white-space: nowrap;
        font-weight: 600;
        font-size: $font-size-primary-text;
        color: $color-text-base;
        margin-right: 10px;
    }

    &__hours {
        font-size: 10px;
        color: $color-text-base;
        opacity: 0.75;
        font-weight: $font-weight-primary;
        margin-right: 10px;
    }

    &__tooltip {
        width: 235px;
    }
}

// визуальное выделение строчного элемента
.is-highlighted {
    background: $color-primary;
    color: white;
    border-radius: 24px;
    padding: 4px 14px;
    text-decoration: none;
    &:hover {
        background: $color-primary;
        color: white;
        text-decoration: none;
    }
}

// класс ставится на элемент который имеет подсказку
.has-tooltip {
    position: relative;
    &:hover > .tooltip,
    &:focus > .tooltip {
        visibility: visible;
        opacity: 1;
        z-index: 100;
        transition: opacity $transition-primary, visibility $transition-primary;
    }
}

// всплывающая подсказка
// стандартное положение - снизу под элементом, без треугольника
.tooltip {
    visibility: hidden;
    z-index: 0;
    opacity: 0;
    position: absolute;
    background-color: $tooltip-background-color;
    padding: 10px;
    line-height: 15px;
    color: $color-text-base;
    border-radius: 6px;
    font-size: 12px;
    font-weight: $font-weight-primary;
    line-height: 16px;
    font-style: normal;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%, 100%);
    transition: opacity $transition-primary, visibility $transition-primary;

    * {
        font-size: inherit;
    }

    // добавляет треугольник-указатель к всплывающей подсказке
    &.tooltip_triangle {
        bottom: -10px;
        &:before {
            content: "";
            display: block;
            width: $tooltip-triangle-size;
            height: $tooltip-triangle-size;
            position: absolute;
            left: calc(50% - #{$tooltip-triangle-size}/ 2);
            top: -3px;
            background-color: $tooltip-background-color;
            transform: rotate(45deg);
        }
    }

    // позиция подсказки снизу - стандартное положение
    &.tooltip_bottom {
        @extend .tooltip;
    }

    // позиция подсказки сверху
    &.tooltip_top {
        bottom: auto;
        top: -10px;
        transform: translate(-50%, -100%);
        &:before {
            left: calc(50% - #{$tooltip-triangle-size}/ 2);
            right: auto;
            top: auto;
            bottom: -3px;
        }
    }

    // позиция подсказки справа
    &.tooltip_right {
        bottom: 50%;
        right: -10px;
        left: auto;
        transform: translate(100%, 50%);
        &:before {
            right: auto;
            left: -3px;
            top: calc(50% - #{$tooltip-triangle-size}/ 2);
            bottom: auto;
        }
    }

    // позиция подсказки слева
    &.tooltip_left {
        bottom: 50%;
        right: auto;
        left: -10px;
        transform: translate(-100%, 50%);
        &:before {
            left: auto;
            right: -3px;
            top: calc(50% - #{$tooltip-triangle-size}/ 2);
            bottom: auto;
        }
    }
}
