// Начальные стили для инициализации
/****VARIABLES*****/
/****FONTS*****/
$font-primary: "Open Sans", sans-serif;
$font-size-primary-text: 14px;
$font-weight-primary: 400;

/****COLORS*****/
$color-primary: #36a6f2;
$color-text-base: #606266;

/****TRANSITION*****/
$transition-primary: 0.3s ease-in-out;
$transition-medium: 0.4s ease-in-out;
$transition-slow: 0.5s ease-in-out;

// BACKGROUND-COLORS
$background-color-primary: #ffffff;

// .TOOLTIP
$tooltip-background-color: #e0eef7;
$tooltip-triangle-size: 6px;

// MEDIA
$desctop: 1024px;
$tablet: 768px;
$mobile: 480px;

// HEADER
$header-height: 60px;