
.modal {
    &.is-selected {
        .modal__btn-container {
            display: flex;
        }
        .modal__selected-catalog {
            font-size: 14px;
            font-weight: 600;
            color: $dark-brown-color;
        }
    }
    &.demo {
        position: relative;
    }
    &__wrap {
        box-shadow: 0px 0px 20px rgba(97, 97, 97, 0.2);

    }
    &__content {
        overflow: hidden;
        &_col {
            display: flex;
            flex-direction: column;
        }
    }
    // Заголовки h3
    &__list-catalog-mobile-heading {
        font-size: 14px;
    }
    // Футер
    &__list-catalog-mobile-footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 15px 0 0 0;
    }
    &__row {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 5px 0;
        p {
            margin: 0;
            max-width: 200px;
            overflow: hidden;
            white-space: nowrap;
        }
    }
    &__arrow {
        margin: 0 auto;
        i {
            font-size: 8px;
            color: $color-primary;
        }
    }
    &__btn-toggle {
        padding: 0;
        border-bottom: 1px solid $color-primary;
    }
    &__selected-catalog {
        font-size: 12px;
        color: $color-text-light-grey;
    }
    //Кнопка "Перенести"
    &__btn-container {
        display: none;
        width: 100%;
        margin: 20px 0 0 0;

    }
    &__btn-move {
        margin: 0 auto;
        width: 100%;
    }
    // Список выбранных позиций 
    &__chx-container {
        display: flex;
        flex-direction: column;
        max-height: 150px;
        overflow-y: hidden;
        transition: all $transition-slow;
        &.is-toggle {
            max-height: 500px;
            transition: all $transition-slow;
        }
    }
}


