.about-us__video {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 15%;
    background-color: #FFFFFF;
    background: url("https://63pokupkifiles.fra1.cdn.digitaloceanspaces.com/about-us__video/about-us-video_bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;

    &-container {
        display: flex;
        max-width: 875px;
        width: 100%;
        z-index: 10;
        position: relative;
        background: transparent;
    }
    &-player {
        display: flex;
        width: 100%;
        height: 0;
        padding-bottom: 56.35%;
        border: 3px solid #254F8C;
        z-index: 10;
        position: relative;
        background: #ffffff;
    }
    &-bg {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 10px;
        left: 10px;
        background: #63C0FF;
        z-index: -1;
    }
    &-youtube {        
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent;
    }
}
@media (max-width: 768px) {
    .about-us__video {
        padding: 5% 1%;
    }
}




