// @import "variables.scss";
.card-active-custom__wrap {
    margin: 0 0 10px 0;
    &.tablet {
        min-width: 768px;
        &.card-active-custom__wrap {
            width: 100%;
            cursor: pointer;
        }

        &.is-toggle {
            .card-active-custom__toggle-block {
                max-height: 1000px;
                visibility: visible;
                opacity: 1;
                transition: all .8s;
                .img-container_middle {
                    height: auto;
                    visibility: visible;
                    opacity: 1;
                    transition: all 1s;
                    img {
                        visibility: visible;
                        height: auto;
                        opacity: 1;
                        transition: all 2s;    
                    }
                }
            }
            .organizer-block__rating {
                visibility: visible;
                opacity: 1;
                transition: all .3s;
            }
            .icon-arrow-down {
                transform: rotate(180deg);
                transition: all $transition-slow;
            }
            
            &:hover {
                &:after {
                    box-shadow: none;
                }
            }    
        }
        .icon-arrow-down {
            transition: all $transition-slow;
        }
        //ОТображает изображения в подкатергориях
        &.desktop-subcat {
            &.desktop {
                .card-active-custom__img-subcategory {
                    display: flex;
                    min-width: 152px;
                }
        
                .card-active-custom__img-wrap {
                    width: 100%;
                    max-width: 544px;
                }
        
                .card-active-custom__img-tablet {
                    display: none;
                }
        
                .card-active-custom__description {
                    .suitable-catalogs {
                        display: flex;
                    }
                    .slider {
                        display: flex;
                    }
                }
            }
        }


        .card-active-custom__header {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            cursor: pointer;
            &-heading {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;
                margin-right: 20px;
            }
            &-collection{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin-right: 20px;
            }
            &-statusbar {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-wrap: nowrap;
                position: relative;
                margin: 10px 0;
                .statusbar {
                    display: inline-flex;
                    width: 40%;
                    max-width: 270px;
                    margin-right: 10px;        
                    p {
                        font-style: normal;
                        font-size: 11px;
                        line-height: 15px;
        
                        span {
                            font-weight: bold;
                        }
                    }
        
                }             
                .icon-heart {
                    font-size: 24px;
                    color: $color-primary;
                    &:hover {
                        @extend .icon-heart-filled
                    }                    
                }
            }

            .card-active-custom__status-block {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: baseline;
                flex-shrink: 0;
                width: 210px;
                .like {
                    display: flex;
                    align-items: flex-start;
                }    

                p {
                    margin: 0 5px 0 0;
                    font-size: 11px;                    
                }
            }

        }
        
        .card-active-custom__btn-toggle {
            position: absolute;
            right: 0;
            transition: all .8s;
        }
        .card-active-custom__header-heading-wrap {
            display: flex;
            justify-content: flex-start;
        }

        .card-active-custom__heading {
            display: flex;
            align-items: flex-start;
            font-family: Open Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 19px;
            flex-shrink: 2;
            max-width: 50%;

            a {
                color: $dark-brown-color;
                text-decoration: none;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                &:visited {
                    color: #906;
                }
            }

            .rating-star-org {
                margin-left: 10px;
            }

            .rating-star-org_icon {
                width: 15px;
                height: 15px;
            }

            .rating-star-org_value {
                font-size: 16px;
            }

        }


        //Левый блок шапки
        .card-active-custom__header-left-block {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            width: 545px;
            min-width: 460px;
            margin-right: 33px;
        }
        .card-active-custom__collection {
            display: flex;
            margin: 5px 0;
        }
        .card-active-custom__collection.start {
            .stock-status__text {
                color: #0DC53D;
                &:before {
                    content: "Сбор ";
                    color: #0DC53D;

                }

            }

            .stock-status__icon {
                color: #0DC53D;
            }
        }

        .card-active-custom__collection.stop {
            .stock-status__text {
                color: #ff8000;
                &:before {
                    content: "Скоро стоп ";
                }

            }

            .stock-status__icon {
                color: #ff8000;
            }
        }

        //Правый блок шапки
        .card-active-custom__header-right-block {
            display: flex;
            flex-direction: column;
            padding-left: 5%;
            margin-right: 20px;            
        }
        .organizer-block__rating {
            visibility: hidden;
            opacity: 0;
            transition: all .3s;
        }

        .card-active-custom__purchase-block {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            flex-shrink: 0;
            width: 210px;
            font-size: 11px;
            margin: 5px 0 0 40px;

            p {
                margin: 0 0 0 5px;
                color: $dark-grey-color;
            }

            span {
                color: $dark-brown-color;
                font-weight: 600;
            }
        }
        .card-active-custom__like {
            .icon-like {
                stroke-width: 2;
            }
        }

        //Выпадающий блок
        .card-active-custom__toggle-block {
            display: flex;
            height: auto;
            max-height: 0;
            margin-top: 15px;
            overflow: hidden;
            visibility: hidden;
            opacity: 0;
            transition: all .5s;

            .card-active-custom__access-lvl {
                display: none;
            }

            .card-active-custom__comments {
                margin-right: 10px;
            }
            .img-container_middle {
                height: 0;
                visibility: hidden;
                opacity: 0;
                transition: all .5s;
                img {
                    visibility: hidden;
                    height: 0;
                    transition: all .5s;

                }
            }

            //Подкатегории
            .card-active-custom__img-subcategory {
                display: flex;
                position: relative;
                max-width: 190px;
                max-height: 190px;
                margin-right: 20px;
                min-width: 185px;
                min-height: 185px;

                .hover-translucend {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    position: absolute;
                    // left: 0;
                    // right: 0;
                    bottom: 0;
                    width: 100%;
                    height: 45px;
                    background: rgba(255, 255, 255, 0.8);
                    transition: .4s;
                    visibility: visible;
                    cursor: pointer;

                    p {
                        visibility: visible;
                        margin: 0;
                        font-size: 12px;
                        font-weight: 600;
                        line-height: 14px;
                        text-align: center;
                        color: $dark-grey-color;
                    }

                    p:nth-child(1) {
                        max-width: 50%;
                    }
                }

                img {
                    width: auto;
                }

            }

            //Слайдер
            .slider {
                margin: 20px 0 0 0;
                .slider-wrap {
                    max-width: 305px;
                }
            }
        }
        .card-active-custom__hashtags {
            display: flex;
            width: 100%;
            justify-content: flex-start;

            a {
                margin-right: 15px;
                color: $color-primary;
                font-size: 12px;
                font-weight: 700;
                text-decoration: none;
                pointer-events: none;
            }

            &.hidden {
                display: none;
            }
        }
        .card-active-custom__description-status {
            display: flex;
            justify-content: space-between;
            margin-top: 25px;
            
        }
        .card-active-custom__delivery-date,
        .card-active-custom__access-lvl,
        .card-active-custom__payment-method,
        .card-active-custom__comments {
            display: flex;
            flex-direction: column;
            margin-right: 35px;

            p {
                font-size: 11px;
                font-weight: 600;
                margin-bottom: 2px;
                color: $dark-brown-color;
            }

            span {
                font-size: 12px;
                color: $dark-grey-color;
            }

            a {
                color: $color-primary;
                span {
                    color: $color-primary;
                }
            }
        }
        .card-active-custom__description-txt {
            display: flex;
            max-height: 40px;
            height: auto;
            margin-bottom: 5px;
            font-Size: 12px;
            line-height: 16px;
            text-align: left;            

            //Класс is-toggle открывает полное описание по клику
            &.is-toggle {
                max-height: 200px;
                a {
                    white-space: normal;
                }

            }

            a {
                padding-right: 40px;
                overflow: hidden; //фиксирует высоту и ширину
                cursor: pointer;
                text-overflow: ellipsis;
                white-space: nowrap;
                transition: all .3s;
            }
        }


        .card-active-custom__toggle-left {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 100%;
            // min-width: 350px;
            max-height: 220px;
        }

        .card-active-custom__description {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-width: 305px;
            max-width: 650px;

        }

        .card-active-custom__img-wrap {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            // max-width: 350px;
            height: 100%;

            // img {
            //     max-width: 100%;
            //     max-height: 100%;
            //     width: auto;
            //     height: 100%;
            // }
        }

    }
}

