// @import "variables.scss";

// Карточка активных закупок DESKTOP
.card-active-custom__wrap {
    display: flex;
    flex-direction: column;
    min-width: 875px;
    padding: 20px;
    background: $card-color-bg;
    transition: box-shadow .3s;

    &:hover {
        position: relative;
        box-shadow: 1px 1px 6px rgba(65, 149, 206, 0.4);
        transition: box-shadow .5s;
        z-index: 999;
    }
}

//     //ОТображает изображения в подкатергориях
//     &.desktop-subcat {
//         &.desktop {
//             .card-active-custom__toggle-block {
//                 .card-active-custom__img-wrap {
//                     display: flex;
//                     width: 100%;
//                     max-width: 544px;
//                 }

//                 .card-active-custom__img-subcategory {
//                     display: flex;
//                     min-width: 152px;
//                 }


//                 .card-active-custom__img-desktop {
//                     display: none;
//                 }

//                 .card-active-custom__description {
//                     .suitable-catalogs {
//                         display: flex;
//                     }

//                     .slider {
//                         display: flex;
//                     }
//                 }
//             }
//         }
//     }
// }

// .card-active-custom__wrap.is-toggle {
//     margin: 10px 0;

//     &:hover {
//         box-shadow: none;
//     }

//     &.desktop {
//         .card-active-custom__toggle-block {
//             max-height: 1000px;
//             visibility: visible;
//             opacity: 1;
//             transition: all .8s;

//             .img-container_middle {
//                 height: auto;
//                 visibility: visible;
//                 opacity: 1;
//                 transition: all 1s;

//                 img {
//                     visibility: visible;
//                     height: auto;
//                     opacity: 1;
//                     transition: all 2s;
//                 }
//             }
//         }

//         .card-active-custom__btn-toggle {
//             transform: rotate(180deg);
//             transition: all .3s;
//         }


//         .card-active-custom__header {

//             .organizer-block__rating {
//                 .rating-star-org {
//                     display: flex;

//                     .rating-star-org__value {
//                         margin-right: 5px;
//                     }
//                 }
//             }
//         }
//     }

// }

// // Шапка карточки__левый блок
// .card-active-custom__wrap {
//     &.desktop {
//         .card-active-custom__header {
//             position: relative;
//             display: flex;
//             width: 100%;

//         }

//         .btn-toggle-wrap {
//             position: relative;
//             display: flex;
//             justify-content: flex-end;
//             min-width: 75px;
//             width: 80px;

//         }

//         .card-active-custom__header-left-block {
//             display: flex;
//             flex-direction: column;
//             justify-content: flex-start;
//             align-items: flex-start;
//             width: 545px;
//             min-width: 545px;
//             // margin-right: 33px;

//             &.subcategory {
//                 margin-right: 0;
//             }
//         }

//         .card-active-custom__heading {
//             display: flex;
//             align-items: flex-start;
//             font-family: Open Sans;
//             font-style: normal;
//             font-weight: bold;
//             font-size: 14px;
//             line-height: 19px;

//             a {
//                 color: $dark-brown-color;
//                 text-decoration: none;

//                 &:visited {
//                     color: #906;
//                 }
//             }

//             .rating-star-org {
//                 margin-left: 10px;
//             }

//             .rating-star-org__icon {
//                 width: 15px;
//                 height: 15px;
//             }

//             .rating-star-org__value {
//                 font-size: 16px;
//             }

//         }

//         .card-active-custom__collection {
//             display: flex;
//             margin: 5px 0;

//         }

//         .purchaseStatus {
//             &__icon {
//                 font-size: 38px;
//                 color: #0DC53D;
//             }
//         }

//         .card-active-custom__collection.start {

//             .purchaseStatus_soon {
//                 color: #0DC53D;
//             }
//         }

//         .card-active-custom__collection.stop {
//             // .purchaseStatus__icon {


//             // }

//             .purchaseStatus_soon {
//                 color: #ff8000;
//             }
//         }

//     }
// }

// //Шапка карточки__правый блок
// .card-active-custom__wrap {
//     &.desktop {
//         .card-active-custom__header-right-block {
//             display: flex;
//             flex-direction: column;
//             width: 50%;
//         }

//         .card-active-custom__btn-toggle {
//             height: 20px;
//             transition: all .8s;
//         }

//         .card-active-custom__status-block {
//             display: flex;
//             flex-direction: row;
//             flex-wrap: wrap;
//             justify-content: space-between;
//         }

//         .card-active-custom__statusbar {
//             display: flex;
//             flex-direction: column;
//             align-items: center;
//             width: 190px;
//             margin-bottom: 10px;

//             p {
//                 font-style: normal;
//                 font-size: 11px;
//                 line-height: 15px;

//                 span {
//                     font-weight: bold;
//                 }
//             }
//         }

//         .card-active-custom__purchase-block {
//             display: flex;
//             flex-direction: row;
//             align-items: center;
//             margin: 10px 0;

//             p {
//                 font-size: 10px;
//                 color: $dark-grey-color;
//                 margin: 0 0 0 5px;
//                 white-space: nowrap;
//                 color: $dark-brown-color;
//             }

//             span {
//                 font-size: 10px;
//                 font-weight: 600;
//                 white-space: nowrap;
//             }
//         }

//         .card-active-custom__like {
//             margin-bottom: 15px;

//             .icon-like {
//                 stroke-width: 2;
//             }
//         }

//         .card-active-custom__organizer-block {
//             display: flex;
//             flex-direction: column;
//             margin-bottom: 10px;

//             .rating-star-org {
//                 display: none;
//             }
//         }

//         @media (max-width: 1148px) {
//             .card-active-custom__organizer-block {
//                 flex-direction: row-reverse;
//                 max-height: 18px;
//                 align-items: center;

//                 p {
//                     margin-right: 5px;
//                 }
//             }

//             .card-active-custom__access-lvl {
//                 display: none;
//             }
//         }
//     }
// }

// //Выпадающий нижний блок
// .card-active-custom__wrap {
//     &.desktop {
//         .card-active-custom__toggle-block {
//             display: flex;
//             // height: 0;
//             max-height: 0;
//             margin-top: 15px;
//             visibility: hidden;
//             opacity: 0;
//             transition: all .5s;

//             .img-container_middle {
//                 height: 0;
//                 visibility: hidden;
//                 opacity: 0;
//                 transition: all .5s;

//                 img {
//                     visibility: hidden;
//                     height: 0;
//                     transition: all .5s;

//                 }
//             }
//         }

//         .card-active-custom__toggle-left {
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             position: relative;
//             width: 100%;
//             min-width: 545px;
//             max-height: 220px;
//         }

//         .card-active-custom__img-wrap {
//             display: flex;
//             justify-content: center;
//             align-items: flex-end;
//             height: 100%;

//             .card-active-custom__img-subcategory {
//                 display: none;
//                 position: relative;
//                 max-width: 152px;
//                 max-height: 152px;
//                 margin-right: 20px;

//                 .hover-translucend {
//                     display: flex;
//                     visibility: hidden;
//                     flex-direction: column;
//                     justify-content: center;
//                     align-items: center;
//                     position: absolute;
//                     top: 0;
//                     left: 0;
//                     right: 0;
//                     bottom: 0;
//                     width: 100%;
//                     background: rgba(255, 255, 255, 0);
//                     transition: .4s;
//                     cursor: pointer;

//                     p:nth-child(1) {
//                         max-width: 140px;
//                         font-weight: 700;
//                         font-size: 12px;
//                         line-height: 14px;
//                         margin-bottom: 50px;
//                         text-align: center;
//                         color: $dark-grey-color;
//                     }

//                     p:nth-child(2) {
//                         font-weight: 700;
//                         font-size: 14px;
//                         line-height: 14px;
//                     }

//                     p {
//                         visibility: hidden;
//                     }

//                 }

//                 &:hover {
//                     .hover-translucend {
//                         visibility: visible;
//                         background: rgba(255, 255, 255, 0.8);

//                         p {
//                             visibility: visible;
//                         }
//                     }
//                 }

//             }

//         }

//         .card-active-custom__description {
//             display: flex;
//             flex-direction: column;
//             width: 100%;
//             max-width: 100%;
//             // padding-right: 30px;
//             overflow: hidden;

//             .slider {
//                 display: none;
//             }

//         }

//         .card-active-custom__hashtags {
//             display: flex;
//             width: 100%;
//             justify-content: flex-start;

//             a {
//                 margin-right: 15px;
//                 color: $color-primary;
//                 font-weight: 700;
//                 text-decoration: none;

//                 &:hover {
//                     text-decoration: underline;
//                 }
//             }

//             &.hidden {
//                 display: none;
//             }
//         }

//         .card-active-custom__description-status {
//             display: flex;
//             justify-content: space-between;
//             margin-top: 37px;
//         }

//         .card-active-custom__delivery-date,
//         .card-active-custom__access-lvl,
//         .card-active-custom__payment-method,
//         .card-active-custom__comments {
//             display: flex;
//             flex-direction: column;
//             // margin-right: 35px;

//             p {
//                 font-size: 11px;
//                 font-weight: 600;
//                 margin-bottom: 2px;
//                 color: $dark-brown-color;
//             }

//             span {
//                 font-size: 12px;
//                 color: $dark-grey-color;
//             }

//             a {
//                 color: $color-primary;

//                 span {
//                     color: $color-primary;
//                 }
//             }
//         }

//         .card-active-custom__description-txt {
//             display: flex;
//             max-height: 40px;
//             height: auto;
//             font-Size: 12px;
//             line-height: 16px;
//             text-align: left;
//             transition: all .3s;

//             //Класс is-toggle открывает полное описание по клику
//             &.is-toggle {
//                 max-height: 200px;
//                 transition: all .3s;

//                 p {
//                     white-space: normal;

//                 }
//             }

//             p {
//                 // padding-right: 40px;
//                 overflow: hidden; //фиксирует высоту и ширину
//                 cursor: pointer;
//                 text-overflow: ellipsis;
//                 white-space: nowrap;
//                 transition: all .3s;

//             }
//         }
//     }
// }

// // Карточка активных закупок (подкатегории) DESKTOP
// .card-active-custom__wrap {
//     &.desktop-subcat {
//         .card-active-custom__toggle-block {
//             .card-active-custom__img-subcategory {
//                 // display: none;
//                 // position: relative;
//                 // max-width: 152px;
//                 // max-height: 152px;
//                 // margin-right: 20px;

//                 .hover-translucend {
//                     display: flex;
//                     visibility: hidden;
//                     flex-direction: column;
//                     justify-content: center;
//                     align-items: center;
//                     position: absolute;
//                     top: 0;
//                     left: 0;
//                     right: 0;
//                     bottom: 0;
//                     width: 100%;
//                     background: rgba(255, 255, 255, 0);
//                     transition: .4s;
//                     cursor: pointer;

//                     p:nth-child(1) {
//                         max-width: 140px;
//                         font-weight: 700;
//                         font-size: 12px;
//                         line-height: 14px;
//                         margin-bottom: 50px;
//                         text-align: center;
//                         color: $dark-grey-color;
//                     }

//                     p:nth-child(2) {
//                         font-weight: 700;
//                         font-size: 14px;
//                         line-height: 14px;
//                     }

//                     p {
//                         visibility: hidden;
//                     }

//                 }

//                 &:hover {
//                     .hover-translucend {
//                         visibility: visible;
//                         background: rgba(255, 255, 255, 0.8);

//                         p {
//                             visibility: visible;
//                         }
//                     }
//                 }

//                 .img-container_middle {
//                     padding: 5px;
//                     border: 1px solid $border-subcat-img-color;
//                     border-radius: 4px;
//                 }

//             }

//             .card-active-custom__description {
//                 .suitable-catalogs {
//                     display: none;
//                     // max-width: 520px;
//                     height: 55px;
//                     margin-top: 10px;
//                     transform: translateX(-25px);
//                 }
//             }
//         }
//     }
// }




// TEst
.card-active-custom-desktop {

    display: flex;
    background: #fff;

    &__wrap {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 15px;
    }

    //Header
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
    }

    &__left,
    &__right {
        display: flex;
        width: 50%;
    }

    &__left {
        min-width: 440px;
        margin-right: 30px;
    }

    &__heading-wrap {
        display: flex;
        flex-direction: column;
    }

    &__heading {
        margin-top: 0;
        font-size: 14px;
        font-weight: 700;
        color: $dark-brown-color;
    }

    //HEader right
    &__rating-star-org {
        margin-left: 5px;
        color: $gold-star-color;
    }

    &__collection {
        display: flex;
        align-items: center;
        font-size: 12px;
        font-weight: 700;
        color: $green-collection-color;

        .icon-box {
            margin-right: 5px;
            font-size: 28px;
        }
    }

    &__status-block {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 100%;
    }

    &__statusbar {
        max-width: 192px;
        text-align: center;
    }

    &__start-date-collection {
        font-size: 10px;
        margin: 10px 0 0 0;
        color: $dark-grey-color;
    }

    &__statusbar,
    &__organizer-block,
    &__like {
        margin: 5px;
    }

    &__btn-block {
        display: flex;
        justify-content: center;
        width: 70px;

    }

    //Toggle block
    &__toggle-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 100%;
    }

    &__toggle-block-right {
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
    }

    &__img {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__toggle-status {
        display: flex;
        justify-content: space-between;

        h5 {
            margin: 0 0 3px 0;
            font-size: 11px;
        }

        p {
            margin: 0;
            font-size: 12px;
            color: $dark-grey-color;
        }
        > div{
            margin: 5px;
        }
    }

    &__hashtags {
        display: flex;
        margin: 5px;

        &-link {
            margin-right: 15px;
            color: $color-primary;
            font-weight: 700;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }

        }
    }

    &__description {
        display: inline-flex;
        margin: 5px;
        max-height: 70px;
        text-align: left;
        font-size: 12px;
        color: $dark-grey-color;
        overflow: auto;
    }
    &__slider {
        margin: 15px 5px;
    }

    &__comments {
        &-link {
            font-size: 12px;
            color: $color-primary;
        }
    }

    //Подкатегории
    &__img-subcategory {      
        position: relative;
        max-width: 152px;
        max-height: 152px;
        margin-right: 20px;

        .img-container_resp {
            padding: 5px;
            border: 1px solid #e3e3e3;
            border-radius: 4px;
        }

        .hover-translucend {
            display: flex;
            visibility: hidden;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            background: rgba(255, 255, 255, 0);
            transition: .4s;
            cursor: pointer;

            p:nth-child(1) {
                max-width: 140px;
                font-weight: 700;
                font-size: 12px;
                line-height: 14px;
                margin-bottom: 50px;
                text-align: center;
                color: $dark-grey-color;
            }

            p:nth-child(2) {
                font-weight: 700;
                font-size: 14px;
                line-height: 14px;
            }

            p {
                visibility: hidden;
            }

        }

        &:hover {
            .hover-translucend {
                visibility: visible;
                background: rgba(255, 255, 255, 0.8);

                p {
                    visibility: visible;
                }
            }
        }

    }
    
}


