
.active-custom-menu-filter {
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    background: $background-color-primary;
    border-top: 1px solid #D8D8D8;
    border-bottom: 1px solid #CCE2F1;
    cursor: pointer;
    &.is-toggle {
        border-bottom: 1px solid transparent;
        .active-custom-menu-filter__items-wrap {
            display: flex;
        }
        .active-custom-menu-filter__btn-container {
            display: flex;
        }
        .active-custom-menu-filter__btn-arrow-down {
            transform: rotate(180deg);
        }
    }
    
    &__checked-position {
        display: flex;
        align-items: center;

    }
    &__checked-position-link {
        font-size: 10px;
        color: $color-text-light-grey;
        text-transform: uppercase;
        text-decoration: none;
        &:hover {
            color: $color-primary;
        }
    }    
    &__btn-arrow-left,
    &__btn-arrow-down {
        padding: 0 10px;
        color: $color-text-light-grey;
        &:hover {
            color: $color-primary;
        }
    }
    &__btn-arrow-down {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 8px;
    }
    &__items-wrap {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        padding: 5px 0 5px 10px;
        border-top: 1px solid #CCE2F1;
        border-bottom: 1px solid #CCE2F1;
    }
    &__item {
        display: flex;
        width: 100%;
        height: 30px;
        justify-content: flex-start;
        align-items: center;        
    }
    &__item-link {
        font-size: 10px;
        color: $color-text-light-grey;
        text-decoration: none;
        &:hover {
            color: $color-primary;
            font-weight: 600;
        }
    }
    &__btn-container {
        display: none;
        justify-content: center;
        align-items: center;
    }
    &__btn-apply {
        max-width: 124px;
        max-height: 24px;
        padding: 4px 18px;
        &.ds-btn__text {
            font-size: 10px;
        }
    }
}



