.card-active-custom__wrap.is-toggle {
    &.mobile {
        .card-active-custom__toggle-block {
            max-height: 1000px;
            margin-top: 0;
            visibility: visible;
            opacity: 1;
            transition: all .8s;

        }
        .card-active-custom__header {
            .arrow-wrap {
                transform: rotate(180deg);
                transition: all .3s;
            }
        }
    }
}

.card-active-custom__wrap.mobile {

    display: flex;
    flex-direction: column;
    min-width: 320px;
    max-width: 768px;
    margin: 0;
    padding: 0;
    margin: 0 0 10px 0;

    .card-active-custom__header {
        flex-direction: column;
        padding: 15px;
    }

    .card-active-custom__purchase-block {
        display: flex;
        position: relative;
        flex-direction: row;
        align-items: center;

        p {
            font-size: 11px;
            color: $dark-grey-color;
            margin-left: 5px;
        }

        span {
            font-size: 11px;
            font-weight: 600;
        }
    }

    .card-active-custom__heading {
        position: relative;
        display: flex;
        align-items: flex-end;
        margin-bottom: 15px;
        padding-right: 35px;
        font-weight: bold;

        a {
            color: $dark-brown-color;
            text-decoration: none;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &:visited {
                color: #906;
            }
        }


        h3 {
            margin: 0;
        }

        .rating-star-org {
            margin-bottom: 5px;
        }
    }

    .card-active-custom__collection {
        margin-bottom: 20px;
    }

    .card-active-custom__purchaseStatus {
        font-size: 12px;
        .stock-status__text {
            font-size: 12px;
        }
    }

    .card-active-custom__statusbar {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin: 0 0 25px 0;

        .statusbar {
            width: 100%;
            margin-right: 25px;
            &__line {
                font-size: 12px;
            }
        }
    }
    .card-active-custom__like-single {
        .icon-heart {
            font-size: 30px;
            color: $color-primary;
        }
    }

    .card-active-custom__organizer-block {
        margin-bottom: 20px;

        .organizer-block {
            display: flex;
            flex-direction: row;
            align-items: flex-end;

            p {
                margin-right: 5px;
            }
            &__name-wrap {
                margin: 0;
                
            }
            &__name {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: auto;
    
                div {
                    color: #000;
                    margin-right: 10px;
                }
    
                p {
                    font-size: 11px;
                    margin-top: 1px;
                }
    
            }
    
        }
        .rating-star-org {
            align-items: baseline;
            height: 17px;
            &__icon {
                font-size: 11px;
            }
        }

    }

    .card-active-custom__toggle-block {
        height: auto;
        max-height: 0px;
        visibility: hidden;
        opacity: 0;
        transition: all .5s;
        flex-direction: column;
        overflow: hidden;
    }

    .card-active-custom__img {
        width: 100%;
        min-width: 320px;
        max-width: 100%;
        max-height: 100%;

        img {
            width: 100%;
            height: auto;
        }
    }

    .card-active-custom__slider-img {
        justify-content: center;
        position: relative;
        max-height: 295px;
        height: auto;
        background: transparent;

        .slider-wrap {
            // max-width: 320px;
            max-width: max-content;
            transform: translateX(0px);

        }

        .slider-viewing {
            max-width: 320px;
        }
        .arrow {
            &:after, &:before {
                background: $color-primary;
            }
        }
        .btn-l,
        .btn-r {
            position: absolute;
            width: 45px;
            height: 45px;
            top: 40%;
            // padding-right: 30px;
            background: rgba(255, 255, 255, 0.8);

            .arrow {
                background: none;
            }
            &:active {
                width: 42px;
                height: 42px;      
            }
        }

        .btn-r {
            right: 0;
        }

        .btn-l {
            left: 0;
            z-index: 12;
        }

        img {
            margin: 10px 10px 10px 0;
        }
    }

    .card-active-custom__slider-items {
        max-height: auto;
        width: 320px;
    }

    //Подкатегории
    .card-active-custom__img-subcategory {
        display: flex;
        position: relative;
        justify-content: center;//Андрей
        max-width: 100%;
        max-height: 100%;
        margin-right: 20px;

        .hover-translucend {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            position: absolute;
            top: 85%;
            width: 100%;
            height: 45px;
            padding: 0 8px;
            background: rgba(255, 255, 255, 0.8);
            transition: .4s;
            cursor: pointer;

            p {
                visibility: visible;
                margin: 0;
                font-size: 12px;
                font-weight: 600;
                line-height: 14px;
                text-align: center;
                color: $dark-grey-color;

            }

            p:nth-child(1) {
                max-width: 50%;
                text-align: left;
            }

            p:nth-child(2) {
                font-size: 14px;
                font-weight: 600;
            }
        }

        img {
            width: auto;
            margin: 0;
        }

    }

    .card-active-custom__hashtags {
        display: inline-flex;
        position: relative;
        justify-content: space-evenly;

        a {
            color: $color-primary;
            font-weight: 700;
            text-decoration: none;
        }

        &:before,
        &:after {
            content: "";
            position: absolute;
            width: 50px;
            height: 1px;
            top: 50%;
            background: $color-primary;
        }

        &:after {
            right: -15px;
        }

        &:before {
            left: -15px;
        }
    }

    .card-active-custom__description {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 100%;
        padding-right: 30px;
        margin: 10px 0 0 0;
        padding: 0 15px 15px 15px;
    }

    .card-active-custom__description-txt {
        a {
            padding-right: 0;
            font-size: 12px;
            color: $dark-brown-color;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        &.is-toggle a {
            white-space: normal;
        }
    }

    .card-active-custom__delivery-date,
    .card-active-custom__payment-method,
    .card-active-custom__comments {
        margin-right: 10px;
    }

    .card-active-custom__description-status {
        display: flex;
        justify-content: space-between;
        margin-top: 0;
    }
    
    .card-active-custom__delivery-date,
    .card-active-custom__access-lvl,
    .card-active-custom__payment-method,
    .card-active-custom__comments {
        display: flex;
        flex-direction: column;

        p {
            font-size: 11px;
            font-weight: 600;
            margin-bottom: 2px;
            color: $dark-brown-color;
        }

        span {
            font-size: 11px;
            color: $dark-grey-color;
        }

        a {
            color: $color-primary;
            span {
                color: $color-primary;
            }
        }
    }


}


//Кнопка "галка" в хедере
.arrow-wrap {
    position: absolute;
    bottom: 0;
    right: 0;
    transition: all .8s
}



