.auth-form {
    min-width: 300px;
    display: inline-block;

    &__txt {
        text-align: center;
        font-size: 12px;
        color: $color-text-base;
        margin: 20px 0 30px 0;
        &-footnote {
            max-width: 349px;
            margin: 0;
            padding: 0 0 0 28px;
            font-size: 10px;
            line-height: 11px;

        }
    }


    &_sign-up {
        // max-width: 850px;
        .auth-form__right-tab {
            &:after {
                content: "";
                position: absolute;
                top: 39px;
                right: calc(50%-10px);
                display: flex;
                width: 11px;
                height: 11px;
                background: url("~images/auth-form/rectangle-tab-aith.svg");
            }
            &:before {
                content: "";
                position: absolute;
                top: 39px;
                left: calc(50%-240px);
                display: flex;
                width: 11px;
                height: 11px;
                background: url("~images/auth-form/rectangle-tab-aith.svg");
                transform: rotateY(180deg);
            }

        }
    }
    &.is-active {
        .auth-form__form-sign-up {
            display: flex;
        }
        .auth-form__form-sign-in {
            display: none;
        }    
    }
    
    &__tab-container {
        display: flex;
        justify-content: center;
        width: 100%;
        background: transparent;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        transform: translateY(12px);
    }
    // Чекбокс
    &__auth-tabs {
        display: none;
        &:checked ~.auth-form__right-tab {
            background: #fff;
            font-weight: 600;
            color: $click-load-color;
            &:before {
                left: calc(50%-10px);
            }
            &:after {
                right: calc(50%-240px); 
            }


        }
        &:checked ~.auth-form__left-tab {
            background: transparent;
            font-weight: 500;
            color: $dark-grey-color;
            &:before {
                display: none;
            }
            &:after {
                display: none;
            }

        }
    }
    // 

    // лейблы-табы
    &__right-tab, &__left-tab {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        max-width: 230px;
        height: 61px;
        padding: 0 0 12px 0;
        border-radius: 10px;
        background: #ffffff;
        font-size: 15px;
        user-select: none;        
        cursor: pointer;

    }
    &__right-tab {
        background: transparent;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        color: $dark-grey-color;
        &:after {
            content: "";
            position: absolute;
            top: 39px;
            right: calc(50%-10px);
            display: flex;
            width: 11px;
            height: 11px;
            background: url("~images/auth-form/rectangle-tab-aith.svg");
        }

    }
    &__left-tab {
        background: #fff;
        position: relative;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        font-weight: 600;
        color: $click-load-color;

    }
    // 

    &__form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 20px;
        background: #ffffff;
        border-radius: 10px;
        position: relative;
    }

    // Форма
    &__form {
        display: flex;
        width: 100%;
        background: #ffffff;
        position: relative;
        padding: 20px 0;
        border-radius: 10px;
        &.is-error {
            >.ds-inputs-form {
                background: #FFF1F1;
                border-color: $color-input-border-error;
                >input {
                    background: #FFF1F1;
                }
                &:before {
                    color: $color-input-border-error;
                }
            }
            .auth-form__error-message {
                visibility: visible;
            }
            .auth-form__txt-error {
                visibility: visible;
            }
        }
        // Форма регистрации
        &-sign-up {
            display: none;
            flex-direction: column;

        }
        // Форма входа
        &-sign-in {
            display: flex;
            width: 455px;
            flex-direction: column;
            justify-content: flex-start;
        }
    
        // Поле логина
        .input-login {
            margin-bottom: 10px;
        }
        .input-password {
            margin-top: 13px;
        }
    }
    &__checkbox {
        margin: 3px 13px;
        font-size: 12px;
        font-weight: normal;
        color: $color-text-base;
    }
    //Сообщение об ошибке
    &__error-message {
        display: flex;
        visibility: hidden;
        align-self: flex-end;
        margin: 0 13px 0 0;
        font-weight: normal;
        font-size: 14px;
        color: $color-input-border-error;
    }
    // Кнопка вход
    &__btn-enter {
        width: 200px;
        margin: 25px auto;
        min-height: 45px;
        border: 1px solid $click-load-color;
        font-weight: 500;
        font-size: 18px;
        color: $click-load-color;
    }

    // ЗАбыли пароль?
    &__link-to-recovery-password {
        text-align: center;
        font-size: 13px;
        font-weight: 600;
        margin: 0 0 10px 0;
        appearance: none;
    }

    // ЗАголовок формы
    &__heading {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0 0 10px 0;
        font-size: 22px;
        font-weight: 600;
        text-align: center;
        color: $color-text-heading;
    }

// РЕГИСТРАЦИЯ
    
    &__login-pass-container {
        display: flex;
    }
    &__login-container, &__pass-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        max-width: 350px;
    }
    &__login-container {
        margin-right: 24px;
    }
    &__btn-container {
        display: flex;
        justify-content: center;
        margin: 10px 0;
    }
    &__btn-register {
        width: 220px;
        height: 45px;
        font-size: 18px;
        font-weight: 500;
    }
    &__phone-container {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    &__phone {
        display: flex;
        width: 100%;
        max-width: 350px;
    }
    &__phone-txt {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 350px;
        margin: 13px;
    }
    @media (max-width: 768px) {
        // Инпуты
        .ds-inputs-form {
            &__txt-info {
                max-width: 150px;
            }
            // &__txt-error {
            //     font-size: 10px;
            // }
            &__txt-error-login {
                max-width: 202px;
            }
            &__txt-error-phone {
                max-width: 133px;
            }
            &__txt-error-email {
                max-width: 160px;
            }        


        }
        // Инпуты
        .auth-form {
            &__form-sign-in {
                max-width: 305px;
            }
            &__form {
                padding-left: 0;
                padding-right: 0;
            }
            &__login-pass-container {
                justify-content: center;
                flex-wrap: wrap;
            }
            &__login-container {
                margin-right: 0;
            }
            &__phone-container {
                justify-content: center;
                flex-wrap: wrap;
            }
            &__txt-footnote {
                padding: 0px 4px 0 15px;
            }
            &__form-sign-up {
                max-width: 455px;
            }
            &__right-tab {
                &:after {
                    right: calc(50% - 10px);
                }
            }
            //Регистрируясь на сайте
            &__phone-txt {
                margin: 13px 0;
            }
            &__phone-container, 
            &__login-pass-container {
                display: block;
            }
            // ТАбы
            &__auth-tabs {
                
                &:checked ~.auth-form__right-tab {
                    &:before {
                        left: calc(50%-10px);
                    }
                    &:after {
                        right: calc(50%-175px); 
                    }
                }
                &:checked ~.auth-form__left-tab {
                    &:before {
                        display: none;
                    }
                    &:after {
                        display: none;
                    }

                }
            }
        }
        
    }
    &__phone-container {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    &__phone {
        display: flex;
        width: 100%;
        max-width: 350px;
    }
    &__phone-txt {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 350px;
        margin: 13px;
    }
    @media (max-width: 768px) {
        .ds-inputs-form {
            &__txt-info {
                max-width: 150px;
            }
            // &__txt-error {
            //     font-size: 10px;
            // }
            &__txt-error-login {
                max-width: 202px;
            }
            &__txt-error-phone {
                max-width: 133px;
            }
            &__txt-error-email {
                max-width: 160px;
            }        


        }

        .auth-form {
            max-width: 455px;
            &__login-pass-container {
                justify-content: center;
                flex-wrap: wrap;
            }
            &__login-container {
                margin-right: 0;
            }
            &__phone-container {
                justify-content: center;
                flex-wrap: wrap;
            }
            &__txt-footnote {
                padding: 0px 4px 0 15px;
            }
            &__form-sign-up {
                max-width: 455px;
            }
            &__right-tab {
                &:after {
                    right: calc(50% - 10px);
                }
            }
            // Чекбокс
            &__auth-tabs {
                
                &:checked ~.auth-form__right-tab {
                    &:before {
                        left: calc(50%-10px);
                    }
                    &:after {
                        right: calc(50%-10px); 
                    }
                }
                &:checked ~.auth-form__left-tab {
                    &:before {
                        display: none;
                    }
                    &:after {
                        display: none;
                    }

                }
            }
        }
        
    }

// Восстановление пароля
    &__form-password-recovery {
        display: block;
        width: 455px;
        padding: 20px 0 28px 0;
        .ds-inputs-component {
            min-height: auto;
        }
        .ds-inputs-form {
            margin-bottom: 5px;
        }
        &.is-hidden {
            display: none;
        }
        .auth-form__heading {
            font-size: 18px;
        } 
    }

    // Контейнер контента
    &__content-container {
        display: block;
        padding: 0 39px;
    }
    // Блок "или"
    &__txt-or {
        display: block;
        max-height: 12px;
        text-align: center;
        font-size: 13px;
        color: $color-text-light-grey;
    }
    //Блок Ошибка указаных данных
    &__txt-error {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 26px;
        max-height: 26px;
        margin: 15px 0;
        background: $color-input-bg-error;
        font-size: 13px;
        color: $color-input-border-error;
        visibility: hidden;
    }
    &__btn-recovery {
        width: 220px;
        height: 45px;
        font-size: 18px;
        font-weight: 500;
    }

    @media (max-width: 768px) {
        .auth-form__content-container {
            padding-left: 2px;
            padding-right: 2px;
        }
        .auth-form__form-password-recovery {
            max-width: 305px;
            .auth-form__txt {
                padding: 0 50px;
            }
        }
        .auth-form__txt-error {
            font-size: 12px;
        }
    }
}


