// хлебные крошки

.ds-breadcrumb {
    margin: 10px 0;
    background-color: transparent;
    @media (max-width: 767px) {
        visibility: hidden;
    }
    
    &__list {
        padding-left: unset;
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: unset;
    }

    &__item {
        font-size: 12px;
        color: #858585;
        margin-right: 4px;
        max-width: 90vw;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        
        &_active {
            color: #1e2023;
            a {
                color: inherit;
            }
        }        
    }
}

.ds-breadcrumb_limited {
    .ds-breadcrumb__item {
        max-width: 30%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.ds-breadcrumb__item + .ds-breadcrumb__item:before {
    display: inline-block;
    padding-right: 4px;
    color: #858585;
    content: "/";
}
