// хлебные крошки

.breadcrumb {
    margin-bottom: 20px;
    
    &__list {
        padding-left: unset;
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: unset;
    }

    &__item {
        font-size: 12px;
        color: #858585;
        margin-right: 4px;
        &_active {
            color: #1e2023;
            a {
                color: inherit;
            }
        }
    }
}

.breadcrumb__item + .breadcrumb__item:before {
    display: inline-block;
    padding-right: 4px;
    color: #858585;
    content: "/";
}
