.btn-container-upDown {
    position: fixed;
    display: flex;
    flex-direction: column;
    bottom: 50%;
    right: 50px;
    .arrow-up {
        margin: 0 0 20px 0;
    }
    z-index: 8; 
    @media (max-width: 1024px) {
        position: fixed;
        flex-direction: row;
        justify-content: center;
        height: 40px;
        left: 0;
        right: 0;
        bottom: 0;
        .arrow-up {            
            margin: 0 20px 0 0;
        }
        .arrow {
            width: 32px;
            height: 32px;
        }
    }   
}




