.btn-sum {
    display: flex;
    flex-direction: row;
    align-items: center;

    &:hover {
        .btn-sum__sum-num {
            border-bottom: 1px solid $color-primary;
        }
    }
    &__sum-num {
        width: 35px;
        margin: 0 5px;
        font-size: 16px;
        appearance: none;
        border: none;
        text-align: center;
        border-bottom: 1px solid transparent;

        &:active,
        &:focus {
            border-bottom: 1px solid $color-primary;
        }
    }

    &__minus,
    &__plus {
        position: relative;
        flex-shrink: 0;
        width: 24px;
        height: 24px;
        min-width: 20px;
        border-radius: 50%;
        background: rgba(54, 166, 242, 0.5);
        color: #ffffff;
        &:hover {
            background: #0080f6;
        }

        &:active {
            transform: scale(0.95);
            background: $color-primary;
        }
        &:after,
        &:before {
            content: "";
            position: absolute;
            width: 5px;
            height: 2px;
            background: #ffffff;
        }
    }
    &__plus {
        &:before {
            width: 8px;
            transform: rotate(90deg);
        }
        &:after {
            width: 8px;
        }
    }
}
