// базовая кнопка, сброс стилей
button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: none;
    display: inline-flex;
    align-items: center;
    color: inherit;
    justify-content: center;
    -moz-appearance: none;
    -webkit-appearance: none;
    &:focus {
        outline: none;
    }
}

// кнопка с категориями
.menu-btn {
    color: $color-primary-light;
    
    &__icon {
        margin-right: 10px;
        font-size: 16px;
    }

    &__text {
        font-size: 14px;
    }

    &:active {
        .menu-btn__icon {
            @include deep-click();
        }
    }
}
