// выпадающее меню с фиксированным отображением текущего параметра в поиске
.dropdown-fixed-list {
    cursor: pointer;
    position: relative;
    color: $color-text-base;
    font-size: 12px;
    user-select: none;

    &__list {
        display: none;
        background-color: $background-color-primary;
        box-shadow: 0 0 16px rgba(105, 153, 247, 0.35);
        border-radius: 8px;
        cursor: initial;
        list-style: none;
        user-select: none;
    }

    &__list-item {
        cursor: pointer;
        padding-bottom: 2px;
        margin-bottom: 6px;
        user-select: none;

        input {
            display: none;
        }

        &.is-selected {
            border-bottom: 1px solid #36a6f275;
        }

        &:last-child {
            margin-bottom: unset;
        }
    }

    &::before {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        left: -13px;
        top: calc(50% + 3px);
        transform: translateY(-50%);
        display: block;
        border: 4px solid transparent;
        border-top: 4px solid $color-text-base;
        z-index: 2;
    }
}

// состояние .dropdown-fixed-list
.dropdown-fixed-list.is-expanded {
    .dropdown-fixed-list__current {
        display: none;
    }

    .dropdown-fixed-list__list {
        display: flex;
        flex-direction: column;
        position: relative;
        right: -10px;
        top: -13px;
        padding: 5px 10px 5px 20px;
        transform: translateY(50%);
    }

    &::before {
        left: 17px;
    }
}
