.like {
    display: inline-flex;
    align-items: center;
    height: 25px;
    font-size: 10px;
    line-height: 12px;
    color: #979797;
    cursor: pointer;
    &__text {
        width: 68px;
        margin-left: 10px;
    }
    &__icon {
        max-width: 20px;
        font-size: 20px;
        color: $color-primary;
    }
    &_txt-hidden {
        .like__text {
            visibility: hidden;
        }
    }
    &:hover {
        .icon-heart {
            @extend .icon-heart-filled
        }
    }
}

