.rating-star-org {
	display: inline-flex;
    align-items: center;
    height: 15px;
	&__icon {
		width: 12px;
		color: #FFB21C;
	}
	&__value {
		margin-left: 8px;
		font-weight: bold;
		color: #FFB21C;
	}
}
