.arrow {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 44px;
	height: 44px;
	// border-radius: 0;
	background: #d7d7d7;
	cursor: pointer;
	&:active {
		transform: scale(.95);
	}
	&_default {
		color: $color-primary;
		&:hover {
			color: $light-gray-color;
		}
	}

	//Меняет цвет стрелки
	&_inverse {
		color: #fff;
		&:hover {
			color: $color-primary;
		}
	}
	&_circle {
		border-radius: 50%;
	}

}
