// стандартная кнопка

$button-font-size: 12px;
$button-border-radius: 24px;

// кнопка с категориями
.menu-btn {
    color: $color-primary-light;

    &__icon {
        margin-right: 10px;
        font-size: 16px;
    }

    &__text {
        font-size: 14px;
    }

    &:active {
        .menu-btn__icon {
            @include deep-click();
        }
    }
}

.ds-btn {
    cursor: pointer;
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    color: $color-primary-light;
    background: white;
    border: 1px solid $color-primary-light;
    border-radius: $button-border-radius;
    padding: 7px 18px;
    font-weight: 600;
    font-size: $button-font-size;
    text-decoration: none;
    line-height: 135%;
    transition: background $transition-ultra-fast, color $transition-ultra-fast;
    
    &::first-letter {
        text-transform: capitalize;
    }

    &__text {
        &::first-letter {
            text-transform: capitalize;
        }
    }

    &:hover,
    &_hover {
        color: white;
        background: $color-primary-light;
    }
    &_disabled {
        color: $color-primary-light;
        background: white;
        opacity: 0.6;
        &:hover {
            color: $color-primary-light;
            background: white;
            cursor: default;
        }
        &:active {
            transform: scale(1) !important;
        }
    }

    &_flex {
        display: flex;
        width: 100%;
    }

    &_inverse {
        background: $color-primary-light;
        color: white;
        &:hover {
            color: $color-primary-light;
            background: white;
        }
    }

    &:active {
        @include deep-click(0.95);
    }
}
