.sorting {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    user-select: none;
    //Помещает позицию в столбец
    &.is-selected {
        .sorting__selected-position {
            display: flex;
        }
    }
    &_col {
        .sorting__btn {
            flex-direction: column;
        }
        .sorting__selected-position {
            font-size: 10px;
            color: $color-text-base;
        }
    }
    &__input {
        display: none;
        // &:checked {
        //     ~.ds-popover {
        //        max-height: 200px;
        //        visibility: visible;
        //        opacity: 1; 
        //     }
        // }
    }
    //Окно со списком popover
    .ds-popover_sorting {
        position: absolute;
        top: 25px;
        right: -25px;
        &:hover {
            max-height: 1000px;
            visibility: visible;
            transition: all .5s ease;
            opacity: 1;
        }
    }


    &__btn {
        display: flex;
        flex-direction: row;
        position: relative;
        &:hover {
            color: $color-primary;
            cursor: pointer;
            &:after {
                background: url("~images/active_custom_card/arrow-point-to-down-hover.svg");
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
            .ds-popover {
                max-height: 1000px;
                visibility: visible;
                transition: all .5s ease;
                opacity: 1; 
            } 
    
        }
        //Галочка слева, при выбранной позиции
        &:before {
            content: "";
            display: none;
            width: 10px;
            height: 8px;
            background-image: url("~images/active_custom_card/checked.svg");
            position: absolute;
            top: 5px;
            left: -15px;
        }
        //Треугольник справа
        &:after {
            content: "";
            position: absolute;
            display: flex;
            width: 8px;
            height: 8px;
            top: 6px;
            right: -10px;
            background: url("~images/active_custom_card/arrow-point-to-down.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            opacity: 0.6;               
            cursor: pointer;
        }
        // Название элемента сортировки 
    }
    &__name {
        display: flex;
        white-space: nowrap;
        margin-right: 5px;
    }
    //Выбранная позиция(span)
    &__selected-position {
        display: none;
        border-bottom: 1px solid $color-primary;
    }
    .tooltip {
        font-size: 9px;
        min-width: 270px;
    }
}
.sorting-block .sorting__btn:focus+.ds-popover_sorting {
    max-height: 1000px;
    visibility: visible;
    transition: all .5s ease;
    opacity: 1;
}
.sorting-block .ds-popover_sorting:hover {
    max-height: 1000px;
    visibility: visible;
    transition: all .5s ease;
    opacity: 1;
}
