// стандартная кнопка

$button-font-size: 12px;
$button-border-radius: 24px;

// базовая кнопка, сброс стилей
button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: unset;
    display: inline-flex;
    align-items: center;
    color: inherit;
    justify-content: center;
    -moz-appearance: none;
    -webkit-appearance: none;
    &:focus {
        outline: none;
    }
}

// кнопка с категориями
.menu-btn {
    color: $color-primary-light;
    
    &__icon {
        margin-right: 10px;
        font-size: 16px;
    }

    &__text {
        font-size: 14px;
    }

    &:active {
        .menu-btn__icon {
            @include deep-click();
        }
    }
}

.ds-btn {
    cursor: pointer;
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    color: $color-primary-light;
    background: white;
    border: 1px solid $color-primary-light;
    border-radius: $button-border-radius;
    padding: 7px 18px;
    font-weight: 600;
    font-size: $button-font-size;
    transition: background $transition-ultra-fast, color $transition-ultra-fast;

    &:hover, &_hover {
        color: white;
        background: $color-primary-light;
    }

    &_flex {
        display: flex;
        width: 100%;
    }

    &_inverse {
        background: $color-primary-light;
        color: white;
        &:hover {
            color: $color-primary-light;
            background: white;
        }        
    }

    &:active {
        @include deep-click(0.95);
    }
}