
.ds-loader {
    display: inline-flex;
    &:after {
        content: "";
        width: 45px;
        height: 45px;
        background: url("~images/loader_large.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        animation: rotate 1s infinite linear;
    }
    &_large {
        &:after {
            width: 100px;
            height: 100px;
        }
    }
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

