// блок добавить в избранное
.favorite {
    display: flex;
    align-items: center;

    &__icon {
        font-size: 28px;
        color: $color-primary;
        user-select: none;

        &:active {
            @include deep-click(0.9);
        }
    }

    &__text {
        display: flex;
        margin-left: 10px;
        flex-direction: column;
    }

    &__action {
        font-weight: 600;
        font-size: 12px;
        justify-content: flex-start;
        text-align: left;
        white-space: nowrap;

        &:active {
            @include deep-click(0.975);
        }
    }

    &__already {
        font-size: 11px;
        line-height: 18px;
        color: rgba(96, 98, 102, 0.75);
    }
}

