.go-back-btn {
    display: flex;
    align-items: center;
    color: $color-text-base;

    &__icon {
        font-size: 16px;
    }

    &__text {
        margin-left: 15px;
        font-weight: bold;
        font-size: 12px;
        text-transform: uppercase;
    }

    &:hover {
        color: $color-primary;
    }
}