// блок шапки, содержит touch и desctop блоки
.header {
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    .header-desctop {
        display: none;
    }

    @media screen and (min-width: 1024px) {
        position: static;

        .header-desctop {
            display: block;
        }

        .header-touch {
            display: none;
        }
    }
}

// режим гостя
.header.is-guest {
    .header-desctop__search {
        margin-right: 60px;
        margin-left: unset;
    }
}
