// Иконка закрывающего крестика

.icon-close {
    width: 20px;
    height: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &:before, &:after {
        content: "";
        background-color: #1D1E1F;
        width: 100%;
        height: 10%;
        position: absolute;
        transform: rotate(45deg);
    }

    &:after {
        transform: rotate(-45deg);
    }

    &:active {
        @include deep-click;
    }
}