.input-login {
    &:before {
        content: "Логин";
        display: inline-flex;
        height: 15px;
        position: absolute;
        top: -12px;
        left: 5px;
        padding: 0 10px;
        font-family: Open Sans;
        font-weight: 600;
        font-size: 15px;
        color: $light-gray-sum-btn;
        z-index: 20;
    }
    &:after {
        content: "";
        background: url("~images/auth-form/bg-line-label-input.svg");
        width: 66px;
        height: 2px;
        position: absolute;
        top: -2px;
        left: 4px;
        z-index: 10;
    }

}

