.input-password {
    &:before {
        content: "Пароль";
        display: inline-flex;
        height: 15px;
        position: absolute;
        top: -12px;
        left: 5px;
        padding: 0 10px;
        font-family: Open Sans;
        font-weight: 600;
        font-size: 15px;
        color: $light-gray-sum-btn;
        z-index: 20;
    }
    &:after {
        content: "";
        background: url("~images/auth-form/bg-line-label-input.svg");
        width: 75px;
        height: 2px;
        position: absolute;
        top: -2px;
        left: 5px;
        z-index: 10;
    }

    
    #passEye {
        display: none;
        &:checked ~.passEye-label:after  {
            display: none;
        }
        &:checked ~.passEye-label:before  {
            display: inline-block;
        }

    }
    .passEye-label {
        position: absolute;
        display: inline-block;
        width: 24px;
        height: 22px; 
        top: 12px;
        right: 12px;
        &:after {
            content: "";
            display: inline-block;
            width: 25px;
            height: 26px;    
            background: url("~images/password-input/passEyeClose.svg");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
        &:before {
            content: "";
            position: absolute;
            display: none;
            width: 25px;
            height: 16px;
            top: 4px;    
            background: url("~images/password-input/passEye.svg");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }

        cursor: pointer;
    }
}



