// карточка (страница) товара
.item-page-d {
    border-bottom: 1px solid rgba(49, 140, 202, 0.25);
    padding-bottom: 50px;
    background: #ffffff;

    &__w {
        width: 100%;
        display: flex;
        align-items: flex-start;
    }

    &__slider {
        margin-top: 35px;
        background-color: white;
        max-width: 544px;
        position: relative;

        .slider-viewing {
            // height: 80px;
            min-height: 100px;
            overflow-x: auto;
            overflow-y: hidden;

            // Стилизованный скролл
            &::-webkit-scrollbar {
                height: 7px;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 3px;
                background: $color-primary;
                width: 30px;
            }

            &::-webkit-scrollbar-track {
                background: #e0eef7;
                border-radius: 3px;
            }
        }

        .slider-wrap {
            position: absolute;
        }

        &:after {
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            width: 35px;
            background: linear-gradient(270deg, #ffffff 9.01%, rgba(255, 255, 255, 0) 100%);
        }
    }

    &__preview-sm-w {
        width: 80px;
        height: 80px;
        cursor: pointer;
        padding: 2px;
        border: 2px solid white;
        margin-right: 15px;
        display: flex;
        align-items: center;
        justify-content: center;

        &.is-selected {
            border: 2px solid $color-primary;
        }
    }

    &__preview-sm-img {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
    }

    &__l {
        margin-right: 33px;
        min-width: 50%;
    }

    &__org-btns {
        display: flex;
        align-items: center;
        margin-left: 20px;
    }

    &__get-position {
        margin-right: 15px;
    }

    &__legend {
        margin-top: 10px;
    }

    &__collapse {
        margin-bottom: 15px;
        position: relative;

        &:after {
            content: "";
            width: 100%;
            height: 50px;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 2;
            background: linear-gradient(0deg, #fff, hsla(0, 0%, 100%, 0) 105%);
        }
    }

    .collapse-section {
        &.is-expanded {
            &:after {
                display: none;
            }
        }

        &__body {
            // max-height: 0;
            line-height: 24px;
        }
    }

    &__buttons {
        display: flex;
        align-items: center;
        margin-bottom: 28px;
    }

    &__num,
    &__buy {
        margin-right: 33px;
    }

    &__detail {
        margin-left: auto;
        flex-wrap: nowrap;
        white-space: nowrap;
    }

    &__buy {
        width: 100%;
        max-width: 160px;
        flex-shrink: 1;
        white-space: nowrap;

        .ds-btn__icon {
            margin-left: 5px;
            font-size: 16px;
        }
    }

    &__body {
        padding-top: 0;
        // width: calc(50% - 20px);

    }

    &__price-w {
        margin-bottom: 12px;
    }

    &__price {
        font-weight: bold;
        font-size: 24px;
        color: #1e2023;
        line-height: 38px;
    }

    &__params-section {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-bottom: 0;
    }

    &__params {
        max-width: 43%;
        margin-right: 30px;
        margin-bottom: 22px;
        @media (max-width: 767px) {
            max-width: 100%;
        }

        .tooltip {
            bottom: 15px;
            width: 100%;
            left: 49%;
        }
    }

    .item-params-list {
        position: relative;
        left: -5px;
        max-width: 260px;
        // max-height: 50px;
    }

    .item-params-list__item {
        margin-bottom: 0;
        margin-right: 0;
        text-align: left;
    }

    &__expand {
        font-size: 11px;
        text-decoration-line: underline;
        color: #a3a4a6;
    }

    &__size-grid-link {
        font-size: 12px;
        font-weight: normal;
    }

    &__params-label {
        font-weight: 600;
        font-size: 12px;
        line-height: 17px;
        color: $color-text-heading;
        margin-bottom: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        div {
            &::first-letter {
                text-transform: capitalize;
            }
        }

        span {
            &::first-letter {
                text-transform: capitalize;
            }
        }
    }

    &__fee {
        font-weight: normal;
        font-size: 16px;
        color: rgba(96, 98, 102, 0.75);
    }

    &__heading {
        font-size: 20px;
        color: #1e2023;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        div {
            &::first-letter {
                text-transform: capitalize;
            }
        }
    }

    &__wrapper {
        display: flex;
        position: relative;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        max-width: 544px;
        max-height: 649px;
        background: white;
    }

    &__images-wrapper {
        position: relative;
        max-width: 544px;
    }

    &__prev,
    &__next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 32px;
        height: 32px;
        background-color: rgba(255, 255, 255, 0.6);
        color: $color-primary;
        font-size: 18px;
        z-index: 2;

        &:active {
            i {
                @include deep-click();
            }
        }
    }

    &__prev {
        left: 0;
    }

    &__next {
        right: 0;
    }

    .stock-badge_rows {
        position: absolute;
        left: -10px;
        bottom: 30px;
    }

    .stock-badge_already {
        left: auto;
        bottom: auto;
        right: -10px;
        top: -12px;
        font-weight: 600;
        font-size: 12px;
        line-height: 17px;
        color: white;
        background: $color-primary;
        width: 145px;
        padding: 10px;
        position: absolute;

        &:before {
            border-top: 7px solid #2c6aa4;
            transform: rotate(135deg);
            top: auto;
            right: 3px;
            left: auto;
            bottom: -7px;
        }
    }

    &__image {
        max-width: 100%;
        max-height: 649px;
        display: none;
        margin: 0 auto;

        &.zoom-on-hover{
            display: flex !important;
            align-items: center;
            height: 400px;
        }
    }

    &__image.is-active {
        display: block;
    }

    &__favorite {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .favorite {
        &__icon {
            font-size: 22px;
        }
    }

    .collapse-section__heading {
        font-weight: 600;
        font-size: 16px;
        color: $color-text-heading;
    }

    &__stock-name {
        display: block;
        margin-bottom: 10px;
        line-height: 14px;
    }

    &__lens {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &:active {
            transform: translate(-50%, -50%) scale(0.9);
        }
    }

    &__sku {
        font-size: 12px;
        line-height: 22px;
        color: $color-text-base;
        margin-bottom: 13px;
    }

    &__po-w {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 18px;
    }

    &__message {
        &:active {
            @include deep-click(0.9);
        }
    }

    &__share {
        margin-bottom: 35px;
    }

    &__share-heading {
        font-weight: bold;
        font-size: 12px;
        color: #1e2023;
        margin-bottom: 15px;
    }

    &__share-links {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .social-link {
            margin-right: 15px;
        }
        .link_hover {
            font-size: 12px;
        }
    }

    //

    .item-page-params {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
    .item-page-d__size-grid-link {
        margin: 0 0 0 10px;
        white-space: nowrap;
    }
    .stock-rows-help {
        display: none;
    }
}
