// блок рекомендаций товаров
.items-recomendation {
    &__slider {
        background-color: white;
    }

    &__wrap {
        margin: 0 -15px 0;
    }

    &__heading {
        font-weight: bold;
        font-size: 18px;
        color: #4b4b4b;
    }

    .stock-card-vertical-wrapper {
        width: 288px;
    }

    .stock-card-vertical-wrapper:hover .stock-card-vertical {
        box-shadow: unset;
    }
}