.item-params-list {
    list-style: none;
    margin: unset;
    padding: unset;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    // max-height: 78px;
    overflow: hidden;
    position: static;

    &.is-error {
        border: 1px solid $error-primary;
        box-sizing: border-box;
        border-radius: 4px;
        .ds-popover {
            max-height: 1000px;
            visibility: visible;
            transition: all .5s ease;
            opacity: 1;        
        }
    }

    &__item {
        cursor: pointer;
        user-select: none;
        font-size: 12px;
        padding: 3px 5px;
        border-radius: 12px;
        color: $color-text-base;
        margin-right: 5px;
        margin-bottom: 3px;
        min-width: 23px;
        text-align: center;
        transition: background-color $transition-fast, color $transition-fast;

        &:active {
            @include deep-click(0.95);
        }

        &:hover {
            color: $color-primary;
            span, a {
                color: $color-primary;
            }
        }

        span, a {
            color: $color-text-base;
        }
    }

    &__item.is-selected {
        transition: background-color $transition-fast, color $transition-fast;
        background-color: $color-primary;
        color: white;
    }

    // Popover
    .ds-popover {
        bottom: -28px;
    }
}

.item-params-list.is-expanded {
    max-height: unset !important;
}
