// Вертикальное простое меню

.left-vertical-menu {
    display: inline-block;
    background: $background-color-primary;

    &__section {
        border-bottom: 1px solid rgba(49, 140, 202, 0.25);
        padding: 15px;
    }

    &__section:last-child {
        border-bottom: unset;
    }

    &__item {
        margin-bottom: 13px;
        display: flex;
        align-items: center;
    }

    &__item:last-child {
        margin-bottom: unset;
    }
    .link_text {
        font-size: 14px;
        color: $color-text-base;
        &.is-active {
            position: relative;
            font-weight: 600;
            color: $color-primary;

            &:before {
                content: "";
                position: absolute;
                bottom: -3px;
                left: -4px;
                height: 2px;
                width: 100%;
                width: calc(100% + 8px);
                background: $color-primary;
            }

        }
        &:hover {
            color: $color-primary;
        }
        
    }

}



