// отображение ссылки
.link {
    cursor: pointer;
    color: $color-text-base;
    text-decoration: none;

    &:hover,
    &_hover {
        color: $color-primary-light;
        text-decoration: underline;
    }

    &_colored {
        color: $color-primary-light;
    }

    // визуальное выделение строчного элемента
    &_is-highlighted {
        background: $color-primary-light;
        color: white;
        border-radius: 24px;
        padding: 4px 14px;
        text-decoration: none;
        &:hover {
            color: white;
            text-decoration: none;
        }
    }

    // стиль обычного текста
    &_text {
        cursor: pointer;
        color: unset;
        text-decoration: none;
        &:hover {
            color: unset;
            text-decoration: none;
        }
    }
}
