.main-slider {
	padding: 16px 12px;
	max-width: 100%;
	width: fit-content;
	position: relative;

	&_without-buttons {
		.main-slider__button-wrapper {
			display: none;
		}
	}

	&__title {
		font-size: 12px;
		font-weight: normal;

		&_subtitle {
			font-size: 12px;
			line-height: 20px;
			color: #1D1E1F;
			font-weight: bold;
		}
	}

	&__button-wrapper {
		display: none;
	}

	&__list {
		list-style: none;
		display: flex;
		margin: 0;
		padding: 0;
		overflow-x: scroll;
		padding-bottom: 15px;

		&::-webkit-scrollbar {
			height: 2px;
			background-color: rgba(54, 165, 242, 0.15);;
		}
		
		&::-webkit-scrollbar-thumb {
			background-color: #36A5F2;
		}
	}

	&__item {
		min-width: 150px;
		max-width: 160px;
		display: flex;
		flex-direction: column;

		&:last-child {
			margin: 0;
		}

		&-img {
			width: 100%;
			margin-bottom: 20px;
			max-width: 100%;
			margin-bottom: 10px;
		}

		&-name {
			font-size: 12px;
			line-height: 18px;
			color: #1E2023;
			margin-bottom: 10px;
			padding-right: 5px;
		}

		&-price {
			font-weight: bold;
			font-size: 16px;
			line-height: 16px;
			color: #1E2023;

			&_tax {
				font-weight: normal;
				font-size: 12px;
				line-height: 20px;
				color: #1E2023;
				opacity: .8;
			}
		}
	}

	&__footer {
		margin-top: 10px;

		&-link {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 10px 0;
			text-decoration: none;
		}

		&-name {
			font-size: 14px;
			line-height: 17px;
			text-decoration-line: underline;
			color: #36A6F2;
		}

		.ds-icon {
			color: #36A6F2;
			margin-top: 4px;
		}
	}

	&_big {
		.main-slider__list {
			max-height: 465px;
		}

		.main-slider__nested-wrapper:nth-child(2) {
			display: none;
		}	

		.main-slider__nested-list {
			display: flex;
			padding: 0;
		}

		.main-slider__item {
			width: 150px;
			margin-right: 10px;
		}

		.main-slider__link {
			text-decoration: none;
			display: flex;
			flex-direction: column;
		}

		.main-slider__title {
			font-weight: bold;
			font-size: 14px;
		}
	}
}

@media (min-width: 768px) {
	.main-slider {
		&__title {
			font-size: 20px;
			line-height: 20px;
		}

		&__item {
			margin-right: 10px;
			min-width: 144px;
			max-width: 144px;
			max-height: 240px;
    		height: 240px;
		}

		&__item-img {
			max-height: 140px;
			width: auto;
			margin: 0 auto;
		}

		&_big {
			.main-slider__list {
				max-height: 940px;
			}

			.main-slider__list {
				flex-flow: wrap;
			}

			.main-slider__item {
				width: 160px;
			}

			.main-slider__item-img {
				height: 160px;
				width: auto;
			}
		}
	}
}

@media (min-width: 1184px) {
	.main-slider {
		padding: 16px 12px;
		overflow: hidden;
		max-width: 791px;

		&__title {
			display: flex;
			align-items: center;
	
			&_hot {
				font-size: 14px;
				margin-right: 5px;
			}
	
			&_subtitle {
				font-size: 16px;
				line-height: 20px;
				color: #1D1E1F;
				font-weight: bold;
				margin-right: 10px;
			}
		}

		&__button-wrapper {
			display: block;
			position: absolute;
			width: calc(100% - 14px);
			display: flex;
			justify-content: space-between;
			top: 50%;
			transform: translateY(-50%);
			z-index: 10;
		}

		&__button {
			position: relative;
			width: 12px;
			height: 20px;
			transition: opacity .2s ease;

			&::after {
				content: '';
				display: block;
				position: absolute;
				left: 0;
				width: 15px;
				height: 2px;
				background-color: #36A6F2;
				border-radius: 5px;
			}

			&::before {
				content: '';
				display: block;
				position: absolute;
				left: 0;
				width: 15px;
				height: 2px;
				background-color: #36A6F2;
				border-radius: 5px;
			}

			&_left {
				transform: translateX(-14px);

				&::after {
					transform: translateY(-5px) rotate(-45deg);
				}

				&::before {
					transform: translateY(5px) rotate(45deg);
				}
			}

			&_right {
				margin-left: auto; 

				&::after {
					transform: translateY(-5px) rotate(45deg);
				}

				&::before {
					transform: translateY(5px) rotate(-45deg);
				}
			}

			&:hover {
				opacity: .6;
			}

			&:active {
				opacity: .4;
			}
		}

		&__list {
			padding: 0 5px 15px;
			margin: 0 15px;
			overflow: visible;
			transition: transform .2s ease;
			width: max-content;
		}

		&__item {
			min-width: 160px;
			max-width: 160px;
			margin-right: 35px;
		}

		&__footer {
			display: none;
		}

		&_big {
			width: 100%;

			.main-slider__list {
				height: 840px;
				overflow: hidden;
				padding: 0;
				width: 100%;
			}

			.main-slider__nested-list {
				display: flex;
				flex-direction: column;
				flex-flow: wrap;
			}

			.main-slider__item {
				margin-bottom: 15px;

				&:nth-of-type(3n + 2) {
					margin: 0 auto;
				}
			}

			.main-slider__link {
				height: 272px;
			}

			.main-slider__item-img {
				width: auto;
				margin: 0 auto;
				margin-bottom: 10px;
				max-height: 160px;
				height: auto;
			}

			.main-slider__item-name {
				font-size: 15px;
				line-height: 20px;
			}

			.main-slider__nested-wrapper:nth-child(2) {
				display: none;
			}
		}
	}
}