.main-cities {
	margin-top: 15px;

	@media (min-width: 768px) and (max-width: 1183px) {
		margin-top: 4px;
	}

	.main-slider__footer-link {
		display: none;
	}

	&__list {
		list-style: none;
		padding: 0;
		margin: 0;
		padding: 0 10px;
	}

	&__link {
		font-size: 18px;
		line-height: 40px;
		color: #606266;
		text-decoration: none;
		transition: color .2s ease;

		@media (max-width: 767px) {
			font-size: 14px;
		}

		&:hover {
			color: #36a6f2;
		}

		&_active {
			font-weight: 600;

			&:hover {
				color: #606266;
			}
		}
	}
}

@media (min-width: 768px) {
	.main-cities {
		&__list {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			height: 290px;
			padding: 0 40px;
		}
	}
}

@media (min-width: 1184px) {
	.main-cities {
		.main-slider__footer-link {
			display: flex;
		}

		&__list {
			padding: 0;
			height: 245px;
		}
	}
}
