.main-common-banner {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	width: 320px;
	margin: 0 auto;

	&__img {
		width: 100%;
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 16px 10px;
		background-color: #E5D154;
		margin-top: -2px;
		min-height: 157px;

		&-title {
			text-transform: uppercase;
			color: #FFFFFF;
			font-weight: bold;
			font-size: 36px;
			line-height: 39px;
			margin: 0 0 15px 0;
			text-align: center;

			&_low {
				font-size: 26px;
			}
		}

		&-subtitle {
			font-weight: 600;
			font-size: 18px;
			line-height: 24px;
			color: #FFFFFF;

			&_capitalize {
				text-transform: uppercase;
			}
		}

		&-button {
			margin-top: 15px;
		}
	}

	&_mini {
		flex-direction: row;
		position: relative;

		.main-common-banner__img {
			width: 40%;
			position: absolute;
			right: 0;
			height: 100%;
    		width: 50%;
		}


		.main-common-banner__wrapper {
			width: 50%;
			position: relative;

			&::before {
				content: '';
				position: absolute;
				background-color: #e5d154;
				top: 0;
				transform: skewX(15deg);
				width: 100%;
				height: 100%;
				right: -20px;
			}
		}

		.main-common-banner__wrapper-title {
			font-weight: bold;
			font-size: 21px;
			line-height: 23px;
			z-index: 10;
		}

		.main-common-banner__wrapper-subtitle {
			font-weight: 600;
			font-size: 10px;
			line-height: 14px;
			z-index: 10;
		}

		.main-page__button {
			width: 118px;
			height: 25px;
			z-index: 10;

			.ds-btn__text {
				font-size: 11px;
				line-height: 11px;
			}
		}
	}
}

@media (min-width: 768px) {
	.main-common-banner {
		margin: 0;
		
		&__img {
			height: 330px;
		}
	}
}

@media (min-width: 1184px) {
	.main-common-banner {
		&_mini {
			width: 520px;
			height: 225px;
		}

		&_mini {
			.main-common-banner__wrapper {
				&::before {
					right: -30px;
				}
			}

			.main-common-banner__wrapper-title {
				font-size: 34px;
				line-height: 38px;
			}

			.main-common-banner__wrapper-subtitle {
				font-size: 16px;
				line-height: 23px;
			}

			.main-page__button {
				width: 192px;
				height: 40px;

				.ds-btn__text {
					font-size: 18px;
					line-height: 1;
				}
			}
		}
	}

}