.main-slider {
	padding: 16px 12px;
	max-width: 100%;
	width: fit-content;

	&__title {
		font-size: 12px;
		font-weight: normal;

		&_subtitle {
			font-size: 12px;
			line-height: 20px;
			color: #1D1E1F;
			font-weight: bold;
		}
	}

	&__list {
		list-style: none;
		display: flex;
		margin: 0;
		padding: 0;
		overflow-x: scroll;
		padding-bottom: 15px;

		&::-webkit-scrollbar {
			height: 2px;
			background-color: rgba(54, 165, 242, 0.15);;
		}
		
		&::-webkit-scrollbar-thumb {
			background-color: #36A5F2;
		}
	}

	&__item {
		min-width: 150px;
		max-width: 160px;
		display: flex;
		flex-direction: column;

		&-img {
			width: 100%;
			margin-bottom: 20px;
		}

		&-name {
			font-size: 12px;
			line-height: 18px;
			color: #1E2023;
			height: 50px;
			padding-right: 5px;
		}

		&-price {
			font-weight: bold;
			font-size: 16px;
			line-height: 16px;
			color: #1E2023;

			&_tax {
				font-weight: normal;
				font-size: 12px;
				line-height: 20px;
				color: #1E2023;
				opacity: .8;
			}
		}
	}

	&__footer {
		margin-top: 10px;

		&-link {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 10px 0;
			text-decoration: none;
		}

		&-name {
			font-size: 14px;
			line-height: 17px;
			text-decoration-line: underline;
			color: #36A6F2;
		}

		.ds-icon {
			color: #36A6F2;
			margin-top: 4px;
		}
	}

	&_big {
		.main-slider__list {
			max-height: 465px;
		}

		.main-slider__nested-wrapper:nth-child(2) {
			display: none;
		}	

		.main-slider__nested-list {
			display: flex;
			padding: 0;
		}

		.main-slider__item {
			min-width: 295px;
			max-width: 295px;
		}

		.main-slider__title {
			font-weight: bold;
			font-size: 14px;
		}
	}
}

@media (min-width: 768px) {
	.main-slider {
		&__title {
			font-size: 20px;
			line-height: 20px;
		}

		&_big {
			.main-slider__list {
				max-height: 940px;
			}

			.main-slider__nested-wrapper:nth-child(2) {
				display: block;
			}

			.main-slider__list {
				flex-flow: wrap;
			}

			.main-slider__item {
				width: 315px
			}

			.main-slider__item-img {
				height: 260px;
				width: auto;
			}
		}
	}
}

@media (min-width: 1184px) {
	.main-slider {
		&__title {
			display: flex;
			align-items: center;
	
			&_hot {
				font-size: 14px;
				margin-right: 5px;
			}
	
			&_subtitle {
				font-size: 16px;
				line-height: 20px;
				color: #1D1E1F;
				font-weight: bold;
				margin-right: 10px;
			}

		}
		&__footer {
			display: none;
		}

		&_big {
			width: 100%;
			max-width: 540px;
			margin-left: auto;

			.main-slider__list {
				height: 740px;
				overflow: hidden;
				padding: 0;
			}

			.main-slider__item {
				min-width: 255px;
    			max-width: 255px;
			}

			.main-slider__item-img {
				width: fit-content;
				height: 195px;
				margin: 0 auto;
			}

			.main-slider__item-name {
				font-size: 15px;
				line-height: 20px;
			}

			.main-slider__item-price {
				display: none;
			}

			.main-slider__nested-wrapper:nth-child(2) {
				display: none;
			}

			.main-slider__nested-list {
				display: flex;
				flex-direction: column;
				flex-flow: wrap;
			}
		}
	}
}