.main-news {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow-x: scroll;
	display: flex;

	&::-webkit-scrollbar {
		height: 2px;
		background-color: rgba(54, 165, 242, 0.15);;
	}
	
	&::-webkit-scrollbar-thumb {
		background-color: #36A5F2;
	}

	&__text-container {
		list-style: none;
		position: relative;
	}

	&__item {
		width: 320px;
		margin-right: 35px;
	}

	&__info {
		position: absolute;
		bottom: 0;
		padding: 0 15px 15px;
		height: 100%;
		z-index: 5;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		
		&::before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: linear-gradient(180deg, rgba(159, 159, 159, 0) -19.96%, #000000 119.52%);
			z-index: -1;
		}
	}

	&__date {
		margin-top: auto;
		display: block;
		font-weight: 600;
		font-size: 12px;
		line-height: 25px;
		color: #FFFFFF;
	}

	&__title {
		font-weight: bold;
		font-size: 21px;
		line-height: 25px;
		color: #FFFFFF;
	}

	&__description-wrapper {
		padding: 15px;
	}

	&__description {
		font-size: 10px;
		line-height: 20px;
		color: #000000;
	}

	&__button {
		width: 148px;
		height: 28px;
		display: block;

		.ds-btn__text {
			font-weight: 600;
			font-size: 12px;
			line-height: 11px;
			color: #FFFFFF;
		}
	}
}

@media (min-width: 768px) {
	.main-news {
		padding: 0;
	}
}