.main-news {
	list-style: none;
	margin: 0;
	padding: 0 0 24px 0;
	overflow-x: scroll;
	display: flex;
	position: relative;

	&::-webkit-scrollbar {
		height: 2px;
		background-color: rgba(54, 165, 242, 0.15);;
	}

	&::-webkit-scrollbar-thumb {
		background-color: #36A5F2;
	}

	&__text-container {
		list-style: none;
		position: relative;
	}

	&__img {
		width: 100%;
		height: 205px;
		overflow: hidden;
		min-height: 205px;
	}

	&__item {
		width: 320px;
		min-width: 320px;
		margin-right: 24px;
		box-shadow: 0px 0px 16px rgba(54, 166, 242, 0.25);
		padding-top: 7px;
		position: relative;

		&:nth-child(1) {
			z-index: 150;
		}
	}

	&__colorize-rect {
		position: absolute;
		top: 0;
		height: 7px;
		width: 100%;
		display: block;
	}

	&__info {
		position: absolute;
		bottom: 0;
		padding: 0 15px 15px;
		height: 100%;
		z-index: 5;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		width: 100%;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: linear-gradient(180deg, rgba(159, 159, 159, 0) -19.96%, #000000 119.52%);
			z-index: -1;
		}
	}

	&__date {
		margin-top: auto;
		display: block;
		font-weight: 600;
		font-size: 12px;
		line-height: 25px;
		color: #FFFFFF;
	}

	&__title {
		font-weight: bold;
		font-size: 21px;
		line-height: 25px;
		color: #FFFFFF;
		display: flex;
		margin-right: 10px;

		.main-slider__footer-name {
			display: none;
		}
	}

	&__description-wrapper {
		padding: 15px 15px 20px 15px;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		height: 110px;
	}

	&__description {
		font-size: 10px;
		line-height: 20px;
		color: #000000;
		width: 100%;
		height: 40px;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&__button {
		width: 148px;
		height: 28px;
		display: flex;
		align-items: center;
		justify-content: center;

		.ds-btn__text {
			font-weight: 600;
			font-size: 12px;
			line-height: 11px;
		}

		&:hover {
			text-decoration: none;
		}
	}
}

@media (min-width: 768px) {
	.main-news {
		&__item {
			padding-top: 8px;
		}

		&__colorize-rect {
			position: absolute;
			top: 0;
			height: 8px;
			width: 100%;
			display: block;
		}
	}
}

@media (min-width: 1184px) {
	.main-news {
		&__item {
			width: 354px;
			min-width: 354px;
			margin-right: 53px;
		}

		&__img {
			height: 228px;
		}

		&__date {
			font-size: 14px;
			line-height: 28px;
		}

		&__title {
			font-size: 24px;
			line-height: 28px;
		}

		&__description-wrapper {
			height: 120px;
		}

		&__description {
			font-size: 12px;
			line-height: 22px;
		}

		&__button {
			width: 165px;
			height: 32px;

			.ds-btn__text {
				font-size: 14px;
				line-height: 16px;
			}
		}
	}
}
