.main-banner {
	width: 353px;
	height: 520px;
	margin: 0 auto;

	&__link,
	&__img {
		width: 100%;
		height: 100%;
	}

	&_top {
		height: 360px;
		width: 100%;
	}

	&_mini {
		width: 518px;
		height: 220px;
		max-width: 100%;
	}
}

@media (min-width: 768px) {
	.main-banner {
		margin: 0;

		&_top {
			max-width: 1184px;
			height: 260px;
		}
	}
}