
.modal-choise-of-color-size {
    .modal {
        &__wrap {
            .icon-cart {
                margin: 2px 0 0 3px;
                font-size: 15px;
                font-weight: 600;
            }
            max-width: 310px;            
        }
        &__btn-close {
            margin: 6px 5px 0 0;
            &:before, &:after {
                display: none;
            }
        }
        &__content {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            min-width: 100%;
            // margin: 0 7px 5px 0;
            overflow: visible;

            h5 {
                margin: 0 0 5px 3px;
                font-weight: 600;
                max-width: 90%;
            }

            .link_hover {
                justify-content: flex-start;
                margin: 0 0 10px 3px;
                padding: 0;
                font-size: 10px;
                color: $light-gray-link-color;
            }    

            .item-params-list {
                max-height: 25px;
                border: 1px solid transparent;
                transition: all .5s;
                margin-left: -3px;
            
                &__item {
                    list-style: none;
                    color: #858585;
                    min-width: 20px;
                    margin-bottom: 5px;
                }
            
                &__item.is-selected {
                    transition: background-color $transition-fast, color $transition-fast;
                    background-color: #318cca;
                    color: white;
                }

                &.is-expanded {
                    max-height: 250px;
                    transition: all 1s;
                }
            }

            &-color {
                display: flex;
                flex-direction: column;
                position: relative;
                margin-bottom: 10px;

                &.is-warning {
                    .item-params-list {                     
                        border: 1px solid $pink-popover-color;
                    }
                } 
            }

            &-size {
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;
                position: relative;
                .item-params-list {
                    max-height: 25px;
                }
                .item-params-list__item {
                    padding: 3px 5px;
                }
                &.is-warning {
                    .item-params-list {                     
                        border: 1px solid $pink-popover-color;
                    }
                } 
            }
            .ds-popover {
                position: absolute;
                bottom: -17px;
                right: 10px;
                padding: 5px;
                box-shadow: none;
                font-size: 9px;
                background: $pink-popover-color;
                color: $light-gray-txt-color;
                &:before {
                    left: 20px;
                    background: $pink-popover-color;
                    transform: rotate(45deg) translateX(3px);
                }
            }
        }

        &__btn-container {
            display: flex;
            .btn-add-to-card {
                max-height: 32px;
                min-width: 160px;    
            }
            .ds-loader {
                display: none;
                justify-content: center;
                min-width: 160px;
            }
            &.is-load {
                .btn-add-to-card {
                    display: none;
                }
                .ds-loader {
                    display: inline-flex;
                }
            }
        }

        &__btn-sum {
            display: flex;
            flex-direction: row;
            width: 80px;
            margin-right: 32px;
            margin: 0 30px 0 5px;
            align-items: center;
            &-num {
                width: 35px;
                margin: 0 5px;
                font-size: 16px;
                appearance: none;
                border: none;
                text-align: center;
            }
        }
        &__minus, &__plus {
            position: relative;
            width: 20px;
            height: 20px;
            min-width: 20px;
            border-radius: 50%;
            background: $light-gray-sum-btn;
            color: #ffffff;
            &:active {
                transform: scale(.95);
            }
            &:after, &:before {
                content: "";
                position: absolute;
                width: 5px;
                height: 2px;
                background: #ffffff;
            }
            &:hover {
                background: $color-primary;
            }

        }
        &__plus {
            &:before {
                width: 8px;
                transform: rotate(90deg);
            }
            &:after {
                width: 8px;
            }
        }

    }
}

