.modal-sorting {

    .modal__wrap {
        padding: 15px 15px 15px 25px;
        border-radius: 0;
    }
    .checkbox {
        padding-left: 30px;
    }
    .checkbox__label {
        &:before {
            transform: translateX(-30px); 
        }
        &:after {
            transform: translateX(-25px) rotate(-45deg);
        } 
    }
}






