.modal-added-to-card {

    .modal {
        
        &__header {
            font-size: 20px;
            font-weight: 600;
        }

        &__content {
            display: flex;
            flex-direction: column;
            text-align: center;
            font-size: 12px;

            .link-more {
                margin-top: 20px;
                font-size: 10px;
                color: $color-primary;
            }
        }

        &__btn-container {
            display: inline-flex;
            margin-top: 0px;

            .ds-btn {
                width: 182px;
                height: 44px;
                font-size: 14px;
                white-space: nowrap;
            }

            .btn-in-card {
                margin-right: 15px;
            }
        }
    }

    @media screen and (max-width: 640px) {
        .modal {
            &__wrap {
                padding: 30px;
            }

            &__header {
                font-weight: $font-weight-primary;
            }

            &__btn-container {
                flex-direction: column;
                width: 100%;

                .ds-btn {
                    width: 100%;
                    max-width: 262px;
                }

                .btn-in-card {
                    margin-right: 0;
                    margin-bottom: 20px;
                }
            }
        }
    }

}

