.modal-confirm-mail {
    &.is-active {
        .modal-confirm-mail__btn {
            background: $color-primary;
            color: #fff;
            cursor: pointer;
            &:active, :focus {
                transform: scale(0.95);
            }  
        }
        .modal-confirm-mail__input {
            border-color: $color-primary;            
        }
        .modal-confirm-mail__form {
            &:before {
                color: $color-primary;
            }
        }
    }
    .modal__btn-close {
        top: 5px;
        right: 5px;
    }

    .modal__wrap {
        max-width: 500px;
        border-radius: 10px;
    }
    .modal__header {
        margin: 0 0 35px 0;
        text-align: center;
        color: $dark-grey-color;
    }
    
    .modal__content {
        flex-direction: column;
    }

    &__img {
        display: flex;
        min-height: 82px;
        background: url("~images/important_images/modal_confirm_mail/modal_confirm_email_img.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
    &__description {
        display: flex;
        max-width: 430px;
        margin: 25px 15px 20px 15px;
        padding: 0 20px;
        text-align: center;
        font-size: 15px;
        line-height: 18px;
        color: $dark-grey-color;
    }
    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0 50px 15px 50px;
        position: relative;
        // &:before {
        //     content: "Email";
        //     display: inline-flex;
        //     height: 15px;
        //     background: #fff;
        //     position: absolute;
        //     top: 2px;
        //     left: 55px;
        //     padding: 0 10px;
        //     font-size: 15px;
        //     color: $color-inactive;
        // } 
 
    }
    &__input-container {
        position: relative;
        display: block;
        width: 100%;
        max-height: 350px;
    }
    &__input {
       width: 100%;
       height: 48px;
       margin: 13px;
       padding: 0 20px;
       border: 1px solid $color-inactive;
       border-radius: 2px;
       font-size: 14px;
       font-weight: 600;
       color: $dark-grey-color;
       outline: none;
       &::placeholder {
           font-weight: 500;
           color: $color-text-light-grey;
       }
       &:focus {
            border-color: $color-primary;
            ~.modal-confirm-mail__label {
                &:before {
                    color: $color-primary;
                }
            }
       }
    }
    &__label {
        &:before {
            content: "Email";
            display: inline-flex;
            height: 15px;
            background: #fff;
            position: absolute;
            top: 2px;
            left: 20px;
            padding: 0 10px;
            font-size: 15px;
            color: $color-inactive;
        } 

    }
    &__btn {
        width: 222px;
        height: 44px;
        margin: 13px;
        color: rgba(54, 166, 242, 0.5);
        font-size: 15px;
        font-weight: 500;
        border-color: rgba(54, 166, 242, 0.5);
        &:hover {
            cursor: not-allowed;
            background: none;
            color: rgba(54, 166, 242, 0.5); 
        }
        &:active, :focus {
            transform: scale(1);
        }        
    }
    &__info {
        padding: 0 39px;
        font-size: 9px;
        text-align: center;
        color: $color-text-light-grey;
        &.mobile {
            display: none;
        }
    }
    &__footer {
        margin: 15px 0 10px 0;
        text-align: center;
        font-size: 15px;
        font-weight: 600;
        color: $color-text-base;
    }
            
    @media (max-width: 415px) {
            // Mobile
        .modal__wrap {
            max-width: 300px;
            padding: 15px 15px 4px 15px;
        }
        .modal__header {
            font-size: 15px;
            margin: 0 0 25px;
        }
        .modal-confirm-mail__description {
            margin: 15px 0 10px;
            padding: 0;
            font-size: 12px;
        }
        .modal-confirm-mail__img {
            min-height: 49px;
        }
        .modal-confirm-mail__info {
            display: none;
            &.mobile {
                display: flex;
                padding: 0;
            }
        }
        .modal-confirm-mail__form {
            padding: 0;
            margin: 10px 0 0 0;
            &:before {
                left: 5px;
            }
        }
        .modal-confirm-mail__input {
            margin: 13px 0;
        }
        .modal-confirm-mail__footer {
            margin: 0 0 10px;
            font-size: 11px;
        }
        .modal-confirm-mail__info {
            font-size: 8px;
        }

        .modal-confirm-mail__label:before {
            left: 8px;
        }

    

    }
    // // Mobile
    // &.mobile {
    //     .modal__wrap {
    //         max-width: 300px;
    //         padding: 15px 15px 4px 15px;
    //     }
    //     .modal__header {
    //         font-size: 15px;
    //         margin: 0 0 25px;
    //     }
    //     .modal-confirm-mail__description {
    //         margin: 15px 0 10px;
    //         padding: 0;
    //         font-size: 12px;
    //     }
    //     .modal-confirm-mail__img {
    //         min-height: 49px;
    //     }
    //     .modal-confirm-mail__info {
    //         display: none;
    //         &.mobile {
    //             display: flex;
    //             padding: 0;
    //         }
    //     }
    //     .modal-confirm-mail__form {
    //         padding: 0;
    //         margin: 10px 0 0 0;
    //         &:before {
    //             left: 5px;
    //         }
    //     }
    //     .modal-confirm-mail__input {
    //         margin: 13px 0;
    //     }
    //     .modal-confirm-mail__footer {
    //         margin: 0 0 10px;
    //         font-size: 11px;
    //     }
    //     .modal-confirm-mail__info {
    //         font-size: 8px;
    //     }
    // }
}





