.modal-short-img {
    .modal {
        &__content {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;

        }
        &__col {
            display: flex;
            flex-direction: column;
            width: 384px;
            &:nth-child(2) {
                margin-left: 20px;
            } 
        }
        &__btn-close {
            &:after, &:before {
                display: none;
            }
        }

        // Левый блок
        &__img-container {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 350px;
            min-height: 300px;
            height: auto;
        }

        &__arrow {
            position: absolute;
            top: calc(50% - 22px);
            background: rgba(255, 255, 255, .7);
            ;

            &:after,
            &:before {
                background: $color-primary;
            }

            &.arrow_left {
                left: 0;
            }

            &.arrow_right {
                right: 0;
            }
        }

        &__slider {
            display: flex;
            width: 100%;
            margin: 12px 0 0 0;

            .img-container_small {
                display: inline-flex;
                min-width: 80px;
                max-width: 80px;
                min-height: 80px;
                min-width: 80px;
                padding: 2px;
                &.is-active {
                    border: 2px solid $color-primary;
                }
            }

            .slider {
                background: none;
                &-wrap {
                    margin-bottom: 0;
                    position: absolute;
                    left: 0px;
                    top: 0;
                }
                &-viewing {
                    min-height: 85px;
                }

                &-items {
                    margin-right: 20px;
                }
            }
        }
        &__scroll {
            display: flex;
            margin: 15px 0 0 0;
        }

        // Правый блок
        &__heading {
            display: flex;
            flex-wrap: wrap;
            font-size: 20px;
            margin-bottom: 15px;
        }
        &__price {
            margin-bottom: 5px;
            p {
                font-size: 24px;
                font-weight: 700;
                margin: 0 0 5px 0;
            }
            span {
                font-size: 16px;
                color: $light-gray-txt-color;
            }
        }
        &__goods-param {
            display: flex;
            flex-direction: column;
        }
        &__content {
            &-color, &-size {
                h5 {
                    margin: 20px 0 5px 0;
                }
            }
            &-size {
                margin-bottom: 15px;
            }
        }
        &__btn-container {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .btn-add-to-card {
                max-height: 32px;
                min-width: 160px;
                margin: 0 15px 0 25px;
                .icon-cart {
                    margin-left: 5px;
                }
            }
            .icon-heart-bold {
                font-size: 22px;
                color: $color-primary;
            }    
            
        }
        &__sum {
            display: flex;
            flex-direction: row;
            width: 80px;
            align-items: center;
            &-num {
                width: 35px;
                margin: 0 5px;
                font-size: 16px;
                appearance: none;
                border: none;
                text-align: center;
            }
        }

        &__minus, &__plus {
            position: relative;
            width: 20px;
            height: 20px;
            min-width: 20px;
            border-radius: 50%;
            background: $light-gray-sum-btn;
            color: #ffffff;
            &:active {
                transform: scale(.95);
            }
            &:after, &:before {
                content: "";
                position: absolute;
                width: 5px;
                height: 2px;
                background: #ffffff;
            }
            &:hover {
                background: $color-primary;
            }

        }
        &__plus {
            &:before {
                width: 8px;
                transform: rotate(90deg);
            }
            &:after {
                width: 8px;
            }
        }
        &__goods-info {
            margin: 15px 0 0 0;
            h5 {
                margin: 20px 0 0 0;
            }
            p {
                font-size: 10px;
                color: $light-gray-txt-color;
                
            }
            a {
                font-size: 10px;
                color: $color-primary;
                &:visited {
                    color: $visited-link-active-custom;
                }
            }
        }
        &__btn-about-goods {
            font-size: 12px;
            color: $color-primary;
            margin: 30px 0 20px 0;
            .icon-eye {
                margin-right: 12px;
            }
        }

    }
}

