.modal-list-catalogs {
    display: flex;
    align-items: flex-end!important;
    position: fixed;
    width: 100%;
    min-width: 430px;
    padding: 1% 10% 1%;
    left: 0;
    right: 0;
    bottom: 0;
    background: #0000004d;
    z-index: 9999; 
    &.demo {
        position: relative;
        display: none;
    }   

    .modal-container {
        display: flex;
        &__wrap {
            width: 100%;
            padding: 0;
            background: $background-color-primary;

            &.is-toggle {
                .modal-container__content {
                    max-height: 1000px;
                    width: 100%;
                    padding: 15px;
                    transition: all .3s;
                    overflow-x: auto;    
                }
                .icon-arrow-down {
                    transform: rotate(0deg);
                    transition: all .3s;
                }
                .modal-container__footer {
                    border-top: 1px solid $color-primary;
                }

            }
        }
        &__content {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 0;
            box-shadow: 0px 0px 5px 0px rgba(97, 97, 97, 0.14); 
            max-height: 0;
            height: auto;
            overflow-x: hidden;
            transition: all .1s;

            h3 {
                font-size: 14px;
                margin-top: 0;
                margin: 0 0 15px 25px;
                position: relative;
            }

            &-row {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;
                max-height: 190px;
                overflow-y: auto;
                overflow-x: hidden;
                transition: all .8s;

                &.is-toggle {
                    max-height: 0;
                    transition: all .3s;
                    overflow: hidden;
                }

                .checkbox {
                    flex-basis: 33.33%;
                    flex-shrink: 1;
                    margin-bottom: 5px;

                    &__label {
                        p { 
                            margin: 0;
                            white-space: nowrap;
                            width: 260px;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            color: $dark-grey-color;
                            &:hover {
                                color: $color-primary;
                            }
                        }
                    }
                }
            }

            .link_hover {
                justify-content: flex-start;
                margin: 15px 0 25px 25px;
            }
        }
        &__footer {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 0px 40px 10px;
            position: relative;
            box-shadow: 0 0 5px 0 rgba(97,97,97,.14);

            &-row {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin: 5px 0;
                color: $dark-grey-color;
                position: relative;
                &:nth-child(1) {
                    height: 20px;
                    justify-content: center;
                    cursor: pointer;
                }
                &:nth-child(3) {
                    justify-content: space-between;
                }

                .icon-arrow-down {
                    padding: 10px 200px;
                    color: $color-primary;
                    transform: rotate(180deg);
                    transition: all .3s;
                    font-size: 10px;
                    &:hover {
                        color: $color-text-base;
                    }
                }

                .link_hover {
                    margin: 0 10px;
                    font-size: 14px;
                    white-space: nowrap;
                }
            }
            .ds-btn_hover {
                min-width: 160px;
                height: 30px;
            }            
            span {
                white-space: nowrap;
            }
        }
        &__span-wrap {
            display: flex;
            flex-wrap: nowrap;
        }
        &__btn-container {
            display: flex;
            justify-content: space-between;
            width: 310px;
            .row {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .link_hover {
                margin: 0;
            }
        }
        &__selected-catalog {            
            width: 415px;
            margin: 0 12px 0 0;
            overflow: hidden;
            font-weight: 600;
            text-overflow: ellipsis;
            color: $dark-brown-color;
            span {
                font-weight: normal;
            }
        }

    }
}


@media (max-width: 768px) {
    .modal-list-catalogs .modal-container__content-row .checkbox {
        flex-basis: 100%;
    }
    .modal-list-catalogs {
        padding: 0;
        .modal-container {
           
            &__footer-row {
                &:nth-child(3) {
                    flex-wrap: wrap;
                }
            }
            &__btn-container {
                margin: 20px 0 0 0;
            }
            &__selected-catalog {
                width: 100%;
            }
            
        }
    }
}
@media (max-width: 500px) {
    .modal-list-catalogs {
        .modal-container {
            &__btn-container {
                width: 100%;
                flex-wrap: wrap;
                .row {
                    width: 100%;
                }
                .link_hover {
                    margin: 0 0 20px 0;
                }
                .ds-btn_hover {
                    min-width: 300px;
                    font-size: 16px;
                    padding: 4px 18px;
                }    
            }            
        }
    }

}
  

