.modal-message-for-org {
    min-height: 320px;
    &.is-error {
        .modal__error-block {
            display: flex;
        }
    }

    .modal {
        &__wrap {
            max-width: 550px;
        }
        &__btn-close {
            margin: 6px 5px 0 0;
            &:after,
            &:before {
                display: none;
            }
        }

        &__header {
            margin: 15px 0 20px 0;
            font-size: 20px;
            font-weight: 600;
        }

        &__position-name {
            text-align: center;
            font-weight: 600;
            margin: 0 0 20px 0;
        }

        &__content {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            min-width: 100%;
            margin: 0;
            overflow: visible;

            .btn {
                &-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 10px;

                    .ds-btn {
                        max-width: 160px;
                        width: 100%;
                        height: 32px;
                        font-size: 14px;
                        padding: 0 18px;
                        height: 44px;
                    }
                }

                &_send {
                    margin-right: 25px;
                }
            }
            .btn_send {
                .ds-loader {
                    display: none;
                    &:after {
                        width: 30px;
                        height: 30px;
                    }
                }
                &.is-load {
                    background: #fff;
                    pointer-events: none;
                    .ds-loader {
                        display: inline-flex;
                    }
                    .ds-btn__text {
                        display: none;
                    }
                }
            }
        }

        &__select-org {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            min-height: 50px;
            margin-bottom: 10px;
            padding: 0 15px;
            cursor: pointer;

            &.is-active {
                border: 2px solid $click-load-color;

                &:after {
                    color: $click-load-color;
                }

                .modal__toggle-list {
                    opacity: 1;
                    max-height: 180px;
                }
            }
            &-purchase {
                padding: 0;
            }

            &-purchase:after {
                content: "Тема";
            }

            // &-catalog:after {
            //     content: "Сообщение";
            // }
            &-catalog {
                min-height: 100px;
                padding: 0;
                .ds-clip-btn {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    z-index: 999;
                    .icon-clip {
                        font-size: 18px;
                        color: $sky-blue-color;
                    }
                    &:active {
                        transform: scale(0.95);
                    }
                }
                &.is-error {
                    .modal__textarea {
                        border-color: $color-input-border-error;
                        background: $color-input-bg-error;
                    }
                    .modal__textarea-label {
                        &:after {
                            color: $color-input-border-error;
                        }
                    }
                }
            }
        }

        &__selected-position {
            font-size: 16px;
            color: $color-text-base;

            &:after {
                content: "";
            }
        }
        &__textarea {
            position: relative;
            width: 100%;
            height: 100px;
            min-height: 100px;
            max-height: 100px;
            padding: 15px 30px 15px 15px;
            border: 2px solid $color-text-light-grey;
            border-radius: 3px;
            resize: none;
            appearance: none;
            outline: none;
            &:focus {
                border: 2px solid $color-primary;
                ~ .modal__textarea-label {
                    &:after {
                        color: $color-primary;
                    }
                }
            }
        }
        &__textarea-label {
            position: absolute;
            &:after {
                content: "Сообщение";
                position: absolute;
                left: 6px;
                top: -61px;
                background: #fff;
                width: auto;
                padding: 0 10px;
                height: 15px;
                text-align: center;
                font-size: 14px;
                font-weight: 600;
                color: $color-text-light-grey;
            }
        }

        &__theme-txt {
            width: 100%;
            padding: 15px 30px 15px 15px;
            border: none;
            appearance: none;
            min-height: 50px;
            outline: none;
        }
        &__download-file {
            position: absolute;
            top: 10px;
            right: 10px;
            outline: 0;
            opacity: 0;
            pointer-events: none;
            user-select: none;
            &-wrap {
                position: absolute;
                top: 10px;
                right: 10px;
                display: flex;
                width: 20px;
                height: 20px;
                margin: 0 10px 0 0;
                &:before {
                    content: "";
                    display: block;
                    width: 20px;
                    height: 20px;
                    background: url("~images/important_images/buttons/clip-before.svg");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    cursor: pointer;
                }
            }
        }

        &__toggle-list {
            min-width: 492px;
            height: auto;
            max-height: 0;

            position: absolute;
            top: 35px;
            left: -2px;

            padding: 0;

            background: #fff;
            border: 2px solid $click-load-color;
            border-radius: 3px;
            color: $color-text-base;

            list-style: none;
            opacity: 0;
            z-index: 10;
            overflow-y: auto;

            li {
                padding: 5px 0 5px 15px;

                &:hover {
                    background: $modal-copy-selected-color;
                }
            }
        }
        &__info {
            display: flex;
            flex-direction: column;
            margin: 0 2px 10px;
            font-size: 12px;
            color: $color-text-base;
            span {
                line-height: 22px;
            }
        }
        &__img-block {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            margin-bottom: 10px;
            .img-container_small {
                margin: 6px;
                position: relative;
                cursor: pointer;
                &:hover {
                    &:before {
                        content: "";
                        position: absolute;
                        left: 12px;
                        top: 12px;
                        width: 24px;
                        height: 24px;
                        background: url("https://63pokupkifiles.fra1.cdn.digitaloceanspaces.com/modals/modal-message-for-org/img-btn-close.png");
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                }
            }
            img {
                width: 48px;
                height: 48px;
            }
        }
        &__error-block {
            display: none;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin-bottom: 16px;
            border-radius: 3px;
            background: $error-primary;
            color: #ffffff;
            font-size: 14px;
            font-weight: 600;
            text-align: center;
        }
        &__img-block {
            > .img-container_small {
                position: relative;
                &.is-load {
                    .ds-loader {
                        visibility: visible !important;
                    }
                }
                &.img-preloader {
                    display: none;
                    &.is-visible {
                        display: flex;
                    }
                    &:before {
                        left: 10px;
                    }
                    .ds-loader {
                        visibility: visible !important;
                        &:after {
                            left: 7px;
                            top: 8px;
                        }
                    }
                    border: 2px dashed $color-primary;
                }
                .ds-loader {
                    visibility: hidden;
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    right: 0;
                    bottom: 0;
                    width: 100%;
                    height: 100%;
                    &:after {
                        position: absolute;
                        left: 10px;
                        top: 10px;
                        width: 30px;
                        height: 30px;
                        z-index: 15;
                    }
                    &:before {
                        content: "";
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        background-color: rgba(255, 255, 255, 0.7);
                        z-index: 14;
                    }

                    z-index: 11;
                }
            }
        }
    }

    @media screen and (max-width: 480px) {
        .modal {
            &__header {
                font-size: 18px;
            }

            &__content {
                .btn-container {
                    flex-direction: column;

                    .ds-btn {
                        height: 38px;
                        max-width: 248px;
                    }

                    .btn_send {
                        margin-right: 0;
                        margin-bottom: 18px;
                    }
                }
            }
        }
    }

    .ds-inputs-component {
        min-height: 80px;
    }

    .ds-inputs-form {
        &__input {
            font-weight: $font-weight-primary;
            color: $color-text-base;
            font-size: 16px;
        }
    }
}
