// многоуровневое вложенное меню
.multi-level-menu {
    display: flex;
    justify-content: space-between;
    background: $background-color-primary;
    padding: 30px;
    font-size: 14px;
    font-weight: normal;
    color: $color-text-base;
    position: relative;
    align-items: flex-start;

    &__column {
        padding-right: 20px;
        position: relative;
        min-height: 350px;
        display: inline-block;
        flex-shrink: 0;
        width: 100%;
    }

    &__heading-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__heading {
        text-transform: uppercase;
        margin-right: 35px;
    }
    &__all {
        font-size: 12px;
    }
    &__list {
        margin-top: 20px;
        list-style: none;
        padding-left: 0;
        margin-left: 0;
    }
    &__icon {
        margin-right: 10px;
    }
    &__item {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: unset;
        }
    }

    &:before {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        left: 20px;
        top: -20px;
        border: 10px solid transparent;
        border-bottom: 10px solid $background-color-primary;
    }
}

.multi-level-menu_has-subcategories {

    & > .multi-level-menu__column {
        padding-right: 0;
    }

    .multi-level-menu__column {
        width: initial;
    }

    .multi-level-menu__item {
        padding-right: 35px;
        padding-bottom: 10px;
        margin-bottom: -1px;

        .multi-level-menu__column {
            background: white;
            border-left: 1px solid transparent;
            visibility: hidden;
            opacity: 0;
            z-index: 0;
            padding-left: 25px;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0px;
            min-width: 280px;
            transform: translate(100%, 0%);

            .link {
                text-overflow: ellipsis;
                overflow: hidden;
                max-width: 199px;
                white-space: nowrap;
            }
        }
    }

    .multi-level-menu__item:hover > .multi-level-menu__column,
    .multi-level-menu__column.multi-level-menu__column_is-expanded {
        border-left: 1px solid #e3e3e3;
        visibility: visible;
        opacity: 1;
        z-index: 2;
    }
}
