// строка с хлебными крошками и ссылками на уведомления и сообщения
.nav-bc-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &__notification {
        margin-right: 30px;
    }
}