// строка с хлебными крошками и ссылками на уведомления и сообщения
.nav-bc-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    a {
        .ds-icon {
            color: $color-primary;
        }
    }

    @media (max-width: 1024px) {
        margin: 15px 0;
    }

    @media (max-width: 767px) {
        justify-content: center;
    }
    @media (max-width: 390px) {
        a {
            font-size: 12px;
        }
        .nav-bc-bar__notification {
            margin-right: 5px;
        }
    }

    &__notification {
        margin-right: 30px;
    }
}