// Сообщение что нет активного сбора, строка
.no-active-message-bar {
    width: 100%;
    text-align: center;
    background: $color-graphics-elements;
    padding: 15px;

    &__link {
        margin-left: 5px;
    }
}