// блок профиля организатора
.org-profile {
    display: flex;
    align-items: center;

    &__image-wrapper {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-right: 15px;
        width: 36px;
        height: 36px;
        flex-shrink: 0;
    }

    &__image {
        max-width: 36px;
        max-height: 36px;
        border-radius: 8px;
    }

    .org-profile__rating {
        position: absolute;
        bottom: -3px;
        right: -10px;
    }

    &__text {
        display: flex;
        flex-direction: column;
        color: $color-text-base;
        max-width: 125px;
    }

    &__name {
        font-size: 12px;
        font-weight: 600;
        margin-bottom: 3px;
        &::first-letter {
            text-transform: capitalize;
        }
    }

    &__status {
        font-size: 10px;
        &::first-letter {
            text-transform: capitalize;
        }
    }

    &__message {
        margin-left: 5px;
    }
}