.pagination {
    display: flex;
    flex-direction: row;
    margin: unset;
    padding: unset;
    
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 30px;
        height: 30px;
        margin: 0 5px;
        border-radius: 2px;
        background: $pagination-color;
        cursor: pointer;
        a {
            font-weight: 600;
            text-decoration: none;
            color: $color-text-base;
        }

        &:hover, &:active {
            background: $color-primary;
            a {
                color: #fff;
            }
            .icon-arrow {
                &-left, &-right {
                    color: #fff;
                }
            }
        }

        &.is-active {
            background: $color-primary;
            a {
                color: #fff;
            }
        }
    }
    .icon-arrow {
        &-left, &-right {
            color: $color-text-base;
        }
    }
}



