// page-active-custom
.pac {
    background: #fff;

    &__breadcrumb {
        display: flex;
        align-items: center;
        width: 100%;
        height: 40px;
        margin: 20px 0 0 0;
        // padding: 0 25px;
        background: #fff;

        @media (max-width: 1024px) {
            padding: 0 18px;
            margin: 0;
        }

        @media (max-width: 767px) {
            display: none;
        }
    }

    .search-clear {
        @media (max-width: 450px) {
            .search__bar {
                height: 32px;
            }

            .search__button-clear {
                right: 5px;
            }

            .search__button {
                right: 30px;
            }
        }
    }

    &__all-categories {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        // padding: 0 25px;
        background: #fff;
        // Скрываем псевдо заголовок
        h1 {
            // position: absolute;
            // clip: rect(0 0 0 0);
            // width: 1px;
            // height: 1px;
            // margin: -1px;
            height: 20px;
            font-size: 14px;
        }

        h1 {
            height: 20px;
            font-size: 14px;

            a {
                display: flex;
                width: 100%;
                justify-content: flex-start;
                text-decoration: none;
                color: $color-text-heading;

                &.is-disabled {
                    pointer-events: none;
                }
            }

            .icon-arrow-line-left {
                margin: 0 5px 0 0;
                font-size: 20px;
            }
        }

        .slider {
            overflow: hidden;
        }
    }

    .ds-purchase-status {
        .ds-icon {
            font-size: 24px;
        }
    }

    .slider-01__prev,
    .slider-01__next {
        z-index: 11;
    }

    .search {
        max-width: 530px;
    }

    .search-clear {
        max-width: 426px;
        margin: 20px auto;
    }

    .wrapper-active-cards {
        display: block;
        width: 100%;
        background: $bg-wrapper-card-color;
    }

    .header-wrap-card__sorting {
        .sorting__btn {
            position: relative;

            @media (min-width: 1025px) {
                max-width: none;
            }
        }

        .ds-popover {
            position: absolute;
            top: 25px;
            right: -60px;
            z-index: 9999;

            &::before {
                top: -7px;
                right: 50px;
            }

            @media (max-width: 992px) {
                top: 40px;
            }
        }
    }

    // Кнопки вверх/вниз

    .header-wrap-card__switcher {
        @media (max-width: 500px) {
            flex-direction: row-reverse;

            .switcher__label {
                margin: 0 0 0 15px;
            }
        }
    }

    .header-wrap-card__container-switcher {
        @media (max-width: 500px) {
            height: 32px;
        }
    }

    @media (max-width: 1199px) {
        .card-active-custom-desktop {
            display: none;
        }
    }

    @media (min-width: 1200px) {
        .card-active-custom.tablet {
            display: none;
        }
    }

    @media (max-width: 1024px) {
        .ac-menu-filter-categories {
            display: flex;
        }

        .slider-01 {
            display: none;
        }
    }

    @media (max-width: 767px) {
        .card-active-custom.tablet {
            display: none;
        }
    }

    @media (min-width: 768px) {
        .card-active-custom__wrap.mobile {
            display: none;
        }
    }
}

//footer
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-img {
    display: flex;
    width: 100%;
    min-height: 100%;
    background: url("~images/not_important_images/footer_active.png");
}

.pagination-container {
    display: flex;
    margin-top: 100px;

    @media (max-width: 1024px) {
        margin: 100px 0 25px 0;
    }
}

@media (max-width: 1024px) {
    .pac__all-categories {
        h1 {
            display: none;
        }
    }

    .ac-menu-filter-categories__checked-position-link {
        h1 {
            font-size: 11px;
        }
    }
}
