// page-active-custom
.pac {
    background: #fff;

    &__breadcrumb {
        display: flex;
        align-items: center;
        width: 100%;
        height: 40px;
        margin: 20px 0 0 0;
        padding: 0 25px;
        background: #fff;
    }

    &__all-categories {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        padding: 0 25px;
        background: #fff;
        // Скрываем псевдо заголовок
        h1 {
            position: absolute;
            clip: rect(0 0 0 0);
            width: 1px;
            height: 1px;
            margin: -1px;
        }
        h2 {
            height: 20px;
            font-size: 14px;
            a {
                display: flex;
                width: 100%;
                justify-content: flex-start;
                text-decoration: none;
                color: $color-text-heading;
                &:visited {
                    color: #906;
                }
                &.is-disabled {
                    pointer-events: none;
                }
            }
            .icon-arrow-line-left {
                margin: 0 5px 0 0;
                font-size: 20px;
            }
        }        

        .slider {
            overflow: hidden;
        }
    }
    .search {
        max-width: 426px;
        margin: 20px auto;
    }

    .wrapper-active-cards {
        display: block;
        width: 100%;
        background: $bg-wrapper-card-color;
    }

    .header-wrap-card__sorting {
        .sorting__btn {
            position: relative;
        }

        .ds-popover {
            position: absolute;
            top: 30px;
            right: -25px;
            z-index: 9999;
        }
    }
    @media (max-width: 1080px) {
        .card-active-custom-desktop {
            display: none;
        }
    }
    @media (min-width: 1081px) {
        .card-active-custom.tablet {
            display: none;
        }
    }
    @media (max-width: 769px)  {
        .card-active-custom.tablet {
            display: none;
        }
        .header-wrap-card__tabs {
            display: none;
        }
    }
    @media (min-width: 769px) {
        .card-active-custom__wrap.mobile {
            display: none;
        }
    }
}

//footer
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-img {
    display: flex;
    width: 100%;
    min-height: 100%;
    background: url("~images/footer_active.png");
}

.pagination-container {
    display: flex;
    margin-top: 100px;

}

@media (max-width: 992px) {
    .pac__all-categories {
        h2 {
            display: none;
        }
    }
}

