.pagination {
    display: flex;
    flex-direction: row;
    margin: unset;
    padding: unset;

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 20px;
        height: 20px;
        margin: 0 2px;
        border-radius: 2px;
        background: $pagination-color;
        cursor: pointer;

        a {
            // padding: 5px 10px;
            padding: 0 5px;
            font-size: 12px;
            font-weight: 600;
            text-decoration: none;
            color: $color-text-base;
        }

        &:hover {
            background: $color-primary;

            a {
                color: #fff;
            }

            .ds-icon {
                color: #fff;                
            }
        }

        &.is-active {
            background: $color-primary;

            a {
                color: #fff;
            }
        }
        &.is-disabled {
            pointer-events: none;
            .ds-icon {
                color: #e2e3e5;
            }
        }
    }
    // Переход на конкретную страницу
    &__go-page {
        display: none;
        background: $color-primary;
    }

    .icon-arrow-back {
        transform: scaleX(-1);
        color: #ffffff;

    }

    .ds-icon {
        font-size: 8px;
    }

    // Стрелки на первую/последнюю страницу
    .icon-arrow {

        &-left,
        &-right {
            color: $color-text-base;
        }
    }
    &__first-page,
    &__last-page {
        display: none;
        color: $color-text-base;                
    }

    @media (max-width: 767px) {
        .pagination {
            &__first-page,
            &__last-page {
                display: flex;
            }

            &__item:hover {
                background: $pagination-color;

                a {
                    color: $color-text-base;
                }
            }

            &__item.is-active {
                background: $color-primary;
    
                a {
                    color: #fff;
                }
            }
        }
    }
}


