
.ds-popover_sorting {
    display: inline-flex;
    padding: 10px 15px;
    .checkbox {
        margin-bottom: 6px;

        &__label {
            color: $color-text-base;
            font-size: 10px;
            &:after {
                transform: translate(-24px, -75%) rotate(-45deg);
            }
            &:before {
                width: 12px;
                height: 12px;                
            }
            white-space: nowrap;
            &:hover {
                color: $color-primary;
            }
            &:active {
                color: $click-load-color;
            }

        }
    }
    
}


