// ОБработка в util.js

.price {
    // Скрытая входящая цена
    &__input-integer {
        font-size: 0;
        color: transparent;
    }
    &__kopek {
        font-size: 12px;
        color: $color-text-light-grey;
    }
}



