@import url('https://fonts.googleapis.com/css?family=Caveat&display=swap');

// font-family: 'Caveat', cursive;

.promo-for-begginners {
    display: block;
    // max-width: 1184px;
    margin: 0 auto;
    &.is-view {
        .promo-for-begginners__banner {
            background: url("~images/promo-for-beginners/banner-view.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            .promo-for-begginners__col {
                visibility: hidden;
            }
            .promo-for-begginners__timer {
                display: none;                
            }

        }
        .promo-for-begginners__view-block {
            display: flex;
        }
        .timer-reverse__num {
            margin: 0 0 0 30px;
            color: $color-primary;
        }
        .promo-for-begginners__instruction {
            padding: 10px 0;
        }
    }


    &__row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 45px 0;
        text-align: center;
    }
    &__col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__heading {
        margin: 10px 0;
        font-size: 20px;
        color: #000000;
        line-height: 32px;
    }
    &__banner {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        max-height: 490px;
        padding: 10%;
        background: url("~images/promo-for-beginners/Banner for beginners.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        .promo-for-begginners__heading {
            font-size: 18px;
            font-weight: 600;
            color: $background-color-primary;
        }
        .promo-for-begginners__txt {
            color: $background-color-primary;
            font-size: 14px;
            font-weight: 600;
        }
        .promo-for-begginners__btn {
            margin: 62px 0;
        }

    }
    &__view-block {
        display: none;
        padding: 10px 0 0 0;
       .promo-for-begginners__col {
            align-items: flex-end;
            .promo-for-begginners__txt {
                margin: 0;
            }
            .promo-for-begginners__heading {
                margin: 5px 0 0 0;
            }
        }
        .promo-for-begginners__timer {
            margin: 0px 0 11px 0;
        }
        .promo-for-begginners__txt {
            font-size: 14px;
            font-weight: 600;
        }
        .promo-for-begginners__heading {
            font-weight: 600;
            font-size: 18px;
        }
    }
    &__timer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 20px 0;
    }
    &__btn {
        width: 256px;
        height: 54px;
        padding: 18px 18px;
        .ds-btn__text {
            font-size: 16px;
            font-weight: 600;
        }
    }
    &__txt {
        margin: 8px;
        line-height: 20px;
    }
    &__vm-30 {
        height: 30px;
    }
    &__gl {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 53px;
        background-color: #FF4763;
        color: $background-color-primary;
        font-size: 32px;
        font-family: 'Caveat', cursive;
    }
    &__regulations-link {
        margin: 45px 0 0 0;
        color: #878787;
        text-decoration: none;
    }
}









