// кнопка Подробнее о товаре
.product-detail-button {
    color: $color-primary;
    transition: opacity $transition-fast;
    opacity: 0.7;
    text-decoration: none;
    cursor: pointer;

    &:hover,
    &:active {
        color: $color-primary;
        text-decoration: none;
        opacity: 1;
        transition: opacity $transition-fast;
    }

    &:active {
        color: #0077c7;
    }

    &__icon {
        margin-right: 8px;
        font-size: 13px;
    }

    &__text {
        font-size: 12px;
    }
}