// меню с поиском и категориями
.sidebar-menu-touch {
    background: $background-color-primary;
    font-size: 14px;
    border-right: 1px solid rgba(49, 140, 202, 0.25);
    padding: 0 11px;
    width: 290px;
    overflow-y: auto;

    .sidebar-menu-touch__multi-level-menu {
        padding: 0;
        border-bottom: 1px solid rgba(49, 140, 202, 0.25);

        .multi-level-menu__column {
            padding-right: unset;
            display: block;
        }

        .multi-level-menu__heading-wrapper {
            padding: 8px 0 8px 15px;
            border-bottom: 1px solid rgba(49, 140, 202, 0.25);
        }

        .multi-level-menu__item {
            margin-bottom: 15px;
        }

        .multi-level-menu__icon {
            font-size: 22px;
        }

        &::before {
            display: none;
        }
    }

    &__section {
        padding: 15px 0;
        border-bottom: 1px solid rgba(49, 140, 202, 0.25);

        &:last-child {
            border-bottom: unset;
        }
    }

    &__links {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

// блок обертка
.outlined-links {
    &__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: unset;
        }
    }

    &__link {
        display: inline-block;
        border: 1px solid $color-primary;
        border-radius: 24px;
        padding: 6px 10px;
        min-width: 128px;
        text-align: center;
        margin-bottom: 8px;
        font-size: 12px;
    }
}
