// Карточка с основной информацией о закупке
.stock-full {
    background: white;
    border-bottom: 1px solid rgba(49, 140, 202, 0.5);

    &__wrapper {
        display: flex;
        justify-content: space-between;
        height: 330px;
        position: relative;
        overflow-x: hidden;
        overflow-y: hidden;
        padding-bottom: 30px;

        &::after {
            content: "";
            width: 100%;
            height: 50px;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 2;
            background: linear-gradient(0deg, #fff 0%, rgba(255, 255, 255, 0) 105%);
        }
    }

    &__wrapper.is-expanded {
        height: auto;

        &::after {
            display: none;
        }
    }

    &__col {
        margin-right: 32px;
        width: 100%;
        max-width: calc(74%);
    }

    &__stock-cond {
        flex-shrink: 0;
    }

    &__w-expand {
        padding: 10px 0 20px;
        text-align: center;
    }

    &__expand {
        position: relative;
        z-index: 3;
        font-weight: 600;

        &:active {
            @include deep-click(0.95);
        }
    }

    .stock-sizes-grid {
        &__images {
            max-width: 80%;
            height: 300px;
        }

        &__img {
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
        }
    }

    .link_colored {
        display: inline-block;
        // width: 300px; ломает раздел "Прочая информация"
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        line-height: 18px;
        color: $color-primary;
        transform: translateY(5px);
    }
}

// Инфо-Статусы
.stock-full__status-add {
    display: none;
}

// Нет отзывов
.stock-reviews__no-reviews {
    display: flex;
    justify-content: center;
    align-items: center;

    span {
        text-align: center;

        &.nowrap {
            white-space: nowrap;
        }
    }

    &.is-hidden {
        display: none;
    }
}

.stock-full.is-disabled {
    position: relative;
    border-bottom: none;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        background: rgba(255, 255, 255, 0.4);
        z-index: 3;
    }

    .stock-tabs {
        &__label {
            color: grey;
        }

        &__labels {
            position: relative;
            z-index: 3;
        }
    }

    .stock-full__wrapper.is-expanded {
        .stock-tabs {
            position: relative;
            max-height: 1000px;
            z-index: 3;

            &__label {
                color: $dark-brown-color;
            }

            &__labels {
                position: static;
                z-index: initial;
            }
        }
    }
    // Статус - добавьте в избранное
    .stock-full__status-add,
    .stock-full__status-added {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
        position: relative;
        background-color: $stock-status-add-color;
        font-size: 14px;
        font-weight: 600;
        z-index: 5;

        span {
            text-align: center;
        }

        &.is-hidden {
            display: none;
        }
    }

    .stock-full__status-link {
        margin: 0 0 0 5px;
    }
}
