.stock-aside {
    width: 100%;
    background: white;

    &__top-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;
    }

    &__heading {
        font-weight: 600;
        font-size: 16px;
        color: $color-text-heading;
        margin-right: 30px;
    }

    &__heading-meta {
        font-size: 11px;
        color: $color-text-heading;
        opacity: 0.5;
        overflow: hidden;
        white-space: nowrap;
        max-width: 180px;
    }

    &__check-all {
        font-size: 12px;
        flex-shrink: 0;
    }

    &__catalogs {
        margin-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #e3e3e3;
    }

    &__filters {
        margin-bottom: 15px;
    }

    &__filters-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 8px;
    }

    &__filters-heading {
        font-size: 14px;
        line-height: 45px;
        color: $color-text-heading;
    }

    &__uncheck-all {
        font-size: 12px;
    }
}
