.stock-rows-help {
    display: flex;
    align-items: center;
    color: $color-text-base;
    width: 205px;
    @media (min-width: 992px) {
        display: none;
    }

    &__icon {
        font-size: 26px;
        margin-right: 5px;
    }

    &__text {
        font-size: 11px;
        line-height: 14px;
    }
}
