// карточка товара в вертикальном отображении
.stock-card-vertical {
    margin: 0 auto;
    padding: 16px;
    position: relative;
    background: white;

    &__org-checkbox {
        position: absolute;
        top: 15px;
        left: 15px;

        .checkbox__label:before {
            border: 2px solid $color-primary;
        }
    }

    &__bar {
        margin-bottom: 20px;
    }

    &__params-name {
        font-weight: 600;
        font-size: 12px;
        color: #1e2023;
        margin-right: 5px;
        &::first-letter {
            text-transform: capitalize;
        }
    }

    &__details {
        width: 100%;
        white-space: nowrap;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__org-btn-w {
        display: flex;
        align-items: center;
    }

    &__org-get {
        margin-right: 10px;
        text-decoration: none;
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__params {
        display: flex;
        align-items: baseline;
        position: relative;
        &:hover {
            .item-params-list {
                &:after {
                    border-bottom: 1px solid $click-load-color;
                }
            }
        }
        // Добавляет три точки в конце
        &.dots {
            padding: 0 20px 0 0;
            .item-params-list {
                &::after {
                    display: flex;
                }
            }
        }
    }

    &__params-b {
        margin-bottom: 10px;
    }

    & .item-params-list__item {
        margin-right: 2px;
    }

    & &__item-params-list {
        // max-height: 25px;
        // Три точки
        &::after {
            content: "...";
            display: none;
            position: absolute;
            top: 3px;
            right: 0;
            font-size: 12px;
            cursor: pointer;
        }
        // Всплывашка с ошибкой
        .ds-popover {
            bottom: -46px;
        }
        

    }

    &__other {
        display: none;
        box-shadow: 0 6px 9px rgba(0, 44, 128, 0.15);
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0 16px 16px;
        transform: translateY(100%);
        background-color: white;
    }

    &__wrapper {
        display: flex;
        position: relative;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        height: 262px;
        background: white;
        margin-bottom: 15px;

        &:hover {
            .stock-card-vertical__prev,
            .stock-card-vertical__next,
            .stock-card-vertical__favorite {
                display: flex;
            }
            .stock-card-vertical__params {
                overflow: hidden;
            }
            .item-params-list {
                flex-wrap: nowrap;
                overflow: auto;
            }
        }
    }

    &__prev,
    &__next {
        display: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 50%;
        width: 26px;
        height: 26px;
        background-color: rgba(255, 255, 255, 0.7);
        color: $color-primary;
        font-size: 12px;
        z-index: 2;
        // Псевдоэлемент, для увеличения области клика
        &::before {
            content: "";
            position: absolute;
            width: 50px;
            height: 170px;
            background: transparent;
        }


        @media screen and (max-width: 1024px) {
            display: flex;
        }

        &:hover {
            background-color: rgba(255, 255, 255, 1);
        }

        i {
            &:before {
                font-weight: 600;
            }
        }

        &:active {
            i {
                @include deep-click();
            }
        }
    }

    &__prev {
        left: 8px;
    }

    &__next {
        right: 8px;
    }

    .stock-badge_rows {
        position: absolute;
        left: -10px;
        bottom: 30px;
    }

    .stock-badge_already {
        position: absolute;
        left: -10px;
        bottom: -5px;
    }

    &__image {
        max-width: 100%;
        display: none;
        max-height: 262px;
        margin: 0 auto;
    }

    &__images-wrapper {
        display: flex;
        justify-content: center;
        position: relative;
        min-width: 100%;
    }

    &__images {
        position: relative;
    }

    &__image.is-active {
        display: block;
    }

    .stock-card-vertical__favorite-w {
        position: absolute;
        width: 50px;
        height: 50px;
        top: 0;
        right: 0;
    }

    .stock-card-vertical__favorite {
        display: none;
        position: absolute;
        top: 18px;
        right: 16px;
        z-index: 1;
        .icon-heart-filled {
            color: $color-favorite-icon-heart;
        }

        @media screen and (max-width: 1024px) {
            display: block;
            top: 6px;
            right: 6px;
            height: 26px;
            width: 26px;

            .tooltip {
                display: none;
            }

            i {
                font-size: 16px;
            }
        }
    }

    &__heading {
        font-size: 14px;
        letter-spacing: 0.02px;
        color: #1e2023;
        line-height: 20px;
        overflow: hidden;
        max-height: 60px;
        margin-bottom: 10px;
        height: 60px;
        @media (max-width: 767px) {
            margin-bottom: 5px;
        }

        div {
            &::first-letter {
                text-transform: uppercase;
            }
        }
        &::first-letter {
            text-transform: uppercase;
        }
    }

    &__main {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__price {
        font-size: 16px;
        line-height: 18px;
        color: #1e2023;
        font-weight: bold;
    }

    &__org {
        font-size: 11px;
        line-height: 18px;
        color: rgba(96, 98, 102, 0.75);
    }

    &__buy {
        width: 100%;
        max-width: 128px;
        padding: 6px 18px;

        .icon-cart {
            font-size: 16px;
            margin-left: 5px;
        }
    }
}
