.stock-m {
    &__back {
        padding: 20px;
    }
}

.stock-m-info {
    border-bottom: 1px solid rgba(49, 140, 202, 0.5);
    
    &__heading {
        text-align: center;
        font-size: 20px;
        color: #1d1e1f;
        padding: 10px 20px;
    }

    &__img-w {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        max-height: 278px;
        overflow: hidden;
    }

    &__cond {
        font-size: 14px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 35px 20px;
        max-width: unset;

        .stock-cond__row {
            margin-bottom: 20px;
        }
    }

    &__bar {
        width: 100%;
    }

    &__status {
        max-width: 215px;
    }

    &__go-catalog {
        background: #008eed;
        border: 1px solid #008eed;
        font-weight: bold;
        font-size: 12px;
        max-width: 196px;
    }

    &__collapse {
        .collapse-section {
            overflow: hidden;

            &__heading {
                display: block;
                width: 100%;
                font-size: 14px;
                font-weight: normal;
                padding: 15px 40px 15px 20px;

                &:after {
                    right: 20px;
                    width: 9px;
                    height: 9px;
                }
            }

            &__body {
                padding: 15px 20px;
                display: none;
                line-height: 24px;
            }

            &__body.padding-unset {
                padding: 0;
            }
        }
    }

    &__collapse.is-expanded {
        .collapse-section {
            &__heading {
                background: rgba(0, 142, 237, 0.15);
            }

            &__body {
                max-height: unset;
                margin-top: 0;
                display: block;
            }
        }
    }

    &__grid {
        padding: 35px 10px 0;

        .stock-sizes-grid__prev,
        .stock-sizes-grid__next {
            height: 25px;
            width: 25px;
            font-size: 16px;
        }

        .stock-sizes-grid__prev {
            left: -15px;
        }

        .stock-sizes-grid__next {
            right: -15px;
        }
    }

    &__reviews {
        line-height: initial;

        .stock-reviews__info {
            min-width: 75px;
        }

        .stock-reviews__review {
            padding: 15px 20px;
            border-bottom: 4px solid #bfe3fb;
        }

        .stock-reviews__send {
            padding: 15px 20px;
            flex-direction: column;
        }

        .stock-reviews__send-name {
            margin: 0 0 10px 10px;
        }

        .stock-reviews__textarea-w {
            position: relative;
            width: 100%;
        }

        .stock-reviews__textarea {
            width: 100%;
            margin: 0 0 10px;
        }

        .stock-reviews__attach {
            color: $color-primary;
            top: 5px;
            right: 5px;
            position: absolute;
            width: 30px;
            height: 30px;
            font-size: 20px;
        }

        .stock-reviews__send-btn {
            align-self: center;
            padding: 7px 18px;
            margin-top: 15px;
        }

        .stock-reviews__attached-img {
            margin-top: 8px;
            width: 66px;
            height: 66px;
        }

        .stock-reviews__attach-list {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }

        .stock-reviews__attach-list-item {
            position: relative;
            margin-right: 10px;
            margin-bottom: 10px;
        }

        .stock-reviews__attach-list-delete {
            position: absolute;
            top: 3px;
            right: 3px;
            font-size: 18px;
            color: $color-primary;
            background: white;
            border-radius: 50%;
            padding: 0;
            transform: translate(50%, -50%);
        }

        .stock-reviews__attach-list-img {
            width: 44px;
            height: 44px;
        }
    }

    &__org-profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px 25px 40px;

        .org-profile {
            &__image-wrapper {
                width: 48px;
                height: 48px;
            }
            &__image {
                border-radius: 50%;
            }
        }
    }

    &__meta-text {
        font-size: 12px;
        align-items: center;
        color: #a2a3a5;
        margin-bottom: 20px;
    }

    &__buttons {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__discuss {
        max-width: 175px;
        position: relative;
        margin-right: 30px;

        .num-of-discussions {
            position: absolute;
            top: -15px;
            right: -15px;
        }
    }
}

.tags-lined {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    &:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        background: rgba(49, 140, 202, 0.5);
    }

    &__tag {
        background: white;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: #318cca;
        padding: 0 9px;
        position: relative;
        z-index: 2;
    }
}

.go-back-btn {
    display: flex;
    align-items: center;
    color: #606266;

    &__text {
        margin-left: 15px;
        font-weight: bold;
        font-size: 12px;
        text-transform: uppercase;
    }

    &:hover {
        color: $color-primary;
    }
}
