// статус закупки
.stock-status {
    display: flex;
    align-items: center;

    // ВРЕМЕННЫЙ ЦВЕТ!
    &.green {
        color: #00c533;
    }

    // ВРЕМЕННЫЙ ЦВЕТ!
    &.blue {
        color: $color-primary;
    }

    &__icon {
        font-size: 34px;
    }

    &__text {
        font-size: 14px;
        margin-left: 10px;
        font-weight: bold;
    }
}
