// блок размерной сетки закупки
.stock-sizes-grid {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &__count {
        position: absolute;
        left: 0;
        top: 5px;
        font-size: 12px;
        color: #858585;
    }

    &__prev,
    &__next {
        display: flex;
        align-items: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 28px;
        color: $color-primary;
        height: 50px;
        width: 50px;

        &:hover {
            background: whitesmoke;
        }

        &:active {
            i {
                @include deep-click();
            }
        }
    }

    &__prev {
        left: 0;
    }

    &__next {
        right: 0;
    }

    &__images {
        overflow: hidden;
    }

    &__img {
        display: none;
        max-width: 100%;
        max-height: 700px;

        &.is-active {
            display: initial;
        }
    }
}

// обертка картинки закупки
.stock-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 832px;
    max-height: 200px;
    overflow: hidden;

    &__img {
        max-width: 100%;
        max-height: 100%;
        height: auto;
        width: auto;
    }
}

// условия закупки
.stock-cond {
    background: white;
    font-size: 12px;
    color: #4b4b4b;
    max-width: 256px;

    &__row {
        margin-bottom: 9px;
        &:last-child {
            margin-bottom: unset;
        }
    }

    &__heading {
        font-weight: bold;
        font-size: 13px;
        color: #3a3a3a;
        margin-bottom: 13px;
    }

    &__name {
        font-weight: 600;
        margin-right: 5px;
        line-height: 20px;
    }

    &__value {
        color: rgb(102, 102, 102);
        margin-right: 5px;
    }
}
