.stock-items-filter {
    &__row {
        display: flex;
        align-items: center;
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }

        &.top {
            justify-content: space-between;
        }

        &.center {
            justify-content: center;
            position: relative;
        }

        &.bottom {
            justify-content: space-between;
        }
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
    }

    &__sorting {
        font-size: 13px;
        color: #6c6e72;
        font-weight: bold;
        position: relative;
        margin: 0 auto;

        .ds-popover {
            font-weight: 400;
            position: absolute;
            bottom: -10px;
            right: -25px;
            top: auto !important;
            transform: translateY(100%);
        }
    }

    &__mode {
        position: absolute;
        right: 0;
        bottom: -2px;
    }

    &__list {
        margin-right: 5px;
    }

    &__list,
    &__matrix {
        font-size: 15px;
        color: $color-inactive;
        transition: color $transition-primary;

        &:active {
            @include deep-click(0.9);
        }

        &.is-active {
            color: $color-primary;
            transition: color $transition-primary;
        }
    }

    &__displayed {
        font-size: 12px;
        color: $color-text-base;
    }

    &__search {
        max-width: 352px;
        margin-right: 20px;
        flex-shrink: 1;

        .search__bar {
            height: 26px;
            border: 1px solid $color-primary;
        }

        .search__button {
            right: 25px;
            img {
                width: 22px;
                height: 22px;
            }
        }
        .search__button-clear {
            right: 3px;
            font-size: 18px;
        }
    }

    label {
        font-weight: normal;
    }

    &__checkboxes {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-shrink: 0;
        position: relative;
        &:after {
            content: "Поиск в каталоге по полю:";
            display: none;
            position: absolute;
            top: -25px;
            left: calc(50% - 75px);
            font-weight: normal;
            font-size: 12px;
            color: $color-text-light-grey;
            // @media (max-width: 1024px) {
            //     display: flex;
            // }
        }

        .checkbox {
            margin-right: 35px;
            @media (max-width: 400px) {
                margin-right: 20px;
                padding-left: 10px;
            }
        }

        .checkbox:last-child {
            margin-right: 0;
        }

        .checkbox__label {
            white-space: nowrap;
            font-size: 12px;
            color: $color-text-base;
            @media (max-width: 400px) {
                &:before {
                    width: 15px;
                    height: 15px;
                    top: 1px;                    
                }
            }
            @media (max-width: 350px) {
                &:before {
                    transform: translateX(-20px);
                }
                &:after {
                    transform: translateX(-17px) rotate(-45deg);
                }
            }

            &:hover {
                color: $color-primary;
            }
        }
        .checkbox__label_mob {
            display: none;
        }
        @media (max-width: 350px) {
            padding: 0 0 0 10px;
        }

        @media (max-width: 400px) {
            padding: 0 0 0 15px;
        }
        @media (max-width: 1024px) {
            margin: 17px auto;
            
            .checkbox__label_desk {
                display: none;
            }
            .checkbox__label_mob {
                display: flex;
            }
        }
    }
    &__checkboxes_mobile {
        display: none;
        @media (max-width: 767px) {
            display: flex;
        }
    }
    &__checkboxes_tablet {
        display: none;
        @media (min-width: 768px) and (max-width: 1024px) {
            display: flex;
        }
    }
    &__show-all {
        .checkbox__label {
            font-size: 12px;
            color: $color-primary;
        }
    }
}
