.stock-m-control {
    padding: 25px 20px;
    border-bottom: 1px solid rgba(49, 140, 202, 0.25);

    .search {
        &__bar {
            height: 32px;
        }
    }

    &__search-m {
        margin-bottom: 25px;

        @media screen and (min-width: 768px) {
            display: none;
        }
    }

    &__search-t {
        display: none;
        max-width: 500px;

        @media screen and (min-width: 767px) {
            display: block;
        }
    }

    &__catalogs-btn {
        color: $color-primary;

        span {
            margin-left: 7px;
            font-weight: 600;
            font-size: 16px;
        }
    }

    &__buttons,
    &__filter-buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__sqrt,
    &__cols {
        font-size: 18px;
        color: #c4c4c4;
    }

    &__sqrt.is-active,
    &__cols.is-active {
        color: $color-primary;
    }

    &__cols {
        margin-left: 10px;
    }
}
