// контейнер для вертикального отображения карточек товаров с разными режимами по несколько шт
.stock-card-container {
    // горизонтальное отображение карточек по 1
    &.horizontal {
        display: block;

        .stock-card-horizontal {
            margin-bottom: 10px;
        }
    }

    // вертикальное отображение карточек по несколько, стандартно по 3
    &.vertical {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;

        .stock-card-vertical-wrapper {
            width: 33.33333%;
        }

        // отображение по 1
        &.mode-1 {
            .stock-card-vertical-wrapper {
                width: 100%;
            }
        }

        // отображение по 2
        &.mode-2 {
            .stock-card-vertical-wrapper {
                width: 49.99999%;
            }
        }
        // отображение по 3
        &.mode-3 {
            .stock-card-vertical-wrapper {
                width: 33.33333%;
            }
        }
        // отображение по 4
        &.mode-4 {
            .stock-card-vertical-wrapper {
                width: 24.99999%;
            }
        }

        // отображение по 5
        &.mode-5 {
            .stock-card-vertical-wrapper {
                width: 19.999999%;
            }
        }
    }
}
