.stock-org-panel {
    display: flex;
    flex-wrap: wrap;
    background: $color-graphics-elements;
    font-size: 12px;
    line-height: 21px;
    color: #1e2023;
    padding: 10px 25px;
    justify-content: space-between;
    align-items: center;

    &__col {
        flex-shrink: 0;
        padding: 5px;

        p {
            margin: 0;
        }
    }

    &__link {
        margin-right: 10px;
    }

    &__link:last-child {
        margin-right: 0;
    }

    &__num {
        font-size: 14px;
    }
}
