// блок информации о техподдержке - номер телефона, время работы, иконка помощи
.support-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;

    &__icon {
        color: $color-primary;
    }

    &__tel {
        text-decoration: none;
        white-space: nowrap;
        font-weight: 600;
        font-size: $font-size-primary-text;
        color: $color-text-base;
        margin-right: 10px;
    }

    &__hours {
        font-size: 10px;
        color: $color-text-base;
        opacity: 0.75;
        font-weight: $font-weight-primary;
        margin-right: 10px;
    }

    .support-info__tooltip {
        width: 235px;
        // transition: unset;
    }
}