/******SVG-icons*******/
symbol {
    path {
        transition: all 0.2s ease-in-out;
    }
}

symbol.active {
    .p-FF9100 {
        fill: #ff9100;
    }
    .p-FFDA2D {
        fill: #ffda2d;
    }
    .p-FF4C04 {
        fill: #ff4c04;
    }
    .p-C9001C {
        fill: #c9001c;
    }
    .p-F2F2FC {
        fill: #f2f2fc;
    }
    .p-FF8597 {
        fill: #ff8597;
    }
    .p-FF9468 {
        fill: #ff9468;
    }
    .p-D8D8FC {
        fill: #d8d8fc;
    }
    .p-FFD2FE {
        fill: #ffd2fe;
    }
    .p-FFB6FA {
        fill: #ffb6fa;
    }
    .p-A3A3D1 {
        fill: #a3a3d1;
    }
    .p-FF9AC9 {
        fill: #ff9ac9;
    }
    .p-815638 {
        fill: #815638;
    }
    .p-64422A {
        fill: #64422a;
    }
    .p-7FEFEF {
        fill: #7fefef;
    }
    .p-03232E {
        fill: #03232e;
    }
    .p-8EA8D4 {
        fill: #8ea8d4;
    }
    .p-6ACCCA {
        fill: #6accca;
    }
    .p-DABBA6 {
        fill: #dabba6;
    }
    .p-F4D7AF {
        fill: #f4d7af;
    }
    .p-FF7A53 {
        fill: #ff7a53;
    }
    .p-D0A973 {
        fill: #d0a973;
    }
    .p-FF3B62 {
        fill: #ff3b62;
    }
    .p-FFDE55 {
        fill: #ffde55;
    }
    .p-FDBF00 {
        fill: #fdbf00;
    }
    .p-E4BF24 {
        fill: #e4bf24;
    }
    .p-966641 {
        fill: #966641;
    }
    .p-FF7816 {
        fill: #ff7816;
    }
    .p-7E5436 {
        fill: #7e5436;
    }
    .p-FDE4E4 {
        fill: #fde4e4;
    }
    .p-FCCED3 {
        fill: #fcced3;
    }
    .p-FDD0D0 {
        fill: #fdd0d0;
    }
    .p-9BFCFF {
        fill: #9bfcff;
    }
    .p-76E2F8 {
        fill: #76e2f8;
    }
    .p-28CBF7 {
        fill: #28cbf7;
    }
    .p-B04617 {
        fill: #b04617;
    }
    .p-BDF052 {
        fill: #bdf052;
    }
    .p-83360B {
        fill: #83360b;
    }
    .p-4C1A03 {
        fill: #4c1a03;
    }
    .p-63C92F {
        fill: #63c92f;
    }
    .p-61D7A8 {
        fill: #61d7a8;
    }
    .p-00AB94 {
        fill: #00ab94;
    }
    .p-C5D3DD {
        fill: #c5d3dd;
    }
    .p-537983 {
        fill: #537983;
    }
    .p-9FACBA {
        fill: #9facba;
    }
    .p-3E5959 {
        fill: #3e5959;
    }
    .p-68544F {
        fill: #68544f;
    }
    .p-53433F {
        fill: #53433f;
    }
    .p-5AAAE7 {
        fill: #5aaae7;
    }
    .p-78B9EB {
        fill: #78b9eb;
    }
    .p-B9DFFC {
        fill: #b9dffc;
    }
    .p-F83E5B {
        fill: #f83e5b;
    }
    .p-DDC2B7 {
        fill: #ddc2b7;
    }
    .p-FFE9E0 {
        fill: #ffe9e0;
    }
    .p-714C2F {
        fill: #714c2f;
    }
    .p-523522 {
        fill: #523522;
    }
    .p-ECECF1 {
        fill: #ececf1;
    }
    .p-3E322E {
        fill: #3e322e;
    }
    .p-FF9F00 {
        fill: #ff9f00;
    }
    .p-8C493B {
        fill: #8c493b;
    }
    .p-774135 {
        fill: #774135;
    }
    .p-A1D1FD {
        fill: #a1d1fd;
    }
    .p-F6C958 {
        fill: #f6c958;
    }
    .p-58ADE5 {
        fill: #58ade5;
    }
    .p-4D98CB {
        fill: #4d98cb;
    }
    .p-E5BC53 {
        fill: #e5bc53;
    }
    .p-F5F6F6 {
        fill: #f5f6f6;
    }
    .p-E5E5E5 {
        fill: #e5e5e5;
    }
    .p-95E9D2 {
        fill: #95e9d2;
    }
    .p-D85397 {
        fill: #d85397;
    }
    .p-FFB64C {
        fill: #ffb64c;
    }
    .p-FF914A {
        fill: #ff914a;
    }
    .p-AF5D5B {
        fill: #af5d5b;
    }
    .p-974C4E {
        fill: #974c4e;
    }
    .p-783541 {
        fill: #783541;
    }
    .p-FFD396 {
        fill: #ffd396;
    }
    .p-F23055 {
        fill: #f23055;
    }
    .p-596C76 {
        fill: #596c76;
    }
    .p-465A61 {
        fill: #465a61;
    }
    .p-FF637B {
        fill: #ff637b;
    }
    .p-87A0AF {
        fill: #87a0af;
    }
    .p-FFCEBF {
        fill: #ffcebf;
    }
    .p-FFB99C {
        fill: #ffb99c;
    }
    .p-FF620B {
        fill: #ff620b;
    }
    .p-E63950 {
        fill: #e63950;
    }
    .p-FAAAAA {
        fill: #faaaaa;
    }
    .p-55FBFF {
        fill: #55fbff;
    }
    .p-00D9E0 {
        fill: #00d9e0;
    }
    .p-00A6FF {
        fill: #00a6ff;
    }
    .p-FFB74F {
        fill: #ffb74f;
    }
    .p-B8E0F9 {
        fill: #b8e0f9;
    }
    .p-FF9A00 {
        fill: #ff9a00;
    }
    .p-006EF5 {
        fill: #006ef5;
    }
    .p-CCF8F3 {
        fill: #ccf8f3;
    }
    .p-BE1E33 {
        fill: #be1e33;
    }
    .p-F89FAD {
        fill: #f89fad;
    }
    .p-F2F2F2 {
        fill: #f2f2f2;
    }
    .p-D3D3D8 {
        fill: #d3d3d8;
    }
    .p-FBC56D {
        fill: #fbc56d;
    }
    .p-EBAE56 {
        fill: #ebae56;
    }
    .p-BABAC0 {
        fill: #babac0;
    }
    .p-94E368 {
        fill: #94e368;
    }
    .p-55BF60 {
        fill: #55bf60;
    }
    .p-CC9249 {
        fill: #cc9249;
    }
    .p-895D3C {
        fill: #895d3c;
    }
    .p-E2E2E7 {
        fill: #e2e2e7;
    }
    .p-AE2538 {
        fill: #ae2538;
    }
    .p-FF5093 {
        fill: #ff5093;
    }
    .p-AF2768 {
        fill: #af2768;
    }
    .p-FFDAEE {
        fill: #ffdaee;
    }
    .p-FF7CB9 {
        fill: #ff7cb9;
    }
    .p-FF5E95 {
        fill: #ff5e95;
    }
    .p-FCB9D1 {
        fill: #fcb9d1;
    }
    .p-CE0963 {
        fill: #ce0963;
    }
    .p-EA348B {
        fill: #ea348b;
    }
    .p-751A46 {
        fill: #751a46;
    }
    .p-BCE4F9 {
        fill: #bce4f9;
    }
    .p-006C70 {
        fill: #006c70;
    }
    .p-7BCEFC {
        fill: #7bcefc;
    }
    .p-FBDA35 {
        fill: #fbda35;
    }
    .p-F7BA35 {
        fill: #f7ba35;
    }
    .p-B29A7E {
        fill: #b29a7e;
    }
    .p-A58868 {
        fill: #a58868;
    }
    .p-947859 {
        fill: #947859;
    }
    .p-BFA993 {
        fill: #bfa993;
    }
    .p-88888F {
        fill: #88888f;
    }
    .p-EBE4DD {
        fill: #ebe4dd;
    }
    .p-D8CCBC {
        fill: #d8ccbc;
    }
    .p-564541 {
        fill: #564541;
    }
    .p-FF4040 {
        fill: #ff4040;
    }
    .p-E10000 {
        fill: #e10000;
    }
    .p-00AAF0 {
        fill: #00aaf0;
    }
    .p-CCEFFF {
        fill: #ccefff;
    }
    .p-ACE3FC {
        fill: #ace3fc;
    }
    .p-D6702B {
        fill: #d6702b;
    }
    .p-BF6015 {
        fill: #bf6015;
    }
    .p-E08344 {
        fill: #e08344;
    }
    .p-FEDBAB {
        fill: #fedbab;
    }
    .p-FEC478 {
        fill: #fec478;
    }
    .p-FEA832 {
        fill: #fea832;
    }
    .p-FD4B2D {
        fill: #fd4b2d;
    }
    .p-E8130F {
        fill: #e8130f;
    }
    .p-FF6849 {
        fill: #ff6849;
    }
    .p-C5C9F7 {
        fill: #c5c9f7;
    }
    .p-98A0F0 {
        fill: #98a0f0;
    }
    .p-97A1F0 {
        fill: #97a1f0;
    }
    .p-6D76E7 {
        fill: #6d76e7;
    }
    .p-E1E4FC {
        fill: #e1e4fc;
    }
    .p-FFEA84 {
        fill: #ffea84;
    }
    .p-FFDC40 {
        fill: #ffdc40;
    }
    .p-FFAB15 {
        fill: #ffab15;
    }
    .p-00C3FF {
        fill: #00c3ff;
    }
    .p-DBB924 {
        fill: #dbb924;
    }
    .p-DCF4FF {
        fill: #dcf4ff;
    }
    .p-87E694 {
        fill: #87e694;
    }
    .p-66CC70 {
        fill: #66cc70;
    }
    .p-FF7452 {
        fill: #ff7452;
    }
    .p-FB9D46 {
        fill: #fb9d46;
    }
    .p-F7EDBC {
        fill: #f7edbc;
    }
    .p-FFFFFF {
        fill: #ffffff;
    }
    .p-E24642 {
        fill: #e24642;
    }
    .p-F15D4A {
        fill: #f15d4a;
    }
    .p-C42725 {
        fill: #c42725;
    }
    .p-D33734 {
        fill: #d33734;
    }
    .p-FF641A {
        fill: #ff641a;
    }
    .p-FFF5F5 {
        fill: #fff5f5;
    }
    .p-EFE2DD {
        fill: #efe2dd;
    }
    .p-9CDD05 {
        fill: #9cdd05;
    }
    .p-BDADA8 {
        fill: #bdada8;
    }
    .p-DCCBC5 {
        fill: #dccbc5;
    }
    .p-CDBFBA {
        fill: #cdbfba;
    }
    .p-D2C5C2 {
        fill: #d2c5c2;
    }
    .p-BDACA8 {
        fill: #bdaca8;
    }
    .p-DD7D00 {
        fill: #dd7d00;
    }
    .p-D6C4BE {
        fill: #d6c4be;
    }
    .p-EEBF00 {
        fill: #eebf00;
    }
    .p-FEE195 {
        fill: #fee195;
    }
    .p-009184 {
        fill: #009184;
    }
    .p-8F562F {
        fill: #8f562f;
    }
    .p-4C250B {
        fill: #4c250b;
    }
    .p-00C8C8 {
        fill: #00c8c8;
    }
    .p-1CADB5 {
        fill: #1cadb5;
    }
    .p-64E1DC {
        fill: #64e1dc;
    }
    .p-895D3C {
        fill: #895d3c;
    }
    .p-3B4A51 {
        fill: #3b4a51;
    }
    .p-F5C23B {
        fill: #f5c23b;
    }
    .p-FD935C {
        fill: #fd935c;
    }
    .p-FD7560 {
        fill: #fd7560;
    }
    .p-54469D {
        fill: #54469d;
    }
    .p-463B85 {
        fill: #463b85;
    }
    .p-CB75F6 {
        fill: #cb75f6;
    }
    .p-C6E2E7 {
        fill: #c6e2e7;
    }
    .p-392E6E {
        fill: #392e6e;
    }
    .p-5A5A5A {
        fill: #5a5a5a;
    }
    .p-B4EAF5 {
        fill: #b4eaf5;
    }
    .p-00ADEA {
        fill: #00adea;
    }
    .p-C83C50 {
        fill: #c83c50;
    }
    .p-A9DA40 {
        fill: #a9da40;
    }
    .p-444444 {
        fill: #444444;
    }
    .p-B03244 {
        fill: #b03244;
    }
    .p-DEECF1 {
        fill: #deecf1;
    }
    .p-FFE470 {
        fill: #ffe470;
    }
    .p-A8D3D8 {
        fill: #a8d3d8;
    }
    .p-99503D {
        fill: #99503d;
    }
    .p-3F6199 {
        fill: #3f6199;
    }
    .p-979FEF {
        fill: #979fef;
    }
    .p-7984EB {
        fill: #7984eb;
    }
    .p-2B4160 {
        fill: #2b4160;
    }
    .p-FF583E {
        fill: #ff583e;
    }
    .p-E82E21 {
        fill: #e82e21;
    }
    .p-E9EDF5 {
        fill: #e9edf5;
    }
    .p-73BCFF {
        fill: #73bcff;
    }
    .p-575F64 {
        fill: #575f64;
    }
    .p-0095FF {
        fill: #0095ff;
    }
    .p-006EFF {
        fill: #006eff;
    }
    .p-FFD400 {
        fill: #ffd400;
    }
    .p-8EBAC5 {
        fill: #8ebac5;
    }
    .p-E0F4FE {
        fill: #e0f4fe;
    }
    .p-FED2A4 {
        fill: #fed2a4;
    }
    .p-90E36A {
        fill: #90e36a;
    }
    .p-56C225 {
        fill: #56c225;
    }
    .p-384949 {
        fill: #384949;
    }
    .p-BC5F19 {
        fill: #bc5f19;
    }
    .p-96C8EF {
        fill: #96c8ef;
    }
    .p-CB671B {
        fill: #cb671b;
    }
    .p-F6A96C {
        fill: #f6a96c;
    }
    .p-FFBD86 {
        fill: #ffbd86;
    }
    .p-AB7B26 {
        fill: #ab7b26;
    }
    .p-BCDBFD {
        fill: #bcdbfd;
    }
    .p-E1BB78 {
        fill: #e1bb78;
    }
    .p-90C225 {
        fill: #90c225;
    }
    .p-C9E36A {
        fill: #c9e36a;
    }
    .p-FED843 {
        fill: #fed843;
    }
    .p-FD7EB8 {
        fill: #fd7eb8;
    }
    .p-2D3C72 {
        fill: #2d3c72;
    }
    .p-1A2958 {
        fill: #1a2958;
    }
    .p-1AAA94 {
        fill: #1aaa94;
    }
    .p-149084 {
        fill: #149084;
    }
    .p-EDBE2B {
        fill: #edbe2b;
    }
    .p-9BBAD9 {
        fill: #9bbad9;
    }
    .p-62739A {
        fill: #62739a;
    }
    .p-00D7DF {
        fill: #00d7df;
    }
    .p-CCF7F9 {
        fill: #ccf7f9;
    }
    .p-FFE98F {
        fill: #ffe98f;
    }
    .p-00A0A6 {
        fill: #00a0a6;
    }
    .p-EBFCFC {
        fill: #ebfcfc;
    }
    .p-565659 {
        fill: #565659;
    }
    .p-FF9811 {
        fill: #ff9811;
    }
    .p-088690 {
        fill: #088690;
    }
    .p-0BAEBC {
        fill: #0baebc;
    }
    .p-B5CDDF {
        fill: #b5cddf;
    }
    .p-C9E5F9 {
        fill: #c9e5f9;
    }
    .p-EE2712 {
        fill: #ee2712;
    }
    .p-515BE0 {
        fill: #515be0;
    }
    .p-00347B {
        fill: #00347b;
    }
    .p-65B3E7 {
        fill: #65b3e7;
    }
    .p-E1D3CE {
        fill: #e1d3ce;
    }
    .p-BDFDFF {
        fill: #bdfdff;
    }
    .p-7ED8F6 {
        fill: #7ed8f6;
    }
    .p-E30000 {
        fill: #e30000;
    }
    .p-FF6426 {
        fill: #ff6426;
    }
    .p-F30051 {
        fill: #f30051;
    }
    .p-D20041 {
        fill: #d20041;
    }
    .p-FF0059 {
        fill: #ff0059;
    }
    .p-FF3980 {
        fill: #ff3980;
    }
    .p-FF5CA8 {
        fill: #ff5ca8;
    }
    .p-FF5D3D {
        fill: #ff5d3d;
    }
    .p-FF6498 {
        fill: #ff6498;
    }
    .p-B35F49 {
        fill: #b35f49;
    }
    .p-FED966 {
        fill: #fed966;
    }
    .p-8CD95B {
        fill: #8cd95b;
    }
    .p-61C27C {
        fill: #61c27c;
    }
    .p-FFC170 {
        fill: #ffc170;
    }
    .p-8C4A37 {
        fill: #8c4a37;
    }
    .p-3C1B13 {
        fill: #3c1b13;
    }
    .p-99EFF2 {
        fill: #99eff2;
    }
    .p-FFDA44 {
        fill: #ffda44;
    }
    .p-CDCDD0 {
        fill: #cdcdd0;
    }
    .p-ACABB1 {
        fill: #acabb1;
    }
    .p-663325 {
        fill: #663325;
    }
    .p-582B1F {
        fill: #582b1f;
    }
    .p-FAECD8 {
        fill: #faecd8;
    }
    .p-EA9B58 {
        fill: #ea9b58;
    }
    .p-F9D8B4 {
        fill: #f9d8b4;
    }
    .p-804231 {
        fill: #804231;
    }
    .p-FF4B00 {
        fill: #ff4b00;
    }
    .p-DD3400 {
        fill: #dd3400;
    }
    .p-7C8388 {
        fill: #7c8388;
    }
    .p-575F64 {
        fill: #575f64;
    }
    .p-32393F {
        fill: #32393f;
    }
    .p-FF4F1A {
        fill: #ff4f1a;
    }
    .p-60DD4E {
        fill: #60dd4e;
    }
    .p-00BB64 {
        fill: #00bb64;
    }
    .p-B6EFAB {
        fill: #b6efab;
    }
    .p-95E0BA {
        fill: #95e0ba;
    }
    .p-FFDC2D {
        fill: #ffdc2d;
    }
    .p-FFC002 {
        fill: #ffc002;
    }
    .p-CA1C00 {
        fill: #ca1c00;
    }
    .p-DE0418 {
        fill: #de0418;
    }
    .p-F1E7DF {
        fill: #f1e7df;
    }
    .p-DFCDBD {
        fill: #dfcdbd;
    }
    .p-8A6746 {
        fill: #8a6746;
    }
    .p-644B31 {
        fill: #644b31;
    }
    .p-A3021A {
        fill: #a3021a;
    }
    .p-FF6536 {
        fill: #ff6536;
    }
    .p-BBDCFF {
        fill: #bbdcff;
    }
    .p-9ABADB {
        fill: #9abadb;
    }
    .p-E0F4FF {
        fill: #e0f4ff;
    }
    .p-B2D1F2 {
        fill: #b2d1f2;
    }
    .p-A2C7EE {
        fill: #a2c7ee;
    }
    .p-E3584B {
        fill: #e3584b;
    }
    .p-FF5E5B {
        fill: #ff5e5b;
    }
    .p-4398D1 {
        fill: #4398d1;
    }
    .p-D6D9DB {
        fill: #d6d9db;
    }
    .p-3E8DC2 {
        fill: #3e8dc2;
    }
    .p-FFC24F {
        fill: #ffc24f;
    }
    .p-FFB64F {
        fill: #ffb64f;
    }
    .p-FC641C {
        fill: #fc641c;
    }
    .p-DE5718 {
        fill: #de5718;
    }
    .p-FA6823 {
        fill: #fa6823;
    }
    .p-FFA217 {
        fill: #ffa217;
    }
    .p-CF4E42 {
        fill: #cf4e42;
    }
    .p-FF7230 {
        fill: #ff7230;
    }
    .p-ED3E3C {
        fill: #ed3e3c;
    }
    .p-00C0F1 {
        fill: #00c0f1;
    }
    .p-80D0E1 {
        fill: #80d0e1;
    }
    .p-51B3DA {
        fill: #51b3da;
    }
    .p-FF423D {
        fill: #ff423d;
    }
    .p-39A3DB {
        fill: #39a3db;
    }
    .p-F7DC4D {
        fill: #f7dc4d;
    }
    .p-EDA637 {
        fill: #eda637;
    }
    .p-94B4D7 {
        fill: #94b4d7;
    }
    .p-FF3C7D {
        fill: #ff3c7d;
    }
    .p-FFA2C1 {
        fill: #ffa2c1;
    }
    .p-04303E {
        fill: #04303e;
    }
    .p-2FC0F0 {
        fill: #2fc0f0;
    }
    .p-0FA9DD {
        fill: #0fa9dd;
    }
    .p-09607D {
        fill: #09607d;
    }
    .p-FF3939 {
        fill: #ff3939;
    }
    .p-CCFC5C {
        fill: #ccfc5c;
    }
    .p-F5CF2D {
        fill: #f5cf2d;
    }
    .p-2682FF {
        fill: #2682ff;
    }
    .p-00CC76 {
        fill: #00cc76;
    }
    .p-8CBCFF {
        fill: #8cbcff;
    }
    .p-B4D2D7 {
        fill: #b4d2d7;
    }
    .p-E1EBF0 {
        fill: #e1ebf0;
    }
    .p-3440DB {
        fill: #3440db;
    }
    .p-E47700 {
        fill: #e47700;
    }
    .p-984D00 {
        fill: #984d00;
    }
    .p-71390F {
        fill: #71390f;
    }
    .p-607882 {
        fill: #607882;
    }
    .p-723802 {
        fill: #723802;
    }
    .p-FFA900 {
        fill: #ffa900;
    }
    .p-FF8800 {
        fill: #ff8800;
    }
    .p-FBBF00 {
        fill: #fbbf00;
    }
    .p-FFC9D0 {
        fill: #ffc9d0;
    }
    .p-E5B728 {
        fill: #e5b728;
    }
    .p-FFD75A {
        fill: #ffd75a;
    }
    .p-146D47 {
        fill: #146d47;
    }
    .p-A3EBFE {
        fill: #a3ebfe;
    }
    .p-1B7CD5 {
        fill: #1b7cd5;
    }
    .p-57AEFF {
        fill: #57aeff;
    }
    .p-545AC3 {
        fill: #545ac3;
    }
    .p-404AA2 {
        fill: #404aa2;
    }
    .p-85D3FD {
        fill: #85d3fd;
    }
    .p-22B8F9 {
        fill: #22b8f9;
    }
    .p-293939 {
        fill: #293939;
    }
    .p-F03800 {
        fill: #f03800;
    }
    .p-FFEA84 {
        fill: #ffea84;
    }
    .p-8FE673 {
        fill: #8fe673;
    }
    .p-76CC5B {
        fill: #76cc5b;
    }
    .p-599944 {
        fill: #599944;
    }
    .p-888890 {
        fill: #888890;
    }
    .p-56535A {
        fill: #56535a;
    }
    .p-299B6A {
        fill: #299b6a;
    }
    .p-F4E2E2 {
        fill: #f4e2e2;
    }
    .p-F7B239 {
        fill: #f7b239;
    }
    .p-0B799D {
        fill: #0b799d;
    }
    .p-2197D8 {
        fill: #2197d8;
    }
    .p-E09B2D {
        fill: #e09b2d;
    }
    .p-F95428 {
        fill: #f95428;
    }
    .p-E59278 {
        fill: #e59278;
    }
    .p-DF6246 {
        fill: #df6246;
    }
    .p-666666 {
        fill: #666666;
    }
    .p-D33924 {
        fill: #d33924;
    }
    .p-D1E5F5 {
        fill: #d1e5f5;
    }
    .p-4D4D4D {
        fill: #4d4d4d;
    }
    .p-333333 {
        fill: #333333;
    }
    .p-79D60D {
        fill: #79d60d;
    }
    .p-3CC602 {
        fill: #3cc602;
    }
    .p-F1F1F2 {
        fill: #f1f1f2;
    }
    .p-E6E6E6 {
        fill: #e6e6e6;
    }
    .p-3CC602 {
        fill: #3cc602;
    }
    .p-E8F4FC {
        fill: #e8f4fc;
    }
    .p-00AC00 {
        fill: #00ac00;
    }
    .p-2BA5F7 {
        fill: #2ba5f7;
    }
    .p-07485E {
        fill: #07485e;
    }
    .p-FFA7B3 {
        fill: #ffa7b3;
    }
    .p-FFDECF {
        fill: #ffdecf;
    }
    .p-FF415B {
        fill: #ff415b;
    }
    .p-FF8E8E {
        fill: #ff8e8e;
    }
    .p-DAC4BB {
        fill: #dac4bb;
    }
    .p-FF6C6C {
        fill: #ff6c6c;
    }
    .p-E3D0C9 {
        fill: #e3d0c9;
    }
    .p-BEEBFA {
        fill: #beebfa;
    }
    .p-FF648D {
        fill: #ff648d;
    }
    .p-FD387E {
        fill: #fd387e;
    }
    .p-EBECEC {
        fill: #ebecec;
    }
    .p-F8E99B {
        fill: #f8e99b;
    }
    .p-F5DC60 {
        fill: #f5dc60;
    }
    .p-99A1EA {
        fill: #99a1ea;
    }
    .p-717AE1 {
        fill: #717ae1;
    }
    .p-F8BD6F {
        fill: #f8bd6f;
    }
    .p-CB9237 {
        fill: #cb9237;
    }
    .p-808080 {
        fill: #808080;
    }
    .p-58575D {
        fill: #58575d;
    }
    .p-C7EAF0 {
        fill: #c7eaf0;
    }
    .p-BB2A5C {
        fill: #bb2a5c;
    }
    .p-88DEE0 {
        fill: #88dee0;
    }
    .p-E57E25 {
        fill: #e57e25;
    }
    .p-F18D46 {
        fill: #f18d46;
    }
    .p-F1995B {
        fill: #f1995b;
    }
    .p-F0C419 {
        fill: #f0c419;
    }
    .p-C03A2B {
        fill: #c03a2b;
    }
    .p-F3D55B {
        fill: #f3d55b;
    }
    .p-E64C3C {
        fill: #e64c3c;
    }
    .p-DFD7D5 {
        fill: #dfd7d5;
    }
    .p-83878C {
        fill: #83878c;
    }
    .p-000000 {
        fill: #000000;
    }
    .p-202833 {
        fill: #202833;
    }
    .p-414851 {
        fill: #414851;
    }
    .p-62676F {
        fill: #62676f;
    }
    .p-A4A6AA {
        fill: #a4a6aa;
    }
    .p-DBFFFC {
        fill: #dbfffc;
    }
    .p-47568C {
        fill: #47568c;
    }
    .p-2C3B73 {
        fill: #2c3b73;
    }
    .p-61729B {
        fill: #61729b;
    }
    .p-CD0000 {
        fill: #cd0000;
    }
    .p-4A696F {
        fill: #4a696f;
    }
    .p-CAE8F9 {
        fill: #cae8f9;
    }
    .p-7FC8F1 {
        fill: #7fc8f1;
    }
    .p-3A4DE3 {
        fill: #3a4de3;
    }
    .p-0088FF {
        fill: #0088ff;
    }
    .p-EDEAE4 {
        fill: #edeae4;
    }
    .p-DDDAD0 {
        fill: #dddad0;
    }
    .p-6EC030 {
        fill: #6ec030;
    }
    .p-378900 {
        fill: #378900;
    }
    .p-FD2D12 {
        fill: #fd2d12;
    }
    .p-DE0E0E {
        fill: #de0e0e;
    }
    .p-FF672A {
        fill: #ff672a;
    }
    .p-F2F2F4 {
        fill: #f2f2f4;
    }
    .p-FF6A52 {
        fill: #ff6a52;
    }
    .p-F0384A {
        fill: #f0384a;
    }
    .p-EBEBEC {
        fill: #ebebec;
    }
    .p-CACACD {
        fill: #cacacd;
    }
    .p-64DDE0 {
        fill: #64dde0;
    }
    .p-A9A8AE {
        fill: #a9a8ae;
    }
    .p-808081 {
        fill: #808081;
    }
    .p-00C2C7 {
        fill: #00c2c7;
    }
    .p-00A5AD {
        fill: #00a5ad;
    }
    .p-64DDE0 {
        fill: #64dde0;
    }
    .p-5BC980 {
        fill: #5bc980;
    }
    .p-00A38B {
        fill: #00a38b;
    }
    .p-81EAAC {
        fill: #81eaac;
    }
    .p-FC756B {
        fill: #fc756b;
    }
    .p-FE4F34 {
        fill: #fe4f34;
    }
    .p-FEC356 {
        fill: #fec356;
    }
    .p-FEB020 {
        fill: #feb020;
    }
    .p-FE4E33 {
        fill: #fe4e33;
    }
    .p-FE1600 {
        fill: #fe1600;
    }
}