$tooltip-background-color: $color-graphics-elements;
$tooltip-background-color-accent: $color-primary;
$tooltip-triangle-size: 6px;

// всплывающая подсказка при наведении

// показ при наведении и клике
.has-tooltip {
    cursor: pointer;
    position: relative;
    &:hover > .tooltip
    {
        visibility: visible;
        opacity: 1;
        z-index: 100;
        transition: opacity $transition-primary, visibility $transition-primary;
    }
}

// принудительный постоянный показ
.has-tooltip-force {
    cursor: pointer;
    position: relative;
    .tooltip {
        visibility: visible;
        opacity: 1;
        z-index: 100;
        transition: opacity $transition-primary, visibility $transition-primary;
    }
}

// всплывающая подсказка
// стандартное положение - снизу под элементом, без треугольника
.tooltip {
    visibility: hidden;
    z-index: 1;
    bottom: -10px;
    opacity: 0;
    position: absolute;
    background-color: $tooltip-background-color;
    padding: 8px 10px;
    line-height: 15px;
    color: $color-text-base;
    border-radius: 6px;
    font-size: 12px;
    font-weight: $font-weight-primary;
    line-height: 16px;
    font-style: normal;
    left: 50%;
    font-family: $font-primary;
    min-width: 120px;
    transform: translate(-50%, 100%);
    transition: opacity $transition-primary, visibility $transition-primary;
    box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.1);

    // треугольник-указатель к всплывающей подсказке
    &:before {
        content: "";
        display: block;
        width: $tooltip-triangle-size;
        height: $tooltip-triangle-size;
        position: absolute;
        left: calc(50% - #{$tooltip-triangle-size}/ 2);
        top: -3px;
        background-color: $tooltip-background-color;
        transform: rotate(45deg);
    }

    * {
        font-size: inherit;
    }

    // позиция подсказки снизу - стандартное положение
    &.tooltip_bottom {
        @extend .tooltip;
    }

    // позиция подсказки сверху
    &.tooltip_top {
        bottom: auto;
        top: -10px;
        transform: translate(-50%, -100%);
        &:before {
            left: calc(50% - #{$tooltip-triangle-size}/ 2);
            right: auto;
            top: auto;
            bottom: -3px;
        }
    }

    // позиция подсказки справа
    &.tooltip_right {
        bottom: 50%;
        right: -10px;
        left: auto;
        transform: translate(100%, 50%);
        &:before {
            right: auto;
            left: -3px;
            top: calc(50% - #{$tooltip-triangle-size}/ 2);
            bottom: auto;
        }
    }

    // позиция подсказки слева
    &.tooltip_left {
        bottom: 50%;
        right: auto;
        left: -10px;
        transform: translate(-100%, 50%);
        &:before {
            left: auto;
            right: -3px;
            top: calc(50% - #{$tooltip-triangle-size}/ 2);
            bottom: auto;
        }
    }

    // выравнивает текст по центру
    &.tooltip_ta-c {
        text-align: center;
    }

    // акцентный вид подсказки
    &.tooltip_accent {
        background-color: $tooltip-background-color-accent;
        color: white;
        font-weight: 600;

        &:before {
            background-color: $tooltip-background-color-accent;
        }
    }

    // вид подсказки с ошибкой
    &.tooltip_error {
        background-color: $error-light;
        color: $color-text-base;
        font-weight: 400;

        &:before {
            background-color: $error-light;
        }
    }
    //Подсказка внутри подсказки
    &.tooltip_inside {
        font-size: 11px;
        min-width: 120px;
        background-color: $background-color-primary;
        transform: translate(-25%,95%);
        border: 1px solid $color-primary;
        &::before {
            top: -4px;
            background-color: $background-color-primary;
            border-top: 1px solid $color-primary;
            border-left: 1px solid $color-primary;
            left: calc(10% - 3px);
        }

    }
    &.tooltip_mw-265 {
        min-width: 265px;
    }

    // Тултип для пагинации
    &__pagination {
        span {
            font-size: 11px;
            white-space: nowrap;
        }
    }
    &__pagination-form {
        display: flex;
        flex-wrap: nowrap;
        margin: 5px 0 0 0;
    }
    &__pagination-input {
        max-width: 55px;
        margin: 0 5px 0 0;
        border: none;
    }
    &__pagination-btn {
        padding: 5px 10px;
        background-color: $color-primary;
        border-radius: 10px;
        font-size: 11px;
        color: #ffffff;
        &:active {
            transform: scale(.95);
        }
    }
}
