/****COLORS*****/
$color-primary: #318CCA;
$bg-body-color: #f2f2f2;
$statusbar_empty-color-txt: #1F5F8A;
$statusbar-color-txt: #fff;
$statusbar_filled-color-bg: rgba(49, 140, 202, 0.5);

//active-custom
$card-color-bg: #fff;
$org-name-color: #0099FF;
$sky-blue-color: #4195CE;
$dark-grey-color: #4B4B4B;
$light-gray-color: #858585;
$bg-wrapper-card-color: rgba(49, 140, 202, 0.1);
$click-load-color: #36A5F2;
$filter-modal-bg-color: #e0eef7;
$visited-link-active-custom: #990066;
$dark-brown-color: #1E2023;
$border-subcat-img-color: #E3E3E3;
$pagination-color: #F0F2F5;
$light-gray-txt-color: #606266;
$light-gray-link-color: #A2A3A5;
$light-gray-sum-btn: #C4C4C4;
$pink-popover-color: #FFD7D7;
$modal-copy-selected-color: rgba(54, 166, 242, 0.15);
$collapse-block-shadow-color: rgba(105, 153, 247, 0.18);
$scroll-bg-color: #E0EEF7;

// footer
$pale-blue-color: rgba(49, 140, 202, 0.05);




