@media (min-width: 1075px) {
    .tablet {
        display: none;
    }
}
@media (max-width: 768px) {
    .tablet {
        display: none;
    }
}
@media (max-width: 1075px) {
    .tablet {
        min-width: 768px;
        .card-active-custom__header {
            .btn-toggle-wrap {
                min-width: 30px;
            }
            .btn-toggle {
                top: 80px;
            }
        }
        //Левый блок шапки
        .card-active-custom__header-left-block {
            min-width: 460px;
            .rating {
                margin-bottom: 15px;
            }
            .card-active-custom__ds-statusbar {
                flex-direction: row;
                align-items: center;
                width: 100%;
                margin: 10px 0 20px 0;
                .ds-statusbar {
                    width: 50%;
                    height: 25px;
                }
                .like-icon {
                    margin: 0 7px;
                }
            }
        }
        //Правый блок шапки
        .card-active-custom__header-right-block {
            padding-left: 5%;
            .card-active-custom__status-block {
                flex-direction: row;
                justify-content: flex-start;
                align-items: baseline;
                p {
                    margin: 0 5px 0 0;                     
                    font-size: 12px;
                    
                }
            }           
        }
        .card-active-custom__purchase-block {
            font-size: 12px;
            p {
                margin-top: 0;
                color: $dark-grey-color;
            }
            span {
                font-weight: 600;
            }
        }

        //Выпадающий блок
        .card-active-custom__toggle-block {

            .card-active-custom__img {
                width: 96%;
                max-width: 350px;
                img {
                    width: 100%;
                    height: auto;
                }
            }
            .card-active-custom__access-lvl {
                display: none;
            }
            .card-active-custom__comments {
                margin-right: 10px;
            }
            //Подкатегории
            .card-active-custom__img-subcategory {
                display: flex;
                position: relative;
                max-width: 152px;
                max-height: 152px;
                margin-right: 20px;
                .hover-translucend {
                    display: flex;            
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    position: absolute;
                    top: 71%;
                    // left: 0;
                    // right: 0;
                    // bottom: 0;
                    width: 100%;
                    height: 45px;
                    background: rgba(255, 255, 255, 0.8);
                    transition: .4s;
                    cursor: pointer;                   
                    p {
                        visibility: visible;
                        margin: 0;
                        font-size: 12px;
                        font-weight: normal;
                        line-height: 14px;
                        text-align: center;                                        
                    }
                    p:nth-child(1) {
                        max-width: 50%;
                    }        
                }
                img {
                    width: auto;
                }
        
            }
            //Слайдер
            .ds-slider {
                .slider-wrap {
                    max-width: 305px;
                }
            }     
        }

    }//tablet
}//media

