// @media (min-width: 1075px) {
//     .tablet {
//         display: none;
//     }
// }
// @media (max-width: 768px) {
//     .tablet {
//         display: none;
//     }
// }
// @media (max-width: 1075px) {
.card-active-custom__wrap {
    &.tablet {
        min-width: 768px;

        .card-active-custom__header {
            position: relative;
            display: flex;
            width: 100%;

            .btn-toggle {
                position: absolute;
                right: -30px;
                top: 80px;
                padding-right: 15px;
                border: none;
                background: transparent;
                cursor: pointer;
                appearance: none;
                .arrow {
                    transform: rotate(90deg);
                    transition: .3s;
                    background: transparent;

                    &:after,
                    &:before {
                        background: $light-gray-color;
                    }

                    &:hover {

                        &:after,
                        &:before {
                            background: $color-primary;
                        }
                    }
                }
            }
        }

        .card-active-custom__heading {
            display: flex;
            align-items: center;
            font-family: Open Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 19px;

            a {
                color: #000;
                text-decoration: none;

                &:visited {
                    color: #906;
                }
            }

            .rating {
                margin-left: 10px;
            }

            .rating-icon {
                width: 15px;
                height: 15px;
            }

            .rating-value {
                font-size: 16px;
            }

        }


        //Левый блок шапки
        .card-active-custom__header-left-block {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            width: 545px;
            min-width: 460px;
            margin-right: 33px;
        }
        .card-active-custom__collection {
            display: flex;
            margin: 5px 0;
        }
        .card-active-custom__collection.start {
            .purchaseStatus-icon {
                stroke: #0DC53D;
            }

            .purchaseStatus_soon {
                color: #0DC53D;
            }
        }

        .card-active-custom__collection.stop {
            .purchaseStatus-icon {
                stroke: #ff8000;

            }

            .purchaseStatus_soon {
                color: #ff8000;
            }
        }

        // .card-active-custom__ds-statusbar {
        //     flex-direction: row;
        //     align-items: center;
        //     width: 100%;
        //     margin: 10px 0 20px 0;

        //     .ds-statusbar {
        //         width: 50%;
        //         height: 25px;
        //     }

        //     .like-icon {
        //         margin: 0 7px;
        //     }
        // }

        //Правый блок шапки
        .card-active-custom__header-right-block {
            display: flex;
            flex-direction: column;
            padding-left: 5%;
            position: absolute;
            right: 30px;

            .card-active-custom__status-block {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;    
                flex-direction: row;
                justify-content: flex-start;
                align-items: baseline;
                .like {
                    display: flex;
                    align-items: flex-start;
                }    

                p {
                    margin: 0 5px 0 0;
                    font-size: 12px;

                }
            }
            
            
        }
        .card-active-custom__statusbar {
            display: inline-flex;
            width: 100%;
            max-width: 270px;
            margin-right: 45px;
            .statusbar {
                margin-right: 10px;
            }

            p {
                font-style: normal;
                font-size: 11px;
                line-height: 15px;

                span {
                    font-weight: bold;
                }
            }
        }

        .card-active-custom__purchase-block {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 10px 0;
            font-size: 12px;

            p {
                margin: 0 0 0 10px;
                color: $dark-grey-color;
            }

            span {
                font-weight: 600;
            }
        }
        .card-active-custom__like {
            .icon-like {
                stroke-width: 2;
            }
        }

        //Выпадающий блок
        .card-active-custom__toggle-left {
            min-width: 350px;
            max-height: 220px;
        }

        .card-active-custom__description {
            min-width: 330px;
        }

        .card-active-custom__img-wrap {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            max-width: 350px;

            img {
                max-width: 100%;
                max-height: 100%;
                width: auto;
                height: 100%;
            }
        }

        .card-active-custom__toggle-block {
            display: flex;
            max-height: 0;
            margin-top: 15px;
            visibility: hidden;
            opacity: 0;
            transition: max-height .3s;

            .card-active-custom__access-lvl {
                display: none;
            }

            .card-active-custom__comments {
                margin-right: 10px;
            }

            //Подкатегории
            .card-active-custom__img-subcategory {
                display: flex;
                position: relative;
                max-width: 152px;
                max-height: 152px;
                margin-right: 20px;

                .hover-translucend {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    position: absolute;
                    top: 71%;
                    // left: 0;
                    // right: 0;
                    // bottom: 0;
                    width: 100%;
                    height: 45px;
                    background: rgba(255, 255, 255, 0.8);
                    transition: .4s;
                    visibility: visible;
                    cursor: pointer;

                    p {
                        visibility: visible;
                        margin: 0;
                        font-size: 12px;
                        font-weight: normal;
                        line-height: 14px;
                        text-align: center;
                    }

                    p:nth-child(1) {
                        max-width: 50%;
                    }
                }

                img {
                    width: auto;
                }

            }

            //Слайдер
            .ds-slider {
                .slider-wrap {
                    max-width: 305px;
                }
            }
        }
    }
}

// }