//Заменить стрелки псевдоэлементы на изображение
.arrow-mobile {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    &:before, &:after {
        position: absolute;
        content: '';
        height: 1px;
        width: 8px;
        border-radius: 5.5px;
        background: #858585;
        left: 12px;
    }
    &:hover {
        &:before, &:after {
            background: $color-primary;
        }
        cursor: pointer;
    }
    &:before {
        transform: rotate(45deg) translateY(-3.7px);
    }

    &:after {
        transform: rotate(-45deg) translateY(3.5px);
    }
    //Направления кнопки
	// Для выбора нужного направления, присвоить соответствующий класс блоку arrow
	// например arrow arrow_up 
	&_right {
		transform: rotate(0deg);
	}
	&_down {
		transform: rotate(90deg);
	}
	&_left {
		transform: rotate(180deg);
	}
	&_up {
		transform: rotate(270deg);

	}        
}
