.arrow-02-mobile {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    // border-radius: 50%;
    // border: 1px solid grey;
    &:before, &:after {
        position: absolute;
        content: '';
        height: 1px;
        width: 8px;
        border-radius: 5.5px;
        background: #858585;
        left: 12px;
    }
    &:hover {
        &:before, &:after {
            background: $color-primary;
        }
        cursor: pointer;
    }
    &:before {
        transform: rotate(45deg) translateY(-3.7px);
    }

    &:after {
        transform: rotate(-45deg) translateY(3.5px);
    }        
}
