.condition-switcher {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    // background: rgba(49, 140, 202, 0.1);
    width: 100%;
    height: 35px;
    // padding: 0 25px;
    &__container {
        display: flex;
        width: 30px;
        height: 16px;
        position: relative;
        margin: 0 5px;
    }
    &__wrap-btn {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 30px;
        height: auto;
        background: #DADADA;
        border-radius: 50px;
        transition: all .3s;
        cursor: pointer;
    }   
    &__btn {
        position: absolute;
        display: flex;
        width: 16px;
        height: 16px;
        background: #fff;
        border: 2px solid #DADADA;
        border-radius: 50%;
        transition: all .3s;
        transform: translateX(0px);
        cursor: pointer;
        z-index: 999;
    }
    // &:after {
    //     content: "";
    //     position: absolute;
    //     display: flex;
    //     width: 16px;
    //     height: 16px;
    //     background: #fff;
    //     border: 2px solid #DADADA;
    //     border-radius: 50%;
    //     transition: all .3s;
    //     transform: translateX(0px);
    //     cursor: pointer;
    //     z-index: 999;
    // }
    &__txt {
        font-size: 11px;
        color: $light-gray-color;
    }
    
    &__input {
        display: none;
        position: absolute;
        &:checked ~ .condition-switcher__btn {
            transform: translateX(15px);
            border: 2px solid $color-primary;           
        }
    }    
    &__input:checked + label {
        background: $color-primary;        
    }

}



