.ds-inputs-form {
    display: block;
    height: 48px;
    margin: 13px;
    padding: 0 20px;
    border: 1px solid #C4C4C4;
    border-radius: 2px;
    outline: none;
    position: relative;
    
    input {
        width: 97%;
        height: 100%;
        border: none;
        outline: none;
        font-size: 14px;
        font-weight: 600;
        color: $dark-grey-color;
            
    }
}

// Лейбл
// Скопировать в инпут и заменить текст в content: "" у before
// В зависимости от длинны текста, необходимо будет 
// менять ширину и позицию left


// &:before {
//     content: "Лейбл";
//     display: inline-flex;
//     height: 15px;
//     position: absolute;
//     top: -12px;
//     left: 5px;
//     padding: 0 10px;
//     font-family: Open Sans;
//     font-weight: 600;
//     font-size: 15px;
//     color: $light-gray-sum-btn;
//     z-index: 20;
// }
// &:after {
//     content: "";
//     background: url("~images/auth-form/bg-line-label-input.svg");
//     width: 66px;
//     height: 2px;
//     position: absolute;
//     top: -2px;
//     left: 4px;
//     z-index: 10;
// }





