.ds-inputs-component {
    display: block;
    width: 100%;
    min-height: 100px;

    //Ошибка ввода
    &.is-error {
        .ds-inputs-form__label {
            &:before {
                color: $color-input-border-error!important;
            }
        }
        input {
            background: $color-input-bg-error;
            border-color: $color-input-border-error;
        }
        .ds-inputs-form__txt-error {
            visibility: visible;
        }

    }
    //Скрыть снежинку
    &.is-hidden-snowflake {
        .snowflake {
            display: none;
        }
    }
    //Скрыть блок с подсказками снизу
    &.is-hidden-info {
        min-height: 0;
        .ds-inputs-form__info-block {
            display: none;
        }
    }
    &.is-unavailable {
        .ds-inputs-form {
            border-color: $color-text-light-grey;
            &:before {
                color: $color-text-light-grey;
            }
            input {
                display: none;
            }

        }
    }    

}
.ds-inputs-form {
    display: block;
    min-width: 200px;
    height: 48px;
    margin: 13px 0;
    position: relative;
    
    &__input { 
        width: 100%;
        min-width: 200px;
        height: 100%;
        padding: 0 40px 0 20px;
        border: none;
        outline: none;
        font-size: 14px;
        font-weight: 600;
        color: $dark-grey-color;
        border: 1px solid $color-text-base;
        border-radius: 2px;
        outline: none;
        &:focus {
            border: 1px solid $color-primary;
            ~.ds-inputs-form__label:before {
                color: $color-primary;
            }
        }
    
    }
    &__label {
        position: absolute;
        left: 0;

        &:before {
            display: inline-flex;
            height: 15px;
            position: absolute;
            top: -12px;
            left: 5px;
            padding: 0 10px;
            font-family: Open Sans;
            font-weight: 600;
            font-size: 14px; 
            z-index: 20;
            color: $color-text-base;
        }
    
    }

    //Info-block
    &__info-block {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin: -10px 0 0 0;
        // padding: 0 13px;        
    } 

    &__txt-info {
        display: flex;
        width: 50%;
        max-width: 170px;
        padding: 0 15px 0 0;
        font-weight: 600;
        font-size: 11px;
        color: $color-input-txt-info;
        position: relative;
        user-select: none;
    }
    &__txt-error {
        display: flex;
        justify-content: flex-end; 
        width: 100%;       
        text-align: left;
        font-weight: 600;
        font-size: 12px;
        color: $color-input-border-error;
        visibility: hidden;
        user-select: none;
        &-email, &-phone {
            max-width: 160px;
        }
        &-login {
            max-width: 203px;
        }
    }
    &__icon-info {
        position: absolute;
        top: 10px;
        right: 0;
        user-select: none;                
    }

}
.snowflake {
    width: 0;
    height: 0;
    &:before {
        content: "*";
        position: absolute;
        top: -12px;
        left: 5px;
        font-size: 12px;
        color: $color-input-border-error;
    }
}

// Login
.input-login {
    .ds-inputs-form__label {
        &:before {
            content: "Логин";
        }

    }
    &:after {
        content: "";
        background: url("~images/auth-form/bg-line-label-input.svg");
        width: 66px;
        height: 1px;
        position: absolute;
        top: 0px;
        left: 5px;
        z-index: 10;
    }

}

// Password
.input-password {
    .ds-inputs-form__label {
        &:before {
            content: "Пароль";
        }
    }
    &:after {
        content: "";
        background: url("~images/auth-form/bg-line-label-input.svg");
        width: 75px;
        height: 1px;
        position: absolute;
        top: 0px;
        left: 5px;
        z-index: 10;
    }

    
    input[type="checkbox"] {
        display: none;
        &:checked ~.passEye-label:after  {
            display: none;
        }
        &:checked ~.passEye-label:before  {
            display: inline-block;
        }

    }
    .passEye-label {
        position: absolute;
        display: inline-block;
        width: 24px;
        height: 22px; 
        top: 12px;
        right: 12px;
        &:after {
            content: "";
            display: inline-block;
            width: 25px;
            height: 26px;    
            background: url("~images/password-input/passEyeClose.svg");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
        &:before {
            content: "";
            position: absolute;
            display: none;
            width: 25px;
            height: 16px;
            top: 4px;    
            background: url("~images/password-input/passEye.svg");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }

        cursor: pointer;
    }

}

//Поле ввода почты
.input-email {
    .ds-inputs-form__label {
        &:before {
            content: "Email";
        }
    }
    &:after {
        content: "";
        background: url("~images/auth-form/bg-line-label-input.svg");
        width: 60px;
        height: 1px;
        position: absolute;
        top: 0;
        left: 4px;
        z-index: 10;
    }

}

//Поле ввода телефона
.input-phone {
    .ds-inputs-form__txt-error {
        max-width: 159px;
    }

    .ds-inputs-form__label {
        &:before {
            content: "Номер телефона";
            white-space: nowrap;
        }
    }
    &:after {
        content: "";
        background: url("~images/auth-form/bg-line-label-input.svg");
        width: 147px;
        height: 1px;
        position: absolute;
        top: 0;
        left: 4px;
        z-index: 10;
    }
    input {
        color: $color-text-base;
    }

}

//Повторный ввод пароля
.input-password-repeat {
    .ds-inputs-form__label {
        &:before {
            content: "Повторите пароль";
            white-space: nowrap;
        }
    }
    &:after {
        width: 160px;
    }
    #repeat-passEye {
        display: none;
        &:checked ~.passEye-label:after  {
            display: none;
        }
        &:checked ~.passEye-label:before  {
            display: inline-block;
        }
    }
}







