.ds-inputs-component {
    // Ввод текста в поле
    &.is-typing {
        border-color: $color-primary-light;
        &:before {
            color: $color-primary-light;
        }
    }

    //Ошибка ввода
    &.is-error {
        .ds-inputs-form {
            border-color: $color-input-border-error;
            background: $color-input-bg-error;
            &:before {
                color: $color-input-border-error;
            }
        }
        input {
            background: $color-input-bg-error;
        }
        .ds-inputs-form__txt-error {
            visibility: visible;
        }

    }
    &.is-hidden-snowflake {
        >.snowflake {
            display: none;
        }
    }    

}
.ds-inputs-form {
    display: block;
    height: 48px;
    margin: 13px;
    padding: 0 20px;
    border: 1px solid $light-gray-sum-btn;
    border-radius: 2px;
    outline: none;
    position: relative;

    // // Ввод текста в поле
    // &.is-typing {
    //     border-color: $color-primary-light;
    //     &:before {
    //         color: $color-primary-light;
    //     }
    // }

    // //Ошибка ввода
    // &.is-error {
    //     border-color: $color-input-border-error;
    //     background: $color-input-bg-error;
    //     input {
    //         background: $color-input-bg-error;
    //     }
    //     &:before {
    //         color: $color-input-border-error;
    //     }
    //     .ds-inputs-form__txt-error {
    //         visibility: visible;
    //     }

    // }
    // &.is-hidden-snowflake {
    //     >.snowflake {
    //         display: none;
    //     }
    // }

    
    input {
        width: 97%;
        height: 100%;
        border: none;
        outline: none;
        font-size: 14px;
        font-weight: 600;
        color: $dark-grey-color;
            
    }

    //Info-block
    &__info-block {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin: -10px 0 0 0;
        padding: 0 13px;        
    } 

    &__txt-info {
        display: flex;
        width: 50%;
        max-width: 170px;
        font-weight: 600;
        font-size: 11px;
        color: $color-input-txt-info;
        position: relative;
    }
    &__txt-error {
        display: flex;
        justify-content: flex-end; 
        width: 85%;       
        text-align: left;
        font-weight: 600;
        font-size: 12px;
        color: $color-input-border-error;
        visibility: hidden;
        &_mw160 {
            max-width: 160px;
        }
        &_mw203 {
            max-width: 203px;
        }
    }
    &__icon-info {
        position: absolute;
        top: 10px;
        left: 140px;                
    }

}
.snowflake {
    width: 0;
    height: 0;
    &:before {
        content: "*";
        position: absolute;
        top: -12px;
        left: 5px;
        font-size: 12px;
        color: $color-input-border-error;
    }
}

// Login
.input-login {
    &:before {
        content: "Логин";
        display: inline-flex;
        height: 15px;
        position: absolute;
        top: -12px;
        left: 5px;
        padding: 0 10px;
        font-family: Open Sans;
        font-weight: 600;
        font-size: 15px;
        color: $light-gray-sum-btn;
        z-index: 20;
    }
    &:after {
        content: "";
        background: url("~images/auth-form/bg-line-label-input.svg");
        width: 66px;
        height: 2px;
        position: absolute;
        top: -2px;
        left: 5px;
        z-index: 10;
    }

}

// Password
.input-password {
    &:before {
        content: "Пароль";
        display: inline-flex;
        height: 15px;
        position: absolute;
        top: -12px;
        left: 5px;
        padding: 0 10px;
        font-family: Open Sans;
        font-weight: 600;
        font-size: 15px;
        color: $light-gray-sum-btn;
        z-index: 20;
    }
    &:after {
        content: "";
        background: url("~images/auth-form/bg-line-label-input.svg");
        width: 75px;
        height: 2px;
        position: absolute;
        top: -2px;
        left: 5px;
        z-index: 10;
    }

    
    #passEye {
        display: none;
        &:checked ~.passEye-label:after  {
            display: none;
        }
        &:checked ~.passEye-label:before  {
            display: inline-block;
        }

    }
    .passEye-label {
        position: absolute;
        display: inline-block;
        width: 24px;
        height: 22px; 
        top: 12px;
        right: 12px;
        &:after {
            content: "";
            display: inline-block;
            width: 25px;
            height: 26px;    
            background: url("~images/password-input/passEyeClose.svg");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
        &:before {
            content: "";
            position: absolute;
            display: none;
            width: 25px;
            height: 16px;
            top: 4px;    
            background: url("~images/password-input/passEye.svg");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }

        cursor: pointer;
    }

}

//Поле ввода почты
.input-email {
    &:before {
        content: "Email";
        display: inline-flex;
        height: 15px;
        position: absolute;
        top: -12px;
        left: 5px;
        padding: 0 10px;
        font-family: Open Sans;
        font-weight: 600;
        font-size: 15px;
        color: $light-gray-sum-btn;
        z-index: 20;
    }
    &:after {
        content: "";
        background: url("~images/auth-form/bg-line-label-input.svg");
        width: 60px;
        height: 2px;
        position: absolute;
        top: -2px;
        left: 4px;
        z-index: 10;
    }

}

//Поле ввода телефона
.input-phone {
    .ds-inputs-form__txt-error {
        max-width: 159px;
    }

    &:before {
        content: "Номер телефона";
        display: inline-flex;
        height: 15px;
        position: absolute;
        top: -12px;
        left: 5px;
        padding: 0 10px;
        font-family: Open Sans;
        font-weight: 600;
        font-size: 15px;
        color: $light-gray-sum-btn;
        z-index: 20;
    }
    &:after {
        content: "";
        background: url("~images/auth-form/bg-line-label-input.svg");
        width: 147px;
        height: 2px;
        position: absolute;
        top: -2px;
        left: 4px;
        z-index: 10;
    }

}

//Повторный ввод пароля
.input-password-repeat {
    &:before {
        content: "Повторите пароль"!important;
    }
    &:after {
        width: 160px;
    }
    #repeat-passEye {
        display: none;
        &:checked ~.passEye-label:after  {
            display: none;
        }
        &:checked ~.passEye-label:before  {
            display: inline-block;
        }
    }
}


// Лейбл
// Скопировать в инпут и заменить текст в content: "" у before
// В зависимости от длинны текста, необходимо будет 
// менять ширину и позицию left


// &:before {
//     content: "Лейбл";
//     display: inline-flex;
//     height: 15px;
//     position: absolute;
//     top: -12px;
//     left: 5px;
//     padding: 0 10px;
//     font-family: Open Sans;
//     font-weight: 600;
//     font-size: 15px;
//     color: $light-gray-sum-btn;
//     z-index: 20;
// }
// &:after {
//     content: "";
//     background: url("~images/auth-form/bg-line-label-input.svg");
//     width: 66px;
//     height: 2px;
//     position: absolute;
//     top: -2px;
//     left: 4px;
//     z-index: 10;
// }





