
.ds-popover {
    display: flex;
    flex-direction: column;
    position: relative;
    height: auto;
    max-height: 0;
    background-color: $filter-modal-bg-color;
    border-radius: 5px;
    box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
    padding: 15px;
    transition: all .5s ease;
    visibility: hidden;
    opacity: 0;
    z-index: 999;
    &:before {
        content: "";
        position: absolute;
        display: flex;
        width: 8px;
        height: 8px;
        background: url('~images/active_custom_card/triangle-modal.svg') center / cover;
        top: -6px;
        right: 15px;

    }
    &.is-visible {
        max-height: 1000px;
        visibility: visible;
        transition: all .5s ease;
        opacity: 1;
    }      
}





