
.ds-popover {
    display: flex;
    flex-direction: column;
    position: relative;
    // width: 154px;
    height: auto;
    background-color: $filter-modal-bg-color;
    border-radius: 5px;
    box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
    padding: 15px;
    transition: .3s ease-in-out;
    z-index: 999;
    &:before {
        content: "";
        position: absolute;
        display: flex;
        width: 8px;
        height: 8px;
        background: url('~images/active_custom_card/triangle-modal.svg') center / cover;
        top: -6px;
        right: 15px;

    }
    .input-wrap {
        transition: all .3s ease-in-out;
    }
    input {
        display: none;
    }
    input:checked + label {
        &:after, &:before {
            visibility: visible;
        }
    }       
}
@media (max-width: 992px) {
    .ds-popover {
        display: none;
    }
}




