.container-sorting {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    &.is-active {
        //Example: open popover
    }
    &.is-selected {
        .btn-sorting {
            &:before {
                display: flex;
            }
            &__selected-position {
                display: flex;
                &_mobile {
                    display: none;
                }
            }
        }
    }
}
.btn-sorting {
    display: flex;
    flex-direction: row;
    position: relative;
    &:hover {
        color: $color-primary;
        cursor: pointer;
        &:after {
            background: url("~images/active_custom_card/arrow-point-to-down-hover.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }
    //Галочка слева, при выбранной позиции
    &:before {
        content: "";
        display: none;
        width: 10px;
        height: 8px;
        background-image: url("~images/active_custom_card/checked.svg");
        position: absolute;
        top: 5px;
        left: -15px;
    }
    //Треугольник справа
    &:after {
        content: "";
        position: absolute;
        display: flex;
        width: 8px;
        height: 8px;
        top: 6px;
        right: -10px;
        background: url("~images/active_custom_card/arrow-point-to-down.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        opacity: 0.6;               
        cursor: pointer;
    }
    // Название элемента сортировки 
    &__filter-name {
        display: flex;
        white-space: nowrap;
        margin-right: 5px;
    }
    //Выбранная позиция(span)
    &__selected-position {
        display: none;
        //Выбранная позиция(span), отображаемая только на планшетах и телефонах
        &_mobile {
            display: none;
            margin-left: 10px;
            font-size: 10px;
            color: $light-gray-color;
        }
    }
}

@media ( max-width: 992px ) {
    .container-sorting {
        &.is-selected {
            .btn-sorting {
                &__selected-position {
                    display: none;
                    &_mobile {
                        display: flex;
                    }
                }
                
            }
        }
    }
}
