.statusbar {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    height: 18px;
    border: 1px solid $color-primary;
    border-radius: 15px;
    font-size: 10px;
    font-weight: 600;
    color: $statusbar_empty-color-txt;  
    &__line {
        @extend .statusbar;
        padding-left: 7px;
        background: $color-primary;        
        span {
            margin: 0 3px;
        }
    }
    &_middle {
        height: 25px;
    }
    &_large {
        height: 30px;
    }
}
.statusbar.is-filled {
    background: $statusbar_filled-color-bg;
    border: none;
    color: $statusbar-color-txt;
    .statusbar__line { 
        height: 100%;       
        color: #fff;
        transition: width .3s;
    }
    
}

