
.ds-slider {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 55px;
	background: #edf5fa;
	.btn-l, .btn-r {
		display: flex;
		width: 25px;
		cursor: pointer;
		img {			
			margin: 10px auto 0 auto;
		}
		&:hover {
			background: #daebf5;
		}		
	}
	.btn-r {
		img {
			transform: rotate(180deg);
		}
	}	
	.slider-viewing {
		display: flex;
		flex-direction: column;
		position: relative;
		overflow: hidden;
		p {
			margin: 0;
			margin-bottom: 10px;
			font-size: 12px;
			font-weight: 600;
		}	
	}	
	.slider-wrap {
		display: flex;
		flex-direction: row;
		max-width: 400px;
		transform: translateX(-20px);
		transition: transform .3s ease;
		.slider-items {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			max-height: 15px;
			margin-right: 40px;
			font-size: 12px;
			white-space: nowrap;
			a {
				font-size: 14px;
				font-weight: 700;
				text-decoration: none;
				color: $sky-blue-color;
			}
		}
	}
}
