.simulator-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 450px;
    min-width: 450px;
    height: 845px;
    margin: auto;
    padding: 0 0 0 10px;
    position: relative;
    border: 10px solid black;
    border-radius: 40px;
    border-left: 15px solid black;
    background: #000;
    &::after {
        content: "";
        width: 100px;
        height: 40px;
        border: 1px solid silver;
        border-radius: 20px;
        position: absolute;
        bottom: 10px;
        left: 157px;
    }
    &::before {
        content: "";
        width: 100px;
        height: 5px;
        border: 1px solid silver;
        border-radius: 20px;
        position: absolute;
        top: 20px;
        left: 157px;
    }


    &__content {
        display: block;
        overflow-y: auto;
        height: 685px;
        width: 100%;
        border: 1px solid black;
        &::after {
            content: "";
            height: 800px;
            width: 15px;
            background: #000;
            position: absolute;
            right: 0;
            top: 10px;
        }
    }
    .error-pages {
        padding: 0 15px;
    }
    .header-touch {
        position: sticky;
    }
    .footer {
        &__advantage {
            flex-wrap: wrap;
        }
    }
}


