.simulator-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 450px;
    min-width: 450px;
    height: 845px;
    margin: auto;
    position: relative;

    &__content {
        display: block;
        overflow-y: auto;
        height: 685px;
        width: 370px;
        margin-left: 20px;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: url("~images/iphone/iphone.png");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            z-index: 56;
        }
    }
    .error-pages {
        padding: 0 15px;
    }
    .header-touch {
        position: sticky;
    }
    .footer {
        &__advantage {
            flex-wrap: wrap;
        }
    }
}


