
.header-wrap-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 25px;
    background: $card-color-bg;

    //Опции:
    &_tablet, &_mobile {
        .header-wrap-card__container-switcher {
            display: flex;
            width: 100%;
        }
        .header-wrap-card__switcher-desktop {
            display: none;
        }  
    }
    &_mobile {
        .header-wrap-card__container-switcher {
            .header-wrap-card__switcher-name {
                order: 1;
                margin-right: 10px;
            }
            .switcher__label {
                order: 2;
            }
    
        }
    }
    &__tabs {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        background: $card-color-bg;
        font-size: 13px;
        color: #000;
        border-top: 1px solid transparent;
        border-bottom: 2px solid $bg-wrapper-card-color;
    }
    &__tab {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 45px;
        padding: 15px 0;
        margin-right: 80px;
        cursor: pointer;
        &.is-selected {
            color: $color-primary;
            font-weight: 600;
        }
        &:hover {
            color: $color-primary;
        }
    }
    &__sort {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
        width: 100%;
        background: #fff;
        padding: 5px 0px;
        &-container {
            display: flex;
            flex-direction: row;
            align-items: center;            
            width: 70%;
        }
        .filter-name {
            display: flex;
            white-space: nowrap;
            margin-right: 5px;
        }
    }
    &__container-sorting {
        display: flex;
        margin-top: 2px;
    }
    &__container-switcher {
        display: none;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        height: 40px;
        background: $bg-wrapper-card-color;
    }
    &__sorting {
        margin-right: 100px;
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 12px;
        font-weight: 600;
        color: $sorting-color;
    }
    &__switcher {
        margin-right: 10px;
        &-name {
            margin-left: 10px;
            font-size: 12px;
            color: $light-gray-color;
        }
        input:checked ~ .wrapper-card__switcher-name {
            color: $color-primary;
        }
    }
    &__alert-info {
        display: none;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 100%;
        margin-top: 20px;
        background: $bg-wrapper-card-color;
        &.is-visible {
            display: flex;
        }
    }
}






