.short-rules-page {
    p {
        margin: 0;
    }

    h4 {
        color: $color-text-heading;
    }

    .tooltip {
        min-width: 215px;
        font-size: 11px;
    }

    &__row {
        display: flex;
        width: 100%;
        &.ds-space-between {
            justify-content: space-between;
        }        
    }

    .collapse-block {
        &.save-wholesale {
            @media (max-width: 767px) {
                .collapse-block__header {
                    padding: 0 15px;
                }
                &.collapse-block {
                    padding: 20px 0px;
                }
            }
            }
        &.purchase-process {
            // .collapse-block__header {
            //     @media (max-width: 767px) {
            //         padding: 0 15px;
            //     }
            // }
            .collapse-block__content {
                @media (max-width: 767px) {
                    padding: 0 10px;
                }                
            }
            h4 {
                @media (max-width: 767px) {
                    margin-left: 5px;
                }
            }
            .short-rules-page__txt {
                margin: 0 5px;
            } 
        }
        @media (max-width: 767px) {
            padding: 20px 15px;
            .arrow {
                top: 12px;
                right: 5px;
            }
        }
    }
    // Убираем переносы в мобилке
    br {
        @media (max-width: 768px) {
            display: none;
        }
    }


    &__main-heading {
        width: 100%;  
        margin: 0 0 40px 0;    
        text-align: center;
        font-size: 24px;
        font-weight: 600;
        color: $color-text-heading;
    }

    &__card-heading {
        padding: 0 20px 0 0;
        font-size: 20px;
        color: $color-text-heading;
        font-weight: 600;
        @media (max-width: 767px) {
            font-size: 16px;
        }
    }

    &__txt {
        font-size: 14px;
        color: $color-text-base;
        line-height: 24px;
        span {
            font-size: 12px;
            color: $color-text-base;
        }
    }

    ol {
        padding: 0 0 0 20px;
        color: $color-text-base;
        li {
            margin: 5px 0;
            line-height: 24px;
        }
    }
    &__purchase-process {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @media (max-width: 370px) {
            .collapse-block__content {
                padding: 0;
            }
        }
    }

    &__purchase-icon-wrapper {
        display: flex;        
        margin: 14px 0;
        @media (max-width: 767px) {
            flex-wrap: wrap;
        }
    }

    &__purchase-icon-block {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        // .icon-arrow-line-right {
        //     margin: 10px 20px 0;
        //     font-size: 32px;
        //     color: $color-primary;
        // }
        @media (max-width: 767px) {
            min-width: 126px;
        }
    }
    &__arrow-right {
        padding: 10px 0 0 0;
        .icon-arrow-line-right {
            margin: 10px 20px 0;
            font-size: 32px;
            color: $color-primary;
            @media (max-width: 767px) {
                margin: 0;
            }
            @media (min-width: 768px) and (max-width: 1024px){
                margin: 0 3px 0;
            }
        }
        @media (max-width: 400px) {
            &.mobile {
                transform: translateX(-20px);
                -webkit-transform: translateX(-20px);
                -moz-transform: translateX(-20px);
                -ms-transform: translateX(-20px);
                -o-transform: translateX(-20px);
            }
        }
        @media (max-width: 370px) {
            position: absolute;
            &.arrow-1,
            &.arrow-3 {
                left: 140px;
            }
            &.arrow-2,
            &.arrow-4 {
                right: -5px;
            }

        }
    }
    &__purchase-icon {
        width: 90px;
        height: 65px;
        margin: 0 auto;
        text-align: center;
        .ds-icon {
            font-size: 56px;
            color: $color-primary;
        }
        .icon-car {
            font-size: 46px;
        }
    }
    &__purchase-icon-name {
        margin: 15px 0 10px 0;
        color: $color-text-heading;
        white-space: nowrap;
        @media (max-width: 767px) {
            text-align: center;
        }

    }
    &__purchase-process-list {
        margin-bottom: 20px;
    }

    // Мы сохраняем для вас...
    &__save-wholesale {
        display: flex;
        flex-direction: column;
        margin: 5px 0 0;
        @media (max-width: 1024px) {
            flex-wrap: wrap;
        }       

    }

    &__total-cost {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        h4 {
            margin: 17px 0 38px 0;
            @media (max-width: 767px) {
                margin: 17px 0 0 0;
                font-size: 14px;
            }
        }
        .short-rules-page__row {
            @media (max-width: 767px) {
                flex-wrap: wrap;
            }
            @media (min-width: 768px) and (max-width: 1024px) {
                justify-content: space-around;
            }        
        }
        @media (max-width:767px) {
            margin-bottom: 15px;
        }
        @media (min-width: 768px) and (max-width: 1024px) {
            max-width: 100%;
        }
    }

    &__total-cost-wrap {
        display: flex;
        @media (max-width:767px) {
            flex-direction: column;
        }

    }

    &__total-cost,
    &__possible-costs {
        h4 {
            width: 100%;
            font-size: 18px;
            color: $color-text-heading;
        }
        background: rgba(54, 166, 242, 0.15);
    }
    &__total-cost {
        h4 {
            text-align: center;
        }
    }

    &__wholesale-price,
    &__org-collection,
    &__delivery-type {
        display: flex;
        flex-direction: column;
        @media (max-width: 767px) {
            max-width: 100%;
        }
    }

    &__wholesale-price {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 155px;
        margin: 25px 80px 0 0;
        padding: 0 0 60px 0;
        position: relative;
        .short-rules-page__block-wrap {
            display: flex; 
            justify-content: center;
            width: 100%;
            margin: 0 0 25px 0;
            @media (max-width: 767px) {
                margin: 0 0 13px 0;
            }           
        }
        p {
            font-size: 18px;
            font-weight: 700;
            color: $color-text-heading;
            &:first-child {
                position: relative;
                &:after {
                    content: "";
                    display: block;
                    width: 105px;
                    height: 3px;
                    position: absolute;
                    background: $color-primary;
                    bottom: 50%;
                    left: -9px;
                    transform: rotate(-15deg);
                    
                }
            }
        }
        .short-rules-page__new-price {
            font-size: 16px;            
            color: $color-primary;
        }
        .short-rules-page__txt {
            color: $color-text-heading;
            &:first-child {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            &:last-child {
                line-height: 22px;
            }
            span {
                display: inline-block;
                text-align: center;
                line-height: 22px;
            }
        }
        @media (max-width: 767px) {
            margin: 25px 0 0 0;
            padding: 0 0 35px 0;
            br {
                display: none;
            }
        }
    }
    &__plus {
        display: flex;
        align-items: flex-end;
        font-size: 70px;
        position: absolute;
        bottom: 52%;
        right: -65px;
        span {
            display: flex;
        }
        @media (max-width: 767px) {
            display: none;
        }
        @media (min-width: 768px) and (max-width: 1024px) {
            right: -60px;
        }
    }

    //
    &__org-collection {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        max-width: 200px;
        padding: 0 0 60px 0;
        margin: 4px 30px 0 0;
        .short-rules-page__txt {
            white-space: nowrap;
            color: $color-text-heading;
            line-height: 30px;
        }
        @media (max-width: 767px) {
            padding: 0 0 35px 0;
        }

    }
    &__org-collection-img {
        margin: 0 0 20px 0;
        @media (max-width: 767px) {
            margin: 0 0 10px 0;
        }
    }
    &__org-collection-interval {
        &.desktop {
            @media (max-width: 767px) {
                display: none;
            }
        }
        &.mobile {
            display: none;
            @media (max-width: 767px) {
                display: inline-block;
                margin: 0 0 0 5px;
            }
        }
    }

    //
    &__delivery-type {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        max-width: 260px;
        position: relative;

        .short-rules-page__txt {
            color: $color-text-heading;
            text-align: center;
            span {
                display: inline-block;
                white-space: nowrap;
            }
            &.span-wrap {
                margin: 10px 0 0 0;
                line-height: 15px;
                @media (max-width: 767px) {
                    max-width: 90%;
                }
            }

        }
        .short-rules-page__plus {
            left: -8px;
            bottom: 46%;
            @media (min-width: 870px) and (max-width: 1024px) {
                left: -50px;
            }
            @media (min-width: 768px) and (max-width: 870px) {
                left: -25px;
            }

        }
        @media (max-width: 767px) {
            margin: 0 0 30px 0;
        }


    }
    &__delivery-type-img {        
        margin: 0 0 20px 0;
        .desktop {
            @media (max-width: 767px) {
                display: none;
            }    
        }
        .mobile {
            display: none;
            @media (max-width: 767px) {
                display: block;
            }
    
        }
        @media (max-width: 767px) {
            margin: 0 0 13px 0;
        }    

    }

    //
    &__possible-costs {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 15px 0 0 0;
        padding: 20px 0;
        h4 {
            margin: 0px 0 15px 0;
            text-align: left;
            @media (min-width: 768px) and (max-width: 1024px) {
                margin: 17px 0 20px;
                text-align: left;
            }

        }
        p {
            font-size: 14px;
            color: $color-text-base;
        }

        .short-rules-page__possible-costs-icons {
            margin: 5px 0 0 0;
            @media (min-width: 768px) and (max-width: 1024px) {
                margin: 30px 0 0 0;
            }            
        }

        .short-rules-page__row {
            justify-content: space-around;
            margin: 0 0 10px 0;
        }
        .short-rules-page__col {
            display: flex;
            flex-direction: column;
            align-items: center;
            @media (min-width: 768px) and (max-width: 1024px) {
                align-items: flex-start;
                padding: 0 0 12px 0;
            }

        }

        .short-rules-page__txt {
            max-width: 470px;
            margin: 0 0 15px 0;
            text-align: left;
            line-height: 20px;
            
            @media (max-width: 1024px) {
               text-align: center;
            } 
            @media (min-width: 768px) and (max-width: 1024px) {
                max-width: 340px;
                text-align: left;
            }
               
        }


        .icon-car {
            margin: 0 0 0 8px;
            font-size: 45px;
            color: $color-primary;
        }

        img {
            margin: 0 20px 0 0;
        }

        .short-rules-page__block-wrap {
            display: flex;
            justify-content: center;
            flex-wrap: nowrap;
            width: 100%;
            padding: 0 0 20px 30px;
            p {
                color: $color-text-heading;
                &:first-child {
                    max-width: 100px;
                    margin: 0 15px 0 0;
                }
                &:last-child {
                    max-width: 166px;
                }
            }
        }
        @media (max-width: 767px) {
            flex-direction: column;
            width: 100%;
            max-width: 100%;
            margin: 0;
            padding: 20px 10px;
            h4 {
                text-align: center;
            }
            .icon-car {
                margin: 0;
            }
            .short-rules-page__block-wrap {
                padding: 0 0 20px 20px;
            }
            br {
                display: none;
            }
        }
        @media (min-width: 768px) and (max-width: 1024px) {
            flex-direction: row;
            width: 100%;
            max-width: 100%;
            margin: 20px 0 0 0;
            padding: 0 8px 0 25px;
            justify-content: space-around;
            .short-rules-page__block-wrap {
                padding: 0 0 20px 20px;
            }
            .icon-car {
                margin: 0;
            }

        }
    }

    // Условия закупки
    &__purchase-terms {
        .short-rules-page__card-content {
            max-width: 777px;
            p {
                margin: 0 0 5px 0;
                &:first-child {
                    margin: 7px 0 25px 0;
                }
            }
        }
    }

    .no-click {
        font-size: 14px;
        text-decoration: none;
        color: $color-primary;
    }    

}


