@import "~fonts/icomoon/style";
// в файле style.css оставляем только символы (кодировки) иконок

// здесь ничего не меняем
@font-face {
    font-family: "icomoon-ds";
    src: url("~fonts/icomoon/fonts/icomoon-ds.eot");
    src: url("~fonts/icomoon/fonts/icomoon-ds.eot") format("embedded-opentype"),
        url("~fonts/icomoon/fonts/icomoon-ds.woff") format("woff"),
        url("~fonts/icomoon/fonts/icomoon-ds.ttf") format("truetype"),
        url("~fonts/icomoon/fonts/icomoon-ds.svg") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.ds-icon,
.ds-icon:before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "icomoon-ds" !important;
    cursor: pointer;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-info {
    color: $color-primary;
    font-size: 14px;
}
