@import "~fonts/icomoon/variables";

.icon-box {
  &:before {
    content: $icon-box; 
  }
}
.icon-calendar-zero {
  &:before {
    content: $icon-calendar-zero; 
  }
}
.icon-menu {
  &:before {
    content: $icon-menu; 
  }
}
.icon-stop {
  &:before {
    content: $icon-stop; 
  }
}
.icon-clip {
  &:before {
    content: $icon-clip; 
  }
}
.icon-edit-board {
  &:before {
    content: $icon-edit-board; 
  }
}
.icon-pencil {
  &:before {
    content: $icon-pencil; 
  }
}
.icon-rectangle {
  &:before {
    content: $icon-rectangle; 
  }
}
.icon-arrow-down {
  &:before {
    content: $icon-arrow-down; 
  }
}
.icon-arrow-up {
  &:before {
    content: $icon-arrow-up; 
  }
}
.icon-lock {
  &:before {
    content: $icon-lock; 
  }
}
.icon-lock-open {
  &:before {
    content: $icon-lock-open; 
  }
}
.icon-account {
  &:before {
    content: $icon-account; 
  }
}
.icon-arrow-left {
  &:before {
    content: $icon-arrow-left; 
  }
}
.icon-arrow-line-left {
  &:before {
    content: $icon-arrow-line-left; 
  }
}
.icon-arrow-line-right {
  &:before {
    content: $icon-arrow-line-right; 
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right; 
  }
}
.icon-boxes {
  &:before {
    content: $icon-boxes; 
  }
}
.icon-burger {
  &:before {
    content: $icon-burger; 
  }
}
.icon-calendar {
  &:before {
    content: $icon-calendar; 
  }
}
.icon-car {
  &:before {
    content: $icon-car; 
  }
}
.icon-cart {
  &:before {
    content: $icon-cart; 
  }
}
.icon-close {
  &:before {
    content: $icon-close; 
  }
}
.icon-cols {
  &:before {
    content: $icon-cols; 
  }
}
.icon-cols-sm {
  &:before {
    content: $icon-cols-sm; 
  }
}
.icon-eye {
  &:before {
    content: $icon-eye; 
  }
}
.icon-hand-slide {
  &:before {
    content: $icon-hand-slide; 
  }
}
.icon-heart {
  &:before {
    content: $icon-heart; 
  }
}
.icon-heart-bold {
  &:before {
    content: $icon-heart-bold; 
  }
}
.icon-heart-filled {
  &:before {
    content: $icon-heart-filled; 
  }
}
.icon-info {
  &:before {
    content: $icon-info; 
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram; 
  }
}
.icon-magnifying-glass {
  &:before {
    content: $icon-magnifying-glass; 
  }
}
.icon-map-mark {
  &:before {
    content: $icon-map-mark; 
  }
}
.icon-ok {
  &:before {
    content: $icon-ok; 
  }
}
.icon-rows {
  &:before {
    content: $icon-rows; 
  }
}
.icon-ruble {
  &:before {
    content: $icon-ruble; 
  }
}
.icon-sandglass {
  &:before {
    content: $icon-sandglass; 
  }
}
.icon-sort {
  &:before {
    content: $icon-sort; 
  }
}
.icon-sqrt {
  &:before {
    content: $icon-sqrt; 
  }
}
.icon-star {
  &:before {
    content: $icon-star; 
  }
}
.icon-vk {
  &:before {
    content: $icon-vk; 
  }
}

