@import "~fonts/icomoon/variables";

.icon-pickup-address::before {
    content: "\e947";
}

.icon-copy::before {
    content: "\e946";
}

.icon-exclamation-triangle .path1::before {
    content: "\e942";
    color: rgb(255, 101, 101);
}

.icon-exclamation-triangle .path2::before {
    content: "\e943";
    margin-left: -1.0908203125em;
    color: rgb(255, 255, 255);
}

.icon-soon-stop .path1::before {
    content: "\e944";
    color: rgb(255, 178, 28);
}

.icon-soon-stop .path2::before {
    content: "\e945";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-trash::before {
    content: "\e902";
}

.icon-envelope-open::before {
    content: "\e903";
}

.icon-envelope::before {
    content: "\e904";
}

.icon-mega-star::before {
    content: "\e907";
}

.icon-fast-delivery::before {
    content: "\e93d";
}

.icon-phone::before {
    content: "\e93c";
}

.icon-map::before {
    content: "\e93b";
}

.icon-camera::before {
    content: "\e912";
}

.icon-check-in-checkbox::before {
    content: "\e93a";
}

.icon-closing::before {
    content: "\e939";
}

.icon-chart::before {
    content: "\e938";
}

.icon-order-history::before {
    content: "\e937";
}

.icon-question-mark::before {
    content: "\e936";
}

.icon-receipt::before {
    content: "\e934";
}

.icon-stop-sign::before {
    content: "\e935";
}

.icon-arrow-left-line::before {
    content: "\e932";
    color: #606266;
}

.icon-arrow-right-line::before {
    content: "\e933";
    color: #606266;
}

.icon-next-page::before {
    content: "\e931";
}

.icon-check-in::before {
    content: "\e930";
}

.icon-duck::before {
    content: "\e92f";
}

.icon-purchase-status-announ::before {
    content: "\e92e";
}

.icon-purchase-status-add-order::before {
    content: "\e92b";
}

.icon-purchase-status-edit::before {
    content: "\e92d";
}

.icon-mail-envelope::before {
    content: "\e908";
}

.icon-bell::before {
    content: "\e927";
}

.icon-box::before {
    content: "\e926";
}

.icon-calendar-zero::before {
    content: "\e925";
}

.icon-menu::before {
    content: "\e920";
}

.icon-stop::before {
    content: "\e91f";
}

.icon-clip::before {
    content: "\e91e";
}

.icon-edit-board::before {
    content: "\e900";
}

.icon-pencil::before {
    content: "\e901";
}

.icon-rectangle::before {
    content: "\e905";
}

.icon-arrow-down::before {
    content: "\e90a";
}

.icon-arrow-up::before {
    content: "\e90b";
}

.icon-lock::before {
    content: "\e90c";
}

.icon-lock-open::before {
    content: "\e90d";
}

.icon-account::before {
    content: "\e909";
}

.icon-arrow-left::before {
    content: "\e906";
}

.icon-arrow-line-left::before {
    content: "\e90e";
}

.icon-arrow-line-right::before {
    content: "\e90f";
}

.icon-arrow-right::before {
    content: "\e910";
}

.icon-boxes::before {
    content: "\e911";
}

.icon-burger::before {
    content: "\e913";
}

.icon-calendar::before {
    content: "\e924";
}

.icon-car::before {
    content: "\e928";
}

.icon-cart::before {
    content: "\e941";
}

.icon-cols::before {
    content: "\e940";
}

.icon-cols-sm::before {
    content: "\e914";
}

.icon-eye::before {
    content: "\e915";
}

.icon-hand-slide::before {
    content: "\e916";
}

.icon-heart::before {
    content: "\e917";
}

.icon-heart-bold::before {
    content: "\e918";
}

.icon-heart-filled::before {
    content: "\e919";
}

.icon-info::before {
    content: "\e91a";
}

.icon-instagram::before {
    content: "\e91b";
}

.icon-magnifying-glass::before {
    content: "\e91c";
}

.icon-map-mark::before {
    content: "\e91d";
}

.icon-ok::before {
    content: "\e921";
}

.icon-rows::before {
    content: "\e922";
}

.icon-ruble::before {
    content: "\e923";
}

.icon-sandglass::before {
    content: "\e929";
}

.icon-sort::before {
    content: "\e92a";
}

.icon-sqrt::before {
    content: "\e93e";
}

.icon-star::before {
    content: "\e93f";
}

.icon-vk::before {
    content: "\e92c";
}
