$icomoon-font-family: "icomoon-ds" !default;
$icomoon-font-path: "fonts" !default;

$icon-question-mark: "\e936";
$icon-stop-sign: "\e935";
$icon-receipt: "\e934";
$icon-arrow-right-line: "\e933";
$icon-arrow-left-line: "\e932";
$icon-arrow-back: "\e931";
$icon-check-in: "\e930";
$icon-duck: "\e92f";
$icon-purchase-status-edit: "\e92d";
$icon-purchase-status-add-order: "\e92b";
$icon-purchase-status-announ: "\e92e";
$icon-box: "\e926";
$icon-calendar-zero: "\e925";
$icon-menu: "\e920";
$icon-stop: "\e91f";
$icon-clip: "\e91e";
$icon-edit-board: "\e900";
$icon-pencil: "\e901";
$icon-rectangle: "\e902";
$icon-arrow-down: "\e90a";
$icon-arrow-up: "\e90b";
$icon-lock: "\e90c";
$icon-lock-open: "\e90d";
$icon-account: "\e903";
$icon-arrow-left: "\e904";
$icon-arrow-line-left: "\e905";
$icon-arrow-line-right: "\e906";
$icon-arrow-right: "\e907";
$icon-boxes: "\e909";
$icon-burger: "\e90e";
$icon-calendar: "\e90f";
$icon-car: "\e910";
$icon-cart: "\e911";
$icon-close: "\e912";
$icon-cols: "\e913";
$icon-cols-sm: "\e914";
$icon-eye: "\e915";
$icon-hand-slide: "\e916";
$icon-heart: "\e917";
$icon-heart-bold: "\e918";
$icon-heart-filled: "\e919";
$icon-info: "\e91a";
$icon-instagram: "\e91b";
$icon-magnifying-glass: "\e91c";
$icon-map-mark: "\e91d";
$icon-ok: "\e921";
$icon-rows: "\e922";
$icon-ruble: "\e923";
$icon-sandglass: "\e924";
$icon-sort: "\e928";
$icon-sqrt: "\e929";
$icon-star: "\e92a";
$icon-vk: "\e92c";

