<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Карточка товара горизонтальный режим</title>
    </head>
    <body>
        <div class="ds-wrapper">
            <div class="stock-card-horizontal">
                <div class="stock-card-horizontal__wrapper">
                    <div class="stock-card-horizontal__images-wrapper">
                        <button class="stock-card-horizontal__prev">
                            <i class="icon icon-arrow-left"></i>
                        </button>
                        <div class="stock-card-horizontal__images">
                            <a href="#">
                                <img src="~images/card.png" class="stock-card-horizontal__image is-active" />
                            </a>
                            <a href="#">
                                <img src="~images/card-2.png" class="stock-card-horizontal__image" />
                            </a>
                        </div>
                        <button class="stock-card-horizontal__next">
                            <i class="icon icon-arrow-right"></i>
                        </button>
                        <span class="stock-badge stock-badge_rows">рядами</span>
                        <span class="stock-badge stock-badge_already">заказали 102 раза</span>
                        <button class="add-to-favorite-circle stock-card-horizontal__favorite">
                            <i class="icon icon-heart"></i>
                            <i class="icon icon-heart-filled"></i>
                        </button>
                    </div>
                </div>
                <div class="stock-card-horizontal__body">
                    <div class="stock-card-horizontal__heading">
                        Утепленные зимние кроссовки с мехом кого угодно Merge
                    </div>
                    <div class="stock-card-horizontal__price-w">
                        <div class="stock-card-horizontal__price">1 800 <span>руб.</span></div>
                        <div class="stock-card-horizontal__fee">Орг. сбор 16%</div>
                    </div>
                    <div class="stock-card-horizontal__params-section">
                        <div class="stock-card-horizontal__params">
                            <div class="stock-card-horizontal__params-label">Цвет:</div>
                            <ul class="item-params-list stock-card-horizontal__params-list">
                                <li class="item-params-list__item">черный</li>
                                <li class="item-params-list__item">красный</li>
                                <li class="item-params-list__item">бежевый</li>
                                <li class="item-params-list__item">кремовый</li>
                                <li class="item-params-list__item">черный</li>
                                <li class="item-params-list__item">зеленый</li>
                                <li class="item-params-list__item">розовый</li>
                            </ul>
                            <button class="link link_hover stock-card-horizontal__expand">Скрыть/раскрыть</button>
                        </div>
                        <div class="stock-card-horizontal__params">
                            <div class="stock-card-horizontal__params-label">Размер:</div>
                            <ul class="item-params-list stock-card-horizontal__params-list">
                                <li class="item-params-list__item">36</li>
                                <li class="item-params-list__item">37</li>
                                <li class="item-params-list__item">38</li>
                                <li class="item-params-list__item">39</li>
                                <li class="item-params-list__item">40</li>
                                <li class="item-params-list__item">40</li>
                                <li class="item-params-list__item">Большой</li>
                                <li class="item-params-list__item">XL</li>
                                <li class="item-params-list__item">L</li>
                                <li class="item-params-list__item">S</li>
                                <li class="item-params-list__item">40</li>
                                <li class="item-params-list__item">Большой</li>
                                <li class="item-params-list__item">36</li>
                                <li class="item-params-list__item">37</li>
                                <li class="item-params-list__item">38</li>
                                <li class="item-params-list__item">39</li>
                                <li class="item-params-list__item">40</li>
                                <li class="item-params-list__item">40</li>
                                <li class="item-params-list__item">Большой</li>
                                <li class="item-params-list__item">XL</li>
                                <li class="item-params-list__item">L</li>
                            </ul>
                            <button class="link link_hover stock-card-horizontal__expand">Скрыть/раскрыть</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
