<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Баннер "Хиты продаж"</title>
</head>
<body>
        
    <h1 class="ds-title">Баннер "Хиты продаж"</h1>
    <div class="ds-wrapper">
        <div class="ds-divider ds-center">
            <div class="stock-banner-hits">
                <div class="stock-banner-hits__img">
                    <div class="img-container_resp"><img src="~images/banner.png" alt=""></div>
                </div>
                <div class="stock-banner-hits__txt">
                    <p>Dimma fashion studio. Распродажа. Модный бренд 
                        для мам</p>
                </div>
            </div>
        </div>
    </div>

    <div class="ds-code-wrapper">
        <script type="text/plain" class="language-markup">
            <div class="stock-banner-hits">
                <div class="stock-banner-hits__img">
                    <div class="img-container_resp"><img src="~images/banner.png" alt="Car"></div>
                </div>
                <div class="stock-banner-hits__txt">
                    <p>Dimma fashion studio. Распродажа. Модный бренд 
                        для мам</p>
                </div>
            </div>
        </script>
    </div>
   


</body>
</html>