.spui-Rating {
    $parent: &;

    display: inline-flex;
    cursor: default;
    align-items: baseline;
    color: #ffb21c;
    font-family: 'Open-sans', sans-serif;

    &__icon {
        font-size: 12px;
        color: inherit;
        cursor: inherit;

        &::before {
            cursor: inherit;
        }
    }

    &__text {
        font-weight: 700;
        color: inherit;
        font-size: 14px;
    }

    &.icon-pos-right {
        #{$parent}__icon {
            margin-left: 5px;
        }
    }

    &.icon-pos-left {
        #{$parent}__icon {
            margin-right: 5px;
        }
    }
}
