// Цвета для текста

// Небесный
.txt-primary-color {
    color: $color-primary!important;
}
// Основной
.txt-color-text-base {
    color: $color-text-base!important;
}
// Светло-серый
.txt-color-text-light-grey {
    color: $color-text-light-grey!important;
}
// Для заголовка
.txt-color-text-heading {
    color: $color-text-heading!important;
}
// Неактивное состояние
.txt-color-inactive {
    color: $color-inactive!important;
}
.txt-color-white {
    color: #FFFFFF;
}

// Цвета заливки

// Небесный
.bg-primary-color {
    background-color: $color-primary!important;
}
// Основной
.bg-color-text-base {
    background-color: $color-text-base!important;
}
// Светло-серый
.bg-color-text-light-grey {
    background-color: $color-text-light-grey!important;
}
// Для заголовка
.bg-color-text-heading {
    background-color: $color-text-heading!important;
}
// Неактивное состояние
.bg-color-inactive {
    background-color: $color-inactive!important;
}
.bg-color-color-primary {
    background-color: #fff;
}


// html
body {
    background: url("~images/main-colors/bg-main-colors.jpg");

}
.ds-title {
    background-color: rgba(255,255,255, 0.7);
}
.ds-wrapper {
    background-color: rgba(255,255,255, 0.9);
    border-radius: 15px;
}
.color-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.color-block {
    display: flex;
    width: 100%;
    margin: 10px auto;
    padding: 5px 10px;
    border-radius: 15px;
    border: 1px solid $color-primary;
    &__txt {
        font-weight: 600;
    }
}


