/****VARIABLES*****/
/****FONTS*****/
$font-primary: "Open Sans", sans-serif;
$font-size-primary-text: 14px;
$font-weight-primary: 400;

/****COLORS*****/
$color-primary: #36a6f2;
$color-text-base: #606266;

/****TRANSITION*****/
$transition-primary: 0.3s ease-in-out;
$transition-medium: 0.4s ease-in-out;
$transition-slow: 0.5s ease-in-out;

// BACKGROUND-COLORS
$background-color-primary: #ffffff;



// Общие точки медиа запросов
$desctop: 1024px;
$tablet: 768px;
$mobile: 480px;


/****COLORS*****/
$color-primary: #318CCA;
$statusbar_empty-color-txt: #1F5F8A;
$statusbar-color-txt: #fff;
$statusbar_filled-color-bg: rgba(49, 140, 202, 0.5);

//active-custom
$card-color-bg: #fff;
$org-name-color: #0099FF;
$sky-blue-color: #4195CE;
$dark-grey-color: #4B4B4B;
$light-gray-color: #858585;
$bg-wrapper-card-color: rgba(49, 140, 202, 0.1);
$click-load-color: #36A5F2;
$filter-modal-bg-color: #e0eef7;

