@import "~styles/utils/_variables";
@import "~styles/utils/_mixins";

// Здесь находятся вспомогательные классы, состояния и элементы

// жирный шрифт
.bold {
    font-weight: 700;
}

// полужирный шрифт
.semi-bold {
    font-weight: 600;
}

// обычный шрифт
.normal {
    font-weight: normal;
}

// легкий шрифт
.light {
    font-weight: 300;
}

.w-100 {
    width: 100%;
}

.w-75 {
    width: 75%;
}

.w-50 {
    width: 50%;
}

.w-25 {
    width: 25%;
}

.ta-c {
    text-align: center;
}

// вешается на body чтобы предотвращать пролистывание
.disable-scroll {
    overflow: hidden;
}

.disable-transition {
    * {
        transition: unset !important;
    }
}

// скрывает элементы предназначенные только для сенсорных устройств
@media screen and (min-width: $desctop) {
    .touch-only {
        display: none;
    }
}
