@import "~styles/utils/_variables";
@import "~styles/utils/_mixins";

// Здесь находятся вспомогательные классы, состояния и элементы

// полужирный шрифт
.semi-bold {
    font-weight: 600;
}

// жирный шрифт
.bold {
    font-weight: 700;
}

// обычный шрифт
.normal {
    font-weight: normal;
}

.light {
    font-weight: 300;
}

// вешается на body чтобы предотвращать пролистывание
.disable-scroll {
    overflow: hidden;
}

// скрывает элементы предназначенные только для сенсорных устройств
@media screen and (min-width: $desctop) {
    .touch-only {
        display: none;
    }
}
