@import "~styles/utils/_variables";
@import "~styles/utils/_mixins";

// Общее
body {
    font-family: $font-primary;
    font-size: 14px;
    padding: 0;
    background: white;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

.wrapper {
    max-width: 1160px;
    margin: 0 auto;
    padding: 20px;
}

.wrapper-header,
.wrapper-footer {
    max-width: 1199px;
    margin: 0 auto;
}

// Здесь находятся вспомогательные классы, состояния и элементы

// жирный шрифт
.bold {
    font-weight: 700;
}

// полужирный шрифт
.semi-bold {
    font-weight: 600;
}

// обычный шрифт
.normal {
    font-weight: normal;
}

// легкий шрифт
.light {
    font-weight: 300;
}

.w-100 {
    width: 100%;
}

.w-75 {
    width: 75%;
}

.w-50 {
    width: 50%;
}

.w-25 {
    width: 25%;
}

.ta-c {
    text-align: center;
}

// вешается на body чтобы предотвращать пролистывание
.disable-scroll {
    overflow: hidden;
}

.disable-transition {
    * {
        transition: unset !important;
    }
}

// базовая кнопка, сброс стилей
button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: unset;
    display: inline-flex;
    align-items: center;
    color: inherit;
    justify-content: center;
    -moz-appearance: none;
    -webkit-appearance: none;
    &:focus {
        outline: none;
    }
}

// скрывает элементы предназначенные только для сенсорных устройств
@media screen and (min-width: $desctop) {
    .touch-only {
        display: none;
    }
}
