.item-page-modal-over {
    text-align: center;

    .ds-btn {
        font-weight: bold;
        font-size: 14px;
        min-height: 40px;

        i {
            margin-left: 10px;
            font-size: 20px;
        }
    }

    &__text {
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        color: #000;
        margin-bottom: 17px;
    }

    .modal__wrap {
        max-width: 320px;
    }

    .modal__header {
        font-weight: 600;
        font-size: 16px;
        line-height: 16px;
        text-align: center;
        color: #000;
        margin-bottom: 25px;
    }
}
