<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Активные закупки</title>
</head>

<body style="background: #fff;">
    <h1 class="ds-title">Страница активных закупок десктоп</h1>
    <!-- Страница активных закупок -->
    <div class="pac" style="max-width: 1152px; margin: 0 auto;">
        <!-- шапка под десктоп -->
        <div class="header-desctop">
            <div class="header-desctop__row">
                <div class="support-info header-desctop__col">
                    <a class="support-info__tel" href="tel:+78007006301">8 (800) 700-63-01</a>
                    <span class="support-info__hours">8:00 - 20:00</span>
                    <i class="icon icon-info support-info__icon has-tooltip">
                        <span class="tooltip  support-info__tooltip">Если у вас возникли
                            проблемы с регистрацией или входом на форум - пишите на адрес
                            службы поддержки
                            <a class="link link_colored bold"
                                href="mailto:support@63pokupki.ru">support@63pokupki.ru</a>
                        </span>
                    </i>
                </div>
                <nav class="header-desctop__col header-desctop__links-eq">
                    <a class="link semi-bold link_is-highlighted" href="#">Помощь</a>
                    <a class="link semi-bold" href="#">Доставка</a>
                    <a class="link semi-bold" href="#">Пункты выдачи</a>
                </nav>
                <nav class="header-desctop__col header-desctop__links-diff">
                    <a class="link semi-bold" href="#">Пристрой</a>
                    <a class="link semi-bold" href="#">Бренды</a>
                    <a class="link semi-bold" href="#">Форум</a>
                </nav>
            </div>
            <div class="header-desctop__row">
                <!-- логотип -->
                <div class="logo header-desctop__logo">
                    <a class="logo__link" href="#">
                        <img class="logo__img" src="~images/logotype.svg" />
                    </a>
                </div>
                <!-- блок поиска -->
                <div class="search has-categories header-desctop__search">
                    <!-- строка поиска -->
                    <input class="search__bar" type="text" placeholder="Поиск" />
                    <!-- кнопка поиска -->
                    <button class="btn search__button">
                        <img class="btn__icon" src="~images/search.svg" />
                    </button>
                    <!-- блок выпадающей категории поиска -->
                    <div class="search__category">
                        <!-- добавить .search-category_expanded для раскрытия меню категорий -->
                        <div class="dropdown-fixed-list">
                            <!-- текущее значение -->
                            <span class="dropdown-fixed-list__current">По товарам</span>
                            <!-- лист всех значений -->
                            <ul class="dropdown-fixed-list__list">
                                <li class="dropdown-fixed-list__list-item">По товарам</li>
                                <li class="dropdown-fixed-list__list-item">По форуму</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="header-desctop__icons">
                    <a class="header-desctop__icon" href="#">
                        <div class="caption-icon">
                            <i class="icon icon-heart caption-icon__icon"></i>
                            <span href="#" class="caption-icon__text">Избранное</span>
                        </div>
                    </a>
                    <a class="header-desctop__icon" href="#">
                        <div class="caption-icon">
                            <i class="icon icon-account caption-icon__icon"></i>
                            <span href="#" class="caption-icon__text">Sergioels..</span>
                        </div>
                    </a>
                    <a class="header-desctop__icon" href="#">
                        <div class="caption-icon">
                            <i class="icon icon-calendar caption-icon__icon">
                                <span class="icon-calendar__notification-count">0</span>
                            </i>
                            <span href="#" class="caption-icon__text">Календарь</span>
                        </div>
                    </a>
                    <a class="header-desctop__icon" href="#">
                        <div class="caption-icon">
                            <i class="icon icon-cart caption-icon__icon"></i>
                            <span href="#" class="caption-icon__text">Корзина</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <!-- Горизонтальное меню -->
        <nav class="pac__categories-bar categories-bar">
            <button class="menu-btn categories-bar__button">
                <i class="icon icon-burger menu-btn__icon"></i>
                <span class="menu-btn__text bold">Все закупки</span>
            </button>
            <ul class="categories-bar__list">
                <li class="categories-bar__item">
                    <a href="" class="link semi-bold">Одежда, обувь, акксесуары</a>
                </li>
                <li class="categories-bar__item">
                    <a href="" class="link semi-bold">Товары для детей</a>
                </li>
                <li class="categories-bar__item">
                    <a href="" class="link semi-bold">Косметика и парфюмерия</a>
                </li>
                <li class="categories-bar__item">
                    <a href="" class="link semi-bold">Спорт, отдых, здоровье</a>
                </li>
                <li class="categories-bar__item">
                    <a href="" class="link semi-bold">Сад и огород</a>
                </li>
            </ul>
        </nav>

        <!-- Хлебные крошки -->
        <div class="pac__breadcrumb">
            <nav class="breadcrumb">
                <ol class="breadcrumb__list">
                    <li class="breadcrumb__item">
                        <a class="link" href="#">Новые...</a>
                    </li>
                    <li class="breadcrumb__item">
                        <a class="link" href="#">Список...</a>
                    </li>
                    <!-- активная крошка имеет модификатор active -->
                    <li class="breadcrumb__item breadcrumb__item_active">
                        <a class="link" href="#">Цель</a>
                    </li>
                </ol>
            </nav>
        </div>

        <!-- Все категории(иконки) -->
        <div class="pac__all-categories">
            <h2>Все категории</h2>
            <!-- добавить модификатор slider_fading для затухания в конце -->
            <div class="slider-01 slider_fading">
                <!-- добавить класс is-inactive для скрытия кнопки -->
                <button class="slider-01__prev is-inactive">
                    <i class="icon icon-arrow-left"></i>
                </button>
                <!-- прокрутка зависит от значения left -->
                <div class="slider-01__body" style="left: 0%;">
                    <!-- добавить модификатор category-card-list_no-wrap для запрета переноса карточек -->
                    <div class="category-card-list category-card-list_no-wrap">
                        <a class="category-card category-card-list__item" href="#">
                            <svg class="category-card__icon">
                                <use xlink:href="#svg-cat-accessories-adult"></use>
                            </svg>
                            <span class="category-card__text">Длинный заголовок</span>
                        </a>
                        <a class="category-card category-card-list__item" href="#">
                            <svg class="category-card__icon">
                                <use xlink:href="#svg-cat-accessories-bags"></use>
                            </svg>
                            <span class="category-card__text">Еще более длинный заголовок</span>
                        </a>
                        <a class="category-card category-card-list__item" href="#">
                            <svg class="category-card__icon">
                                <use xlink:href="#svg-cat-accessories-bags2"></use>
                            </svg>
                            <span class="category-card__text">Короткий</span>
                        </a>
                        <a class="category-card category-card-list__item" href="#">
                            <svg class="category-card__icon">
                                <use xlink:href="#svg-cat-accessories-bijouterie"></use>
                            </svg>
                            <span class="category-card__text">Снова длинный заголовок в карточке</span>
                        </a>
                        <a class="category-card category-card-list__item" href="#">
                            <svg class="category-card__icon">
                                <use xlink:href="#svg-cat-accessories-child"></use>
                            </svg>
                            <span class="category-card__text">Длинный заголовок</span>
                        </a>
                        <a class="category-card category-card-list__item" href="#">
                            <svg class="category-card__icon">
                                <use xlink:href="#svg-cat-accessories-glasses"></use>
                            </svg>
                            <span class="category-card__text">Еще более длинный заголовок</span>
                        </a>
                        <a class="category-card category-card-list__item" href="#">
                            <svg class="category-card__icon">
                                <use xlink:href="#svg-cat-accessories-jewelry"></use>
                            </svg>
                            <span class="category-card__text">Короткий</span>
                        </a>
                        <a class="category-card category-card-list__item" href="#">
                            <svg class="category-card__icon">
                                <use xlink:href="#svg-cat-accessories-woman-bags"></use>
                            </svg>
                            <span class="category-card__text">Снова длинный заголовок в карточке</span>
                        </a>
                    </div>
                    <!-- добавить модификатор category-card-list_no-wrap для запрета переноса карточек -->
                    <div class="category-card-list category-card-list_no-wrap">
                        <a class="category-card category-card-list__item" href="#">
                            <svg class="category-card__icon">
                                <use xlink:href="#svg-cat-child-underwear"></use>
                            </svg>
                            <span class="category-card__text">Короткий</span>
                        </a>
                        <a class="category-card category-card-list__item" href="#">
                            <svg class="category-card__icon">
                                <use xlink:href="#svg-cat-books-study"></use>
                            </svg>
                            <span class="category-card__text">Еще более длинный заголовок</span>
                        </a>
                        <a class="category-card category-card-list__item" href="#">
                            <svg class="category-card__icon">
                                <use xlink:href="#svg-cat-cosmetics-skin"></use>
                            </svg>
                            <span class="category-card__text">Длинный заголовок</span>
                        </a>
                        <a class="category-card category-card-list__item" href="#">
                            <svg class="category-card__icon">
                                <use xlink:href="#svg-cat-garden-decor"></use>
                            </svg>
                            <span class="category-card__text">Короткий</span>
                        </a>
                        <a class="category-card category-card-list__item" href="#">
                            <svg class="category-card__icon">
                                <use xlink:href="#svg-cat-hobby-scrap"></use>
                            </svg>
                            <span class="category-card__text">Снова длинный заголовок в карточке</span>
                        </a>
                        <a class="category-card category-card-list__item" href="#">
                            <svg class="category-card__icon">
                                <use xlink:href="#svg-cat-sport-command"></use>
                            </svg>
                            <span class="category-card__text">Длинный заголовок</span>
                        </a>
                    </div>
                </div>
                <!-- добавить класс is-inactive для скрытия кнопки -->
                <button class="slider-01__next">
                    <i class="icon icon-arrow-right"></i>
                </button>
            </div>
        </div>

        <!-- Шапка обёртки карточек активных закупок -->
        <div class="header-wrap-card header-wrap-card_desktop">
            <div class="header-wrap-card__tabs">
                <!-- Чтобы сделать вкладку активной, необходимо добавить класс .is-selected, соответствующей вкладке -->
                <div class="header-wrap-card__tab header-wrap-card__tab_all is-selected">Все закупки</div>
                <!-- Если выбранна вкладка "header-wrap-card__tab_unseen", добавить класс .is-visible блоку
                            header-wrap-card__alert-info -->
                <div class="header-wrap-card__tab header-wrap-card__tab_unseen">Непросмотренные закупки
                </div>
            </div>
            <div class="header-wrap-card__sort">
                <div class="header-wrap-card__container-sorting">
                    <div class="header-wrap-card__sorting sorting">
                        <div class="sorting__btn">
                            <div id="btn_sorting" class="sorting__name">Сортировка по:</div>
                            <span class="sorting__selected-position">Позиция 1 на десктопе</span>
                            <!-- Всплывающая сортировка -->
                            <div class="ds-popover_sorting ds-popover">
                                <div class="checkbox_no-chx">
                                    <input class="checkbox__input" type="checkbox" id="chx-s-01" />
                                    <label class="checkbox__label" for="chx-s-01">дате добавления</label>
                                </div>
                                <div class="checkbox_no-chx">
                                    <input class="checkbox__input" type="checkbox" id="chx-s-02" />
                                    <label class="checkbox__label" for="chx-s-02">релевантности</label>
                                </div>
                                <div class="checkbox_no-chx">
                                    <input class="checkbox__input" type="checkbox" id="chx-s-03" />
                                    <label class="checkbox__label" for="chx-s-03">рейтингу закупки</label>
                                </div>
                                <div class="checkbox_no-chx">
                                    <input class="checkbox__input" type="checkbox" id="chx-s-04" />
                                    <label class="checkbox__label" for="chx-s-04">среднему сроку доставки</label>
                                </div>
                                <div class="checkbox_no-chx">
                                    <input class="checkbox__input" type="checkbox" id="chx-s-05" />
                                    <label class="checkbox__label" for="chx-s-05">собранности</label>
                                </div>
                                <div class="checkbox_no-chx">
                                    <input class="checkbox__input" type="checkbox" id="chx-s-06" />
                                    <label class="checkbox__label" for="chx-s-06">организатору</label>
                                </div>
                                <div class="checkbox_no-chx">
                                    <input class="checkbox__input" type="checkbox" id="chx-s-07" />
                                    <label class="checkbox__label" for="chx-s-07">рейтингу организатора</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="sorting_cont" class="header-wrap-card__sorting sorting">
                        <div class="sorting__btn">
                            <div id="btn_filter" class="sorting__name">Фильтр по тегу:</div>
                            <span class="sorting__selected-position">Позиция 1 на десктопе</span>
                            <!-- Всплывающий фильтр -->
                            <div class="ds-popover_filter ds-popover">
                                <div class="checkbox">
                                    <input class="checkbox__input" type="checkbox" id="chx-01" />
                                    <label class="checkbox__label" for="chx-01">топ закупки</label>
                                </div>
                                <div class="checkbox">
                                    <input class="checkbox__input" type="checkbox" id="chx-02" />
                                    <label class="checkbox__label" for="chx-02">распродажи</label>
                                </div>
                                <div class="checkbox">
                                    <input class="checkbox__input" type="checkbox" id="chx-03" />
                                    <label class="checkbox__label" for="chx-03">орг. сбор 0%</label>
                                </div>
                                <div class="checkbox">
                                    <input class="checkbox__input" type="checkbox" id="chx-04" />
                                    <label class="checkbox__label" for="chx-04">скоро стоп</label>
                                </div>
                                <div class="checkbox">
                                    <input class="checkbox__input" type="checkbox" id="chx-05" />
                                    <label class="checkbox__label" for="chx-05">конкурс</label>
                                </div>
                                <div class="checkbox">
                                    <input class="checkbox__input" type="checkbox" id="chx-06" />
                                    <label class="checkbox__label" for="chx-06">впервые на сайте</label>
                                </div>
                                <div class="checkbox">
                                    <input class="checkbox__input" type="checkbox" id="chx-07" />
                                    <label class="checkbox__label" for="chx-07">твары в пристрое</label>
                                </div>
                                <div class="checkbox">
                                    <input class="checkbox__input" type="checkbox" id="chx-08" />
                                    <label class="checkbox__label" for="chx-08">премиум</label>
                                </div>
                                <button class="ds-btn-f ds-btn-f_disabled">
                                    <div class="ds-btn__text">Применить</div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- "header-wrap-card__switcher-desktop нужен для скрытия
                                переключателя на экранах меньше десктопа -->
                <div class="header-wrap-card__switcher-desktop switcher">
                    <input class="switcher__checkbox" type="checkbox" name="" id="switcher">
                    <label class="switcher__label" for="switcher"></label>
                    <label class="header-wrap-card__switcher-name" for="switcher">Полный режим
                        отображения</label>
                </div>
            </div>
            <div class="header-wrap-card__container-switcher">
                <div class="header-wrap-card__switcher switcher">
                    <input class="switcher__checkbox" type="checkbox" name="" id="switcher">
                    <label class="switcher__label" for="switcher"></label>
                    <label class="header-wrap-card__switcher-name" for="switcher">Полный режим
                        отображения</label>
                </div>
            </div>
            <!-- Если выбрана вкладка "Непросмотренные закупки", отобразить этот блок -->
            <div class="header-wrap-card__alert-info">Здесь отображаются все закупки, которые вы еще не
                успели
                посмотреть.</div>
        </div>

        <!-- .wrapper-active-cards -->
        <div class="wrapper-active-cards">
            <!-- Карточки активных закупок -->
            <!-- Карточка активных закупок	DESKTOP -->
            <!-- Для раскрытия нижнего блока card-active-custom__toggle-block, добавить класс .is-toggle,
                    элементу  card-active-custom__wrap(лучше по клику на card-active-custom__header) -->
            <!-- Для отображения опциональных елементов блока подкатегорий, добавить класс .desktop-subcat
                    главному блоку  card-active-custom__wrap -->
            <div class="card-active-custom-desktop">
                <div class="card-active-custom-desktop__wrap">
                    <div class="card-active-custom-desktop__row">
                        <div class="card-active-custom-desktop__left">
                            <div class="card-active-custom-desktop__heading-wrap">
                                <h2 class="card-active-custom-desktop__heading">
                                    Фитосила - более тысячи товаров для здоровья
                                    <div class="card-active-custom-desktop__rating-star-org rating-star-org">
                                        <i class="icon icon-star"></i>
                                        <div class="rating-star-org__value">4.9</div>
                                    </div>
                                </h2>
                                <div class="card-active-custom-desktop__collection"><i class="icon icon-box"></i>Сбор с
                                    30.05.2019</div>
                            </div>
                        </div>
                        <div class="card-active-custom-desktop__right">
                            <div class="card-active-custom-desktop__status-block">
                                <div class="card-active-custom-desktop__statusbar">
                                    <div class="statusbar is-filled">
                                        <div class="statusbar__line" style="width: 25%">Собрано <span>0</span> из
                                            <span>15000</span> руб.
                                        </div>
                                    </div>
                                    <p class="card-active-custom-desktop__start-date-collection"><b>178</b> выкуп
                                        стартовал 25
                                        сентября</p>
                                </div>
                                <div class="card-active-custom-desktop__organizer-block organizer-block">
                                    <div class="organizer-block__name-wrap">
                                        <div class="organizer-block__name">
                                            <p data-full-name="Наталья Хозяинова">Наталья Хозяинова</p>
                                        </div>
                                        <div class="organizer-block__rating">
                                            <div class="rating-star-org">
                                                <i class="rating-star-org__icon icon icon-star"></i>
                                                <div class="rating-star-org__value">4.9</div>
                                            </div>
                                        </div>
                                    </div>
                                    <p>Орзанизатор</p>
                                </div>
                                <div class="card-active-custom-desktop__like like">
                                    <i class="like__icon icon icon-heart"></i>
                                    <div class="like__text">в избранном у <span>2000</span> людей</div>
                                </div>
                            </div>
                        </div>
                        <div class="card-active-custom-desktop__btn-block">
                            <button class="arrow arrow-down arrow_inverse arrow_transp">
                                <i class="icon icon-arrow-down"></i>
                            </button>
                        </div>
                    </div>
                    <!-- Toggle block -->
                    <div class="card-active-custom-desktop__row card-active-custom-desktop__toggle-block">
                        <div class="card-active-custom-desktop__left card-active-custom-desktop__img">
                            <div class="img-container_resp"><img src="~images/cac-img.png" alt="Car"></div>
                        </div>
                        <div class="card-active-custom-desktop__right card-active-custom-desktop__toggle-block-right">
                            <div class="card-active-custom-desktop__hashtags">
                                <a class="card-active-custom-desktop__hashtags-link" href="">#SALE</a>
                                <a class="card-active-custom-desktop__hashtags-link" href="">#TOP</a>
                                <a class="card-active-custom-desktop__hashtags-link" href="">#0%</a>
                            </div>
                            <div class="card-active-custom-desktop__description">
                                Добро пожаловать в закупку качественных и эффективных средств,
                                которые помогут Вам поправить, поддержать и укрепить здоровье.
                                Препараты от компании Фитосила - это только натуральные, естественные компоненты…
                            </div>
                            <div class="card-active-custom-desktop__toggle-status">
                                <div class="card-active-custom-desktop__delivery-time">
                                    <h5>Сроки поставки</h5>
                                    <p>Неизвестно</p>
                                </div>
                                <div class="card-active-custom-desktop__access-lvl">
                                    <h5>Уровень доступа</h5>
                                    <p>0</p>
                                </div>
                                <div class="card-active-custom-desktop__payment-method">
                                    <h5>Способ оплаты</h5>
                                    <p>Расчет. счёт</p>
                                </div>
                                <div class="card-active-custom-desktop__comments">
                                    <h5>Отзывы о закупке</h5>
                                    <a class="card-active-custom-desktop__comments-link" href="#"
                                        target="_blank">450</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-active-custom-desktop__btn-block"></div>
                    </div>
                </div>
            </div>

            <div class="card-active-custom-desktop">
                <div class="card-active-custom-desktop__wrap">
                    <div class="card-active-custom-desktop__row">
                        <div class="card-active-custom-desktop__left">
                            <div class="card-active-custom-desktop__heading-wrap">
                                <h2 class="card-active-custom-desktop__heading">
                                    Фитосила - более тысячи товаров для здоровья
                                    <div class="card-active-custom-desktop__rating-star-org rating-star-org">
                                        <i class="icon icon-star"></i>
                                        <div class="rating-star-org__value">4.9</div>
                                    </div>
                                </h2>
                                <div class="card-active-custom-desktop__collection"><i class="icon icon-box"></i>Сбор с
                                    30.05.2019</div>
                            </div>
                        </div>
                        <div class="card-active-custom-desktop__right">
                            <div class="card-active-custom-desktop__status-block">
                                <div class="card-active-custom-desktop__statusbar">
                                    <div class="statusbar is-filled">
                                        <div class="statusbar__line" style="width: 25%">Собрано <span>0</span> из
                                            <span>15000</span> руб.
                                        </div>
                                    </div>
                                    <p class="card-active-custom-desktop__start-date-collection"><b>178</b> выкуп
                                        стартовал 25
                                        сентября</p>
                                </div>
                                <div class="card-active-custom-desktop__organizer-block organizer-block">
                                    <div class="organizer-block__name-wrap">
                                        <div class="organizer-block__name">
                                            <p data-full-name="Наталья Хозяинова">Наталья Хозяинова</p>
                                        </div>
                                        <div class="organizer-block__rating">
                                            <div class="rating-star-org">
                                                <i class="rating-star-org__icon icon icon-star"></i>
                                                <div class="rating-star-org__value">4.9</div>
                                            </div>
                                        </div>
                                    </div>
                                    <p>Орзанизатор</p>
                                </div>
                                <div class="card-active-custom-desktop__like like">
                                    <i class="like__icon icon icon-heart"></i>
                                    <div class="like__text">в избранном у <span>2000</span> людей</div>
                                </div>
                            </div>
                        </div>
                        <div class="card-active-custom-desktop__btn-block">
                            <button class="arrow arrow-down arrow_inverse arrow_transp">
                                <i class="icon icon-arrow-down"></i>
                            </button>
                        </div>
                    </div>
                    <!-- Toggle block -->
                    <div class="card-active-custom-desktop__row card-active-custom-desktop__toggle-block">
                        <div class="card-active-custom-desktop__left card-active-custom-desktop__img">
                            <div class="img-container_resp"><img src="~images/cac-img.png" alt="Car"></div>
                        </div>
                        <div class="card-active-custom-desktop__right card-active-custom-desktop__toggle-block-right">
                            <div class="card-active-custom-desktop__hashtags">
                                <a class="card-active-custom-desktop__hashtags-link" href="">#SALE</a>
                                <a class="card-active-custom-desktop__hashtags-link" href="">#TOP</a>
                                <a class="card-active-custom-desktop__hashtags-link" href="">#0%</a>
                            </div>
                            <div class="card-active-custom-desktop__description">
                                Добро пожаловать в закупку качественных и эффективных средств,
                                которые помогут Вам поправить, поддержать и укрепить здоровье.
                                Препараты от компании Фитосила - это только натуральные, естественные компоненты…
                            </div>
                            <div class="card-active-custom-desktop__toggle-status">
                                <div class="card-active-custom-desktop__delivery-time">
                                    <h5>Сроки поставки</h5>
                                    <p>Неизвестно</p>
                                </div>
                                <div class="card-active-custom-desktop__access-lvl">
                                    <h5>Уровень доступа</h5>
                                    <p>0</p>
                                </div>
                                <div class="card-active-custom-desktop__payment-method">
                                    <h5>Способ оплаты</h5>
                                    <p>Расчет. счёт</p>
                                </div>
                                <div class="card-active-custom-desktop__comments">
                                    <h5>Отзывы о закупке</h5>
                                    <a class="card-active-custom-desktop__comments-link" href="#"
                                        target="_blank">450</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-active-custom-desktop__btn-block"></div>
                    </div>
                </div>
            </div>

            <div class="card-active-custom-desktop">
                <div class="card-active-custom-desktop__wrap">
                    <div class="card-active-custom-desktop__row">
                        <div class="card-active-custom-desktop__left">
                            <div class="card-active-custom-desktop__heading-wrap">
                                <h2 class="card-active-custom-desktop__heading">
                                    Фитосила - более тысячи товаров для здоровья
                                    <div class="card-active-custom-desktop__rating-star-org rating-star-org">
                                        <i class="icon icon-star"></i>
                                        <div class="rating-star-org__value">4.9</div>
                                    </div>
                                </h2>
                                <div class="card-active-custom-desktop__collection"><i class="icon icon-box"></i>Сбор с
                                    30.05.2019</div>
                            </div>
                        </div>
                        <div class="card-active-custom-desktop__right">
                            <div class="card-active-custom-desktop__status-block">
                                <div class="card-active-custom-desktop__statusbar">
                                    <div class="statusbar is-filled">
                                        <div class="statusbar__line" style="width: 25%">Собрано <span>0</span> из
                                            <span>15000</span> руб.
                                        </div>
                                    </div>
                                    <p class="card-active-custom-desktop__start-date-collection"><b>178</b> выкуп
                                        стартовал 25 сентября</p>
                                </div>
                                <div class="card-active-custom-desktop__organizer-block organizer-block">
                                    <div class="organizer-block__name-wrap">
                                        <div class="organizer-block__name">
                                            <p data-full-name="Наталья Хозяинова">Наталья Хозяинова</p>
                                        </div>
                                        <div class="organizer-block__rating">
                                            <div class="rating-star-org">
                                                <i class="rating-star-org__icon icon icon-star"></i>
                                                <div class="rating-star-org__value">4.9</div>
                                            </div>
                                        </div>
                                    </div>
                                    <p>Орзанизатор</p>
                                </div>
                                <div class="card-active-custom-desktop__like like">
                                    <i class="like__icon icon icon-heart"></i>
                                    <div class="like__text">в избранном у <span>2000</span> людей</div>
                                </div>
                            </div>
                        </div>
                        <div class="card-active-custom-desktop__btn-block">
                            <button class="arrow arrow-down arrow_inverse arrow_transp">
                                <i class="icon icon-arrow-down"></i>
                            </button>
                        </div>
                    </div>
                    <!-- Toggle block -->
                    <div class="card-active-custom-desktop__row card-active-custom-desktop__toggle-block">
                        <div class="card-active-custom-desktop__left card-active-custom-desktop__img">
                            <div class="card-active-custom-desktop__img-subcategory">
                                <div class="hover-translucend">
                                    <p>Мини-маска для лица</p>
                                    <p><span>85,00</span>руб.</p>
                                </div>
                                <div class="img-container_resp"><img src="~images/img1.png" alt="Car"></div>
                                <!-- <img src="~images/active_custom_card/meela-img3.png" alt=""> -->
                            </div>
                            <div class="card-active-custom-desktop__img-subcategory">
                                <div class="hover-translucend">
                                    <p>Мини-маска для лица</p>
                                    <p><span>85,00</span>руб.</p>
                                </div>
                                <div class="img-container_resp"><img src="~images/img1.png" alt="Car"></div>
                                <!-- <img src="~images/active_custom_card/meela-img3.png" alt=""> -->
                            </div>
                            <div class="card-active-custom-desktop__img-subcategory">
                                <div class="hover-translucend">
                                    <p>Мини-маска для лица</p>
                                    <p><span>85,00</span>руб.</p>
                                </div>
                                <div class="img-container_resp"><img src="~images/img1.png" alt="Car"></div>

                                <!-- <img src="~images/active_custom_card/meela-img3.png" alt=""> -->
                            </div>
                        </div>
                        <div class="card-active-custom-desktop__right card-active-custom-desktop__toggle-block-right">
                            <div class="card-active-custom-desktop__hashtags">
                                <a class="card-active-custom-desktop__hashtags-link" href="">#SALE</a>
                                <a class="card-active-custom-desktop__hashtags-link" href="">#TOP</a>
                                <a class="card-active-custom-desktop__hashtags-link" href="">#0%</a>
                            </div>
                            <div class="card-active-custom-desktop__description">
                                Добро пожаловать в закупку качественных и эффективных средств,
                                которые помогут Вам поправить, поддержать и укрепить здоровье.
                                Препараты от компании Фитосила - это только натуральные, естественные компоненты…
                            </div>
                            <!-- Slider -->
                            <div class="card-active-custom-desktop__slider slider slider-flex">
                                <div class="btn-l "><img src="~images/active_custom_card/slide-left.svg" alt=""></div>
                                <div class="slider-viewing">
                                    <p class="slider__heading">Подходящие каталоги внутри закупки(<span>8</span>):</p>
                                    <div class="slider-wrap">
                                        <div class="slider-items"><a href="#">Уход за кожей</a></div>
                                        <div class="slider-items"><a href="#">Уход за волосами</a></div>
                                        <div class="slider-items"><a href="#">Аппаратная косметология</a></div>
                                        <div class="slider-items"><a href="#">Уход за кожей</a></div>
                                    </div>
                                </div>
                                <div class="btn-r"> <img src="~images/active_custom_card/slide-left.svg" alt=""> </div>
                            </div>
                            <!-- End  slider -->

                            <div class="card-active-custom-desktop__toggle-status">
                                <div class="card-active-custom-desktop__delivery-time">
                                    <h5>Сроки поставки</h5>
                                    <p>Неизвестно</p>
                                </div>
                                <div class="card-active-custom-desktop__access-lvl">
                                    <h5>Уровень доступа</h5>
                                    <p>0</p>
                                </div>
                                <div class="card-active-custom-desktop__payment-method">
                                    <h5>Способ оплаты</h5>
                                    <p>Расчет. счёт</p>
                                </div>
                                <div class="card-active-custom-desktop__comments">
                                    <h5>Отзывы о закупке</h5>
                                    <a class="card-active-custom-desktop__comments-link" href="#"
                                        target="_blank">450</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-active-custom-desktop__btn-block"></div>
                    </div>
                </div>
            </div>

        </div><!-- wrapper-active-cards -->

        <footer>
            <div class="pagination-container">
                <ul class="pagination">
                    <li class="pagination__item"><i class="icon icon-arrow-left"></i></li>
                    <li class="pagination__item"><a href="">1</a></li>
                    <li class="pagination__item"><a href="">2</a></li>
                    <li class="pagination__item"><a href="">3</a></li>
                    <li class="pagination__item"><a href="">4</a></li>
                    <li class="pagination__item"><a href="">5</a></li>
                    <li class="pagination__item"><a href="">...</a></li>
                    <li class="pagination__item"><a href="">23</a></li>
                    <li class="pagination__item"><i class="icon icon-arrow-right"></i></li>
                </ul>
            </div>
            <div class="footer-img"></div>
        </footer>

    </div>


    <!-- для анимирования иконок, демонстрация -->
    <script>
        var elems = document.querySelectorAll(".category-card"); //ищем все svg

        for (let i = 0; i < elems.length; i++) {
            const element = elems[i];
            element.addEventListener("mouseenter", function add(e) {
                //вешаем события наведение на элемент
                if (element.querySelector("use")) {
                    //если эта svg из спрайта
                    var use = element.querySelector("use");
                    var attr = use.getAttribute("xlink:href"); //берём аттрибут для поиска по спрайту
                    if (document.querySelector("" + attr + "")) {
                        var clone = document.querySelector("" + attr + ""); //ищем svg в спрайте
                        clone.classList.add("active");
                        element.addEventListener("mouseleave", function (e) {
                            //вещаем событие ухода курсора
                            clone.classList.remove("active");
                        });
                    }
                }
            });
        }
    </script>



    <!-- прокрутка слайдера, только для демонстрации-->
    <script>
        var slider_body = document.querySelector(".slider-01__body");
        var slider_button_next = document.querySelector(".slider-01__next");
        var slider_button_prev = document.querySelector(".slider-01__prev");

        slider_button_next.addEventListener("click", function () {
            slider_body.style.left = "-100%";
            slider_button_next.classList.toggle("is-inactive");
            slider_button_prev.classList.toggle("is-inactive");
        });

        slider_button_prev.addEventListener("click", function () {
            slider_body.style.left = "0%";
            slider_button_prev.classList.toggle("is-inactive");
            slider_button_next.classList.toggle("is-inactive");
        });
    </script>

    <!-- Toggle block -->
    <script>
        let btnToggle = document.querySelectorAll(".btn-toggle"),
            switcher = document.querySelector(".switcher__label"),
            description = document.querySelectorAll(".card-active-custom__description-txt"),
            toggleBlock = document.querySelectorAll(".card-active-custom__wrap");

        for (let bt = 0; bt < btnToggle.length; bt++) {
            for (let tb = 0; tb < toggleBlock.length; tb++) {
                //Разворачиваем конкретную карточку
                btnToggle[tb].addEventListener("click", () => {
                    toggleBlock[tb].classList.toggle("is-toggle");
                });

                //Разворачиваем все карточки
                switcher.addEventListener('click', () => {
                    toggleBlock[tb].classList.toggle("is-toggle");
                });
            }
        }
        // Раскрываем описание
        description.forEach((e) => {
            e.addEventListener("click", () => {
                console.log("click");
                e.classList.toggle("is-toggle");
            });
        });

    </script>

    <!-- Всплывающий-фильтр -->
    <script>
        let btn_filter = document.querySelector("#btn_filter"),
            popover_filter = document.querySelector(".ds-popover_filter");

        btn_filter.addEventListener("click", () => {
            popover_filter.classList.toggle("is-visible");
        });
    </script>

    <!-- Всплывающая сортировка -->
    <script>
        let btn_sorting = document.querySelector("#btn_sorting"),
            popover_sorting = document.querySelector(".ds-popover_sorting");

        btn_sorting.addEventListener("click", () => {
            popover_sorting.classList.toggle("is-visible");
        });
    </script>


</body>

</html>