.spui-DropdownSectionFilter {
    max-width: 256px;

    &__controls {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 10px;
        color: $color-text-base;
        user-select: none;
    }
    &__all {
        cursor: pointer;
        color: #36a6f2;
        &:hover {
            text-decoration: underline;
        }
    }
    &__clear {
        cursor: pointer;
        color: #1d1e1f;
        margin-left: 10px;
        &:hover {
            color: #36a6f2;
            text-decoration: underline;
        }
    }
    &__list {
        margin: 0 -5px -5px;
    }
    &__more {
        cursor: pointer;
        line-height: 12px;
        color: #36a6f2;
        text-decoration: underline;
    }

    &__tooltip {
        user-select: none;
        border-radius: 15px;
        &:active {
            background-color: #0080F6;
        }
    }
}
