@import "@/styles/elements/_vue-slider-component-override.scss";

$RangePrice_font: $font-primary;
$RangePrice_fontSize: 12px;
$RangePrice_color: $color-text-base;

.spui-RangePrice {
    &__inputs {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2px;
    }

    &__wrapper {
        font-family: $RangePrice_font;
        font-size: $RangePrice_fontSize;
        color: $RangePrice_color;
        height: 18px;
        user-select: none;
    }

    &__input {
        font-family: $RangePrice_font;
        font-size: $RangePrice_fontSize;
        color: $RangePrice_color;
        border: unset;
        background-color: transparent;
        border-bottom: 1px solid #9AD2F8;
        min-width: 12px;
        height: 18px;

        &:focus {
            outline: 0;
        }
    }

    &__range {
        padding: 0 5px;
    }
}
