<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Как вставить фото в тему</title>
</head>
<body>

    <div class="ds-wrapper">
        <div class="ds-divider">
            <div class="insert-photo-component">
                <div class="insert-photo">
                    <div class="insert-photo__content">
                        <h1 class="insert-photo__main-heading">Как вставить фотографию в тему</h1>
                        <p class="insert-photo__txt">Вставить фото в сообщение можно двумя способами.</p>
                        <p class="insert-photo__txt insert-photo__txt_bold">1. С помощью тегов IMG, если у нас есть ссылка на изображение.</p>
                        <p class="insert-photo__txt">У каждого сообщения есть дополнительные кнопки с тегами для того или иного действия. Нам нужен тег <strong>IMG</strong>:</p>                        
                        <div class="insert-photo__img img-container_resp mw-50"><img src="~images/important_images/insert-photo/teg-img.png" alt="Изображение с выделенной кнопкой"></div>
                        <p class="insert-photo__txt">Между тегами нам нужно вставить ссылку на изображение, нажав правой кнопкой мышки и выбрав <strong>Вставить</strong>:</p>                        
                        <div class="insert-photo__img img-container_resp mw-50"><img src="~images/important_images/insert-photo/context-menu.png" alt="Изображение с выделенной кнопкой"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ds-code-wrapper">
        <script type="text/plain" class="language-markup">
            <!-- Скопировать код элемента сюда -->
        </script>
    </div>



</body>
</html>