$spui-DropdownSection-font: $font-primary;
$spui-DropdownSection-border-top: 1px solid #e3e3e3;
$spui-DropdownSection-border-bottom: 1px solid #e3e3e3;
$spui-DropdownSection-padding: 0 5px;
/* Head */
$spui-DropdownSection-head-padding: 11px 0;
$spui-DropdownSection-head-font-weight: 600;
$spui-DropdownSection-head-font-size: 12px;
$spui-DropdownSection-head-line-height: 18px;
$spui-DropdownSection-head-color: #1d1e1f;
/* Arrow */
$spui-DropdownSection-arrow-size: 7px;
$spui-DropdownSection-arrow-rotate-speed: 0.2s;
$spui-DropdownSection-arrow-color: #606266;
/* Metainfo */
$spui-DropdownSection-metainfo-font-size: 10px;
$spui-DropdownSection-metainfo-line-height: 14px;
$spui-DropdownSection-metainfo-color: #a2a3a5;
/* Body */
$spui-DropdownSection-body-font-size: 12px;
$spui-DropdownSection-body-offset: 13px;
$spui-DropdownSection-body-color: #1d1e1f;

.spui-DropdownSection {
    font-family: $spui-DropdownSection-font;
    border-top: $spui-DropdownSection-border-top;
    border-bottom: $spui-DropdownSection-border-bottom;
    padding: $spui-DropdownSection-padding;

    &__head {
        cursor: pointer;
        user-select: none;
        padding: $spui-DropdownSection-head-padding;
    }

    &__heading {
        font-weight: $spui-DropdownSection-head-font-weight;
        font-size: $spui-DropdownSection-head-font-size;
        line-height: $spui-DropdownSection-head-line-height;
        color: $spui-DropdownSection-head-color;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        span {
            margin-right: 10px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &__arrow {
        transition: transform $spui-DropdownSection-arrow-rotate-speed ease;
        font-size: $spui-DropdownSection-arrow-size;
        color: $spui-DropdownSection-arrow-color;
        transform: rotate(180deg);
    }

    &__metainfo {
        visibility: hidden;
        height: 0;
        opacity: 0;
        padding: 0;
        margin: 0;
        transition: opacity $transition-primary;
        font-size: 0;
    }

    &__body {
        padding-bottom: $spui-DropdownSection-body-offset;
        font-size: $spui-DropdownSection-body-font-size;
        color: $spui-DropdownSection-body-color;
    }

    &__slot-beforebody {
        margin-bottom: $spui-DropdownSection-body-offset;
        font-size: $spui-DropdownSection-body-font-size;
    }

    &__slot-afterbody {
        margin-bottom: $spui-DropdownSection-body-offset;
        font-size: $spui-DropdownSection-body-font-size;
    }
}

.spui-DropdownSection_collapsed {
    .spui-DropdownSection__metainfo {
        margin-right: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        opacity: 1;
        visibility: visible;
        height: auto;
        transition: opacity $transition-primary;
        font-size: $spui-DropdownSection-metainfo-font-size;
        line-height: $spui-DropdownSection-metainfo-line-height;
        color: $spui-DropdownSection-metainfo-color;
    }
    .spui-DropdownSection__bar {
        display: none;
        margin: 0;
    }
    .spui-DropdownSection__arrow {
        transition: transform $spui-DropdownSection-arrow-rotate-speed ease;
        transform: none;
    }
}
