@import "~styles/elements/_main-banner.scss";
@import "~styles/elements/_main-toggle-block.scss";
@import "~styles/elements/_main-slider.scss";
@import "~styles/elements/_main-news.scss";
@import "~styles/elements/_main-brands.scss";
@import "~styles/elements/_main-about-us.scss";
@import "~styles/elements/_main-cities.scss";
@import "~styles/elements/_main-user-actions.scss";

.main-page {
	display: flex;
	flex-direction: column;
	margin: 0 auto;

	&__main {
		display: flex;
		flex-direction: column;
	}

	&__header {
		width: 100%;
	}

	&__button {
		height: 48px;
		width: 245px;
		border: none;

		.ds-btn__text {
			font-size: 18px;
			line-height: 25px;
		}

		&_pink {
			background-color: #FF7474;
		}

		&_yellow {
			background-color: #FFB321;
		}
	}

	&__title {
		font-weight: 700;
		font-size: 14px;
		margin-left: 12px;

		.main-slider__footer-link {
			display: none;
		}
	}

	.main-wrapper-second {
		section:nth-of-type(5) {
			display: none;
		}

		section:nth-of-type(6) {
			position: relative;

			&::after {
				content: '';
				display: block;
				position: absolute;
				pointer-events: none;
				bottom: 0;
				right: 0;
				width: 80px;
				height: 100%;
				background: linear-gradient(to left, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
				z-index: 100;
			}
		}

		section:nth-of-type(10) {
			display: none;
		}
	}
}

@media (min-width: 768px) {
	.main-page {
		&__button {
			height: 36px;
			width: 186px;

			.ds-btn__text {
				font-size: 18px;
				line-height: 1;
			}
		}

		&__title {
			margin: 12px 0;
			font-size: 20px;
			line-height: 20px;

			&_ml {
				margin-left: 40px;
			}
		}

		.main-wrapper-first {
			display: flex;
			flex-direction: column;
			flex-flow: wrap;
			justify-content: space-between;
			padding: 0 40px;

			section:nth-of-type(1) {
				order: 1;
				width: 48%;
				min-height: 501px;
				margin-top: -22px;
			}

			section:nth-of-type(2) {
				order: 2;
				margin-top: 16px;
			}

			section:nth-of-type(3) {
				order: 3;
				width: 48%;
				display: flex;
				align-items: center;
				min-height: 501px;
				margin-top: -472px;
			}

			section:nth-of-type(4) {
				order: 5;
				width: 48%;
				margin-top: -335px;
			}

			section:nth-of-type(5) {
				order: 3;
				margin-top: 16px;
			}
		}

		.main-wrapper-second {
			display: flex;
			flex-direction: column;
			flex-flow: wrap;
			justify-content: space-between;
			padding: 0 40px;

			section:nth-of-type(1) {
				order: 1;
				width: 100%;
			}

			section:nth-of-type(2) {
				order: 2;
				width: 48%;
				overflow: hidden;
			}

			section:nth-of-type(3) {
				order: 3;
				width: 48%;
			}

			section:nth-of-type(4) {
				order: 5;
				width: 48%;
				overflow: hidden;
			}

			section:nth-of-type(6) {
				order: 6;
				width: 100%;

				&::after {
					display: none;
				}
			}

			section:nth-of-type(7) {
				order: 4;
				width: 48%;
				margin-top: -130px;
			}

			section:nth-of-type(8) {
				display: none;
			}

			section:nth-of-type(9) {
				display: none;
			}

		}

	}
}

@media (min-width: 1184px) {
	.main-page {
		padding: 25px 0;
		max-width: 1184px;
		margin: 0 auto;

		&__title {
			font-weight: 700;
			font-size: 14px;
			margin-left: 12px;
			display: flex;
			align-items: center;
			margin: 12px 0;

			.main-slider__footer-link {
				display: block;
				padding: 10px 0;
				margin-left: 10px;
				padding: 0;
			}

			.main-slider__footer-name {
				font-size: 14px;
				line-height: 17px;
				font-weight: normal;
			}
		}

		&__button {
			height: 48px;
		}

		.main-wrapper-first {
			display: flex;
			flex-direction: column;
			flex-flow: wrap;
			justify-content: space-between;
			padding: 0;

			section:nth-of-type(1) {
				order: 1;
				display: block;
				width: auto;
				max-width: 70%;
			}

			section:nth-of-type(2) {
				order: 2;
				width: auto;
			}

			section:nth-of-type(3) {
				order: 3;
				display: block;
				width: 70%;
				margin-top: -180px;

				.main-slider {
					margin-top: 0;
				}
			}

			section:nth-of-type(4) {
				order: 5;
				width: 70%;
				margin-top: -358px;

				.main-slider {
					margin-top: 0;
				}
			}

			section:nth-of-type(5) {
				order: 3;
				margin-top: 16px;
			}
		}

		.main-wrapper-second {
			padding: 0;

			section:nth-of-type(1) {
				order: 2;
				width: auto;
				width: 50%;
			}

			section:nth-of-type(2) {
				order: 1;
				width: 48%;
			}

			section:nth-of-type(3) {
				order: 7;
				width: 70%;

				.main-slider {
					margin-left: 40px;
				}
			}

			section:nth-of-type(4) {
				order: 3;
				width: 48%;
				margin-top: -640px;

				.main-page__title {
					display: none;
				}
			}

			section:nth-of-type(5) {
				order: 4;
				margin-top: -385px;
				display: block;
				width: 100%;

				.main-page__title {
					display: none;
				}
			}

			section:nth-of-type(6) {
				order: 5;
				margin-top: -25px;

				.main-slider {
					margin: 0;
				}
			}

			section:nth-of-type(7) {
				order: 9;
				display: block;
				width: 70%;
				margin-top: -190px;

				.main-slider {
					margin-left: 40px;
				}
			}

			section:nth-of-type(8) {
				order: 10;
				display: block;
				width: 70%;
				margin-left: 355px;
				margin-top: -380px;

				.main-slider {
					margin-left: 40px;
				}
			}

			section:nth-of-type(9) {
				order: 6;
				display: block;
				margin-top: 30px;
			}

			section:nth-of-type(10) {
				order: 7;
				margin-top: 30px;
				display: block;
			}
		}
	}
}
