$spui-InputSearch_font: $font-primary;

.spui-InputSearch {
    position: relative;
    font-family: $spui-InputSearch_font;
    font-size: 12px;

    &__input {
        background: #fff;
        border: 1.5px solid #36a6f2;
        border-radius: 48px;
        width: 100%;
        font-family: inherit;
        font-size: inherit;

        &:focus {
            outline: unset;
        }

        &::placeholder {
            color: $color-text-light-grey;
            font-size: inherit;
            font-family: inherit;
        }

        &::-ms-clear {
            display: none;
        }
    }

    &__btns {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    &__btn {
        @extend %reset-button;

        display: flex;
        align-items: center;
        justify-content: center;

        &:active {
            transform: scale(0.95);
        }

        border-radius: 50%;
        color: #36a6f2;
    }

    &__img {
        display: block;
        width: auto;
        height: 100%;
    }
}

.spui-InputSearch {
    $parent: &;

    &_sm {
        #{$parent}__btn {
            width: 24px;
            height: 24px;
            font-size: 17px;
        }

        #{$parent}__btns {
            right: 8px;
        }

        #{$parent}__input {
            padding-left: 13px;
            height: 25px;
        }
    }

    &_md {
        #{$parent}__btn {
            width: 26px;
            height: 26px;
            font-size: 22px;
        }

        #{$parent}__btns {
            right: 7px;
        }

        #{$parent}__input {
            padding-left: 13px;
            height: 32px;
        }
    }

    &_lg {
        #{$parent}__btn {
            width: 28px;
            height: 28px;
            font-size: 24px;
        }

        #{$parent}__btns {
            right: 12px;
        }

        #{$parent}__input {
            padding-left: 16px;
            height: 42px;
        }
    }
}

.spui-InputSearch {
    &.spui-InputSearch_sm {
        &.padding-right-x0 {
            .spui-InputSearch__input {
                padding-right: 13px;
            }
        }

        &.padding-right-x1 {
            .spui-InputSearch__input {
                padding-right: 35px;
            }
        }

        &.padding-right-x2 {
            .spui-InputSearch__input {
                padding-right: 60px;
            }
        }
    }
}

.spui-InputSearch {
    &.spui-InputSearch_md {
        &.padding-right-x0 {
            .spui-InputSearch__input {
                padding-right: 13px;
            }
        }

        &.padding-right-x1 {
            .spui-InputSearch__input {
                padding-right: 35px;
            }
        }

        &.padding-right-x2 {
            .spui-InputSearch__input {
                padding-right: 60px;
            }
        }
    }
}

.spui-InputSearch {
    &.spui-InputSearch_lg {
        &.padding-right-x0 {
            .spui-InputSearch__input {
                padding-right: 20px;
            }
        }

        &.padding-right-x1 {
            .spui-InputSearch__input {
                padding-right: 55px;
            }
        }

        &.padding-right-x2 {
            .spui-InputSearch__input {
                padding-right: 85px;
            }
        }
    }
}
